
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Changelog for Kendo UI Core v2016.2.504 (May 04, 2016)</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        body {
            font: .75em/1.5 Tahoma, sans-serif;
        }

        h1 {
            font-size: 2.2em;
            font-size: normal;
        }

        h2 {
            font-size: 2em;
            font-weight: normal;

            margin: 1.2em 0 .3em;
            padding-bottom: .2em;
        }

        .breaking {
            background-color: #e10c01;
            color: #fff;
            border-radius: 3px;
            padding: 3px 4px;
            display: inline-block;
            font-size: 11px;
            line-height: 1;
            font-weight: bold;
        }

        #page {
            width: 50em;
            margin: 0 auto 2em;
            border-radius: 0 0 1em 1em;
            box-shadow: 0 0 10px #ccc;
            padding: 1em 2em 2em;
        }

        .poBoxIcon {
            float: left;
            font-size: 2em;
            margin: 1.2em .5em 0 0;
        }

        .poTopLine {
            border-top: 2px solid #e1e1e1;
            margin: 17px 0 40px 0;
        }
    </style>

    <base href="http://www.telerik.com/support/whats-new/kendo-ui-web/release-history">
</head>
<body>
    <div id="page">
        <h1 class="title">Release notes for Kendo UI Core v2016.2.504</h1>

        <h1>Components</h1>
        <div class="tClear poTopLine">
            <div class="poBoxIconText">
                <p><strong>What's new</strong></p>
<ul>
<li><span class='breaking'>Breaking</span> Source files are now distributed as separate packages in the downloads section</li>
<li>TypeScript: Replace modules with ambient namespaces</li>
<li>Address memory leak in IE after calling `kendo.saveAs()`</li>
<li>Upgrade bundled jQuery to 1.12.3</li>
<li>Add LESS files to NuGet packages</li>
</ul>
                <p><strong>What's fixed</strong></p>
<ul>
<li>The compiled culture files refer kendo.core by a path</li>
<li>`gulp tests` task is missing from the gulpfile</li>
<li>Missing loading indicator in Nova theme</li>
<li>Incorrect typescript definitions for toggleable composite options</li>
</ul>
            </div>
        </div>


        <div class="tClear poTopLine">
            <h2>ActionSheet</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>Material Theme: Missing shadow for the popover</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>AngularJS</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>k-ng-model does not update $dirty and $pristine</li>
<li>DatePicker cannot be disabled in IE11 when using AngularJS.</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>Application</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>Mobile Application destroy throws error with browser history set to false</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>AutoComplete</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>DropDown Grouping Headers jump up/down on hover of the first item in the group</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>Calendar</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>Changing the month with disabled date is not possible, if the selected date in the current month equals to the disabled date in the month we try to navigate to.</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>ComboBox</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>k-ng-model does not update $dirty and $pristine</li>
<li>Virtualized widget throws an error when selected value is cleared</li>
<li>DropDown Grouping Headers jump up/down on hover of the first item in the group</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>ContextMenu</h2>
            <p><strong>What's new</strong></p>
<ul>
<li>Add support for custom image and content attributes in client side rendering</li>
<li>Add support for custom attributes in client side rendering</li>
</ul>
            
        </div>
        <div class="tClear poTopLine">
            <h2>DatePicker</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>When the selected date matches the current date, the date is difficult to read in the dropdown (Bootstrap theme)</li>
<li>DatePicker cannot be disabled in IE11 when using AngularJS.</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>DateTimePicker</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>When the selected date matches the current date, the date is difficult to read in the dropdown (Bootstrap theme)</li>
<li>setOptions of max time does not work</li>
<li>Selecting min date applies current timezone offset incorrectly</li>
<li>Result is not consistent when max date is selected</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>Drawing</h2>
            <p><strong>What's new</strong></p>
<ul>
<li>Add support for events when rendering to Canvas</li>
<li>Add drawing tooltip</li>
</ul>
            
        </div>
        <div class="tClear poTopLine">
            <h2>DropDownList</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>k-ng-model does not update $dirty and $pristine</li>
<li>Virtualized widget throws an error when selected value is cleared</li>
<li>DropDown Grouping Headers jump up/down on hover of the first item in the group</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>Excel Export</h2>
            <p><strong>What's new</strong></p>
<ul>
<li>Add Telerik.Documents.SpreadsheetStreaming library to spreadsheet redistributables</li>
<li>Update bundled JSZip to version 2.6.0</li>
<li>Add showGridLines option to Worksheet</li>
</ul>
            
        </div>
        <div class="tClear poTopLine">
            <h2>Globalization</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>Formatting numbers on groups gives unexpected output</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>Menu</h2>
            <p><strong>What's new</strong></p>
<ul>
<li>Add support for custom image and content attributes in client side rendering</li>
<li>Add support for custom attributes in client side rendering</li>
</ul>
            
        </div>
        <div class="tClear poTopLine">
            <h2>MultiSelect</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>Virtualized widget throws an error when selected value is cleared</li>
<li>DropDown Grouping Headers jump up/down on hover of the first item in the group</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>Notification</h2>
            <p><strong>What's new</strong></p>
<ul>
<li>New showText method encodes HTML entities for better protection from XSS attacks</li>
</ul>
            
        </div>
        <div class="tClear poTopLine">
            <h2>NumericTextBox</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>k-ng-model does not update $dirty and $pristine</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>PDF Export</h2>
            <p><strong>What's new</strong></p>
<ul>
<li>Update bundled pako_deflate library to version 1.0.1</li>
<li>Multi-page PDF Export will now produce documents with variable row count. The pdf.paperSize option must be set to a value different than "auto".</li>
</ul>
            <p><strong>What's fixed</strong></p>
<ul>
<li>Images are no exported to PDF when image src points to an action which execution is more than 200 - 400ms</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>Pager</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>Pager's page selector (dropdownlist) is out of place in screen &lt;= 1024px</li>
<li>In adaptive mode "goto last page" overlaps the "refresh" button of the pager</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>TabStrip</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>TabStrip tabs hover background color is wrong in type-material themes</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>ThemeBuilder</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>Resource links refer to the old CDN</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>ToolBar</h2>
            
            <p><strong>What's fixed</strong></p>
<ul>
<li>Toggleable buttons from a group cannot be selected in the overflow popup menu</li>
<li>Not possible to add space in input within a ToolBar</li>
</ul>
        </div>
        <div class="tClear poTopLine">
            <h2>Validator</h2>
            <p><strong>What's new</strong></p>
<ul>
<li>Add support for reading message values from data- prefixed rule name attribute</li>
</ul>
            
        </div>
        <div class="tClear poTopLine">
            <h2>Window</h2>
            <p><strong>What's new</strong></p>
<ul>
<li>Use CSS transforms while dragging</li>
</ul>
            
        </div>
    </div>
</body>
</html>
