/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/actionsheet.less";
@import "base.less";

/* ActionSheet */

.km-material .km-actionsheet > li > a
{
    font-weight: normal;
    text-align: left;
	padding: 1em 1.2em;
    display: block;
    margin: 0;
}

.km-material .km-actionsheet > li:last-child > a
{
    border: 0;
}

.km-material .km-shim li.km-actionsheet-title,
.km-material .km-popup li.km-actionsheet-title
{
    display: none;
}

.km-material .km-actionsheet-wrapper.km-popup
{
    padding: 2px 0;
}

.km-material .km-widget.km-actionsheet-wrapper
{
    width: 100%;
    border: 0;
    padding: .55em 0;
}
