/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/actionsheet.less";
@import "base.less";

/* ActionSheet */
.km-nova .km-actionsheet > li > a {
    font-weight: normal;
    text-align: left;
}

.km-nova li.km-actionsheet-cancel > a {
    font-weight: bold; 
}

.km-nova .km-shim li.km-actionsheet-title {
    border-width: 0 0 1px;
    border-style: solid;
    font-size: 1.2em;
    text-indent: 0;
    margin-top: 0;
    font-weight: normal;
    padding: 1.17em .7em .39em;
}

.km-nova .km-actionsheet > li:last-child > a {
    border: 0;
}

.km-nova .km-popup li.km-actionsheet-title {
    display: none;
}

.km-nova .k-overflow-wrapper .km-actionsheet-wrapper .km-actionsheet {
    border: 0;
}