/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/forms.less";
@import "base.less";

/* Forms */
.km-nova .k-slider .k-draghandle {
    width: 1.333em;
    height: 1.333em;
    border-radius: 5em;
    border: 0;
}

.km-nova .km-list .km-full-width-slider {    
    position: relative;
    margin-top: 0;
    padding: 1.55em 0;
    width: auto;
    display: block;
}

.km-nova .k-slider-horizontal .k-draghandle {
    top: 2px;
}

.km-nova .k-slider-vertical .k-draghandle {
    left: -.5em;
}

.km-nova .k-slider-horizontal .k-slider-selection {
    margin-top: 0;
}

.km-nova .k-slider-vertical .k-slider-selection {
    margin-left: -.1em;
    width: .29rem;
}

.km-nova .k-slider-horizontal .k-slider-track {
    height: .29rem;
}

.km-nova .k-slider-vertical .k-slider-track {
    width: .29rem;
}

.km-nova .k-slider-selection {
    margin-left: 0;
}

.km-nova .k-slider .k-draghandle,
.km-nova .k-slider .k-draghandle:hover {
    margin-top: -.665em;
    padding: 0;
    background-clip: content-box;
    -webkit-background-clip: content-box;
}

.km-nova .k-slider .k-draghandle:active:before {
    opacity: .4;
} 

.km-nova .k-slider .k-draghandle,
.km-nova .k-slider .k-draghandle:hover {
    border: 0;
    border-radius: 5em;
}

.km-nova .k-slider-track {
    .box-sizing(content-box);
    border-radius: .5em;
    border-width: 0;
}

.km-nova .k-slider-selection {
    margin-left: 0;
}

.km-nova .km-list input[type=password],
.km-nova .km-list input[type=search],
.km-nova .km-list input[type=number],
.km-nova .km-list input[type=tel],
.km-nova .km-list input[type=url],
.km-nova .km-list input[type=email],
.km-nova .km-list input[type=month],
.km-nova .km-list input[type=color],
.km-nova .km-list input[type=week],
.km-nova .km-list input[type=date],
.km-nova .km-list input[type=time],
.km-nova .km-list input[type=datetime],
.km-nova .km-list input[type=datetime-local],
.km-nova .km-list input[type=text]:not(.k-input),
.km-nova .km-list select:not([multiple]),
.km-nova .km-list .k-dropdown-wrap,
.km-nova .km-list textarea {
    .appearance(none);
    font-size: 1.2rem;
    min-width: 6em;
    border: 0;
    outline: none;
    background: transparent;
    margin-top: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.km-nova .km-list .k-dropdown-wrap {
    padding: .2em;
}

.km-nova .km-list .k-dropdown {
    font-weight: normal;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
}

.km-nova .km-list input[type=color],
.km-nova .km-list input[type=week],
.km-nova .km-list input[type=date],
.km-nova .km-list input[type=time],
.km-nova .km-list input[type=month],
.km-nova .km-list input[type=datetime],
.km-nova .km-list input[type=datetime-local],
.km-nova .km-list .k-dropdown {
    text-align: left;
}

.km-nova .km-list .km-label-above .k-dropdown-wrap {
    display: block;
    border-radius: 0;
    background: transparent;
    .box-shadow(none);
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.km-nova .km-list .km-label-above .k-dropdown-wrap .k-input {
    text-indent: 0;
    padding: .2em 0;
}

.km-nova .km-label-above {
    width: 100%;
    font-size: 0.87em;
    display: block;
    margin-top: -1.3em;
    padding-top: .92em;
    padding-bottom: 3.3em;
    margin-bottom: -2em;
}

.km-nova .km-label-above textarea { 
    top: 50%;
}

.km-nova .km-label-above,
.km-nova label.km-inline-field {
    font-size: .72em;
    line-height: 1.2em;
}

.km-nova .km-list .km-label-above input[type=text]:not(.k-input),
.km-nova .km-list .km-label-above input[type=password],
.km-nova .km-list .km-label-above input[type=search],
.km-nova .km-list .km-label-above input[type=number],
.km-nova .km-list .km-label-above input[type=tel],
.km-nova .km-list .km-label-above input[type=url],
.km-nova .km-list .km-label-above input[type=email], 
.km-nova .km-list .km-label-above input[type=file], 
.km-nova .km-list .km-label-above input[type=month],
.km-nova .km-list .km-label-above input[type=color],
.km-nova .km-list .km-label-above input[type=week],
.km-nova .km-list .km-label-above input[type=date],
.km-nova .km-list .km-label-above input[type=time],
.km-nova .km-list .km-label-above input[type=datetime],
.km-nova .km-list .km-label-above input[type=datetime-local],
.km-nova .km-list .km-label-above select:not([multiple]),
.km-nova .km-list .km-label-above .k-dropdown,
.km-nova .km-list .km-label-above textarea {
    width: 100%;
    right: 0;
    padding-left: 0;
    left: .89em;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.km-nova label.km-required:after {
    content: "*";
    display: inline-block;
    width: 1rem;
    height: 1rem;    
}

.km-nova .km-icon-label.km-required:after {
    margin-left: -.89em;
}

.km-nova .km-icon-label:before {
    display: inline-block;
    width: 1em;
    height: 1em;
    font: 1em/1em "Kendo UI";
    margin-right: .89em;
}

.km-nova .km-icon-label input[type=password],
.km-nova .km-icon-label input[type=search],
.km-nova .km-icon-label input[type=number],
.km-nova .km-icon-label input[type=tel],
.km-nova .km-icon-label input[type=url],
.km-nova .km-icon-label input[type=email],
.km-nova .km-icon-label input[type=month],
.km-nova .km-icon-label input[type=color],
.km-nova .km-icon-label input[type=week],
.km-nova .km-icon-label input[type=date],
.km-nova .km-icon-label input[type=time],
.km-nova .km-icon-label input[type=datetime],
.km-nova .km-icon-label input[type=datetime-local],
.km-nova .km-icon-label input[type=text]:not(.k-input),
.km-nova .km-icon-label select:not([multiple]),
.km-nova .km-icon-label .k-dropdown-wrap,
.km-nova .km-icon-label textarea {
    right: auto;
}

.km-nova .km-list fieldset {
    border: none;
    padding: 0 1.61em;
    margin: -1.18em -1.61em;
}

.km-nova .km-list textarea,
.km-nova .km-list fieldset input[type=password],
.km-nova .km-list fieldset input[type=search],
.km-nova .km-list fieldset input[type=number],
.km-nova .km-list fieldset input[type=tel],
.km-nova .km-list fieldset input[type=url],
.km-nova .km-list fieldset input[type=email],
.km-nova .km-list fieldset input[type=month],
.km-nova .km-list fieldset input[type=color],
.km-nova .km-list fieldset input[type=week],
.km-nova .km-list fieldset input[type=date],
.km-nova .km-list fieldset input[type=time],
.km-nova .km-list fieldset input[type=datetime],
.km-nova .km-list fieldset input[type=datetime-local],
.km-nova .km-list fieldset input[type=text]:not(.k-input),
.km-nova .km-list fieldset select:not([multiple]),
.km-nova .km-list fieldset .k-dropdown-wrap {
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.km-nova .km-list fieldset > input[type=password],
.km-nova .km-list fieldset > input[type=search],
.km-nova .km-list fieldset > input[type=number],
.km-nova .km-list fieldset > input[type=tel],
.km-nova .km-list fieldset > input[type=url],
.km-nova .km-list fieldset > input[type=email],
.km-nova .km-list fieldset > input[type=month],
.km-nova .km-list fieldset > input[type=color],
.km-nova .km-list fieldset > input[type=week],
.km-nova .km-list fieldset > input[type=date],
.km-nova .km-list fieldset > input[type=time],
.km-nova .km-list fieldset > input[type=datetime],
.km-nova .km-list fieldset > input[type=datetime-local],
.km-nova .km-list fieldset > input[type=text]:not(.k-input),
.km-nova .km-list fieldset > select:not([multiple]),
.km-nova .km-list fieldset > .k-dropdown-wrap {
    padding: 1.23em 0; 
}

.km-nova .km-list fieldset textarea {
    width: 100%;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    margin-right: 0;
    padding-left: 0;
}

.km-nova .km-list fieldset input[type=password],
.km-nova .km-list fieldset input[type=search],
.km-nova .km-list fieldset input[type=number],
.km-nova .km-list fieldset input[type=tel],
.km-nova .km-list fieldset input[type=url],
.km-nova .km-list fieldset input[type=email],
.km-nova .km-list fieldset input[type=month],
.km-nova .km-list fieldset input[type=color],
.km-nova .km-list fieldset input[type=week],
.km-nova .km-list fieldset input[type=date],
.km-nova .km-list fieldset input[type=time],
.km-nova .km-list fieldset input[type=datetime],
.km-nova .km-list fieldset input[type=datetime-local],
.km-nova .km-list fieldset input[type=text]:not(.k-input),
.km-nova .km-list fieldset select:not([multiple]),
.km-nova .km-list fieldset .k-dropdown-wrap,
.km-nova .km-list fieldset textarea {
    width: 100%;
    position: relative;
}

.km-nova .km-list fieldset legend {
    text-indent: 0;
    margin: 0 -1.61em;
    font-weight: normal;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 1.28em 1.61em .55em;
    width: 100%;
    box-sizing: content-box;
}

.km-nova .km-legend-button {
    display: block;
    padding: 1.17em 1.61em .39em;
    margin: -1.17em -1.61em -.39em;
}

.km-nova .km-inline-field {
    display: inline-block;
    position: relative;
    width: calc((100% - 3.22em)/2);
    overflow: hidden;
    white-space: nowrap;
}

.km-nova .km-list fieldset .km-inline-field {
    margin-top: 0;
    margin-left: 0;
    padding-left: 1.61em;
    border-right-width: 1px;
    border-right-style: solid;
}

.km-nova .km-list fieldset .km-inline-field:first-of-type {
    padding-left: 0;
}

.km-nova .km-inline-field.km-label-above {
    margin-bottom: 0;
}

.km-nova .km-list .km-inline-field input[type=text]:not(.k-input),
.km-nova .km-list .km-inline-field input[type=password],
.km-nova .km-list .km-inline-field input[type=search],
.km-nova .km-list .km-inline-field input[type=number],
.km-nova .km-list .km-inline-field input[type=tel],
.km-nova .km-list .km-inline-field input[type=url],
.km-nova .km-list .km-inline-field input[type=email],
.km-nova .km-list .km-inline-field input[type=file],
.km-nova .km-list .km-inline-field input[type=month],
.km-nova .km-list .km-inline-field input[type=color],
.km-nova .km-list .km-inline-field input[type=week],
.km-nova .km-list .km-inline-field input[type=date],
.km-nova .km-list .km-inline-field input[type=time],
.km-nova .km-list .km-inline-field input[type=datetime],
.km-nova .km-list .km-inline-field input[type=datetime-local],
.km-nova .km-list .km-inline-field select:not([multiple]),
.km-nova .km-list .km-inline-field .k-dropdown,
.km-nova .km-list .km-inline-field textarea {
    position: absolute;
    width: 100%;
    left: 0;
    padding-left: 0;
    padding-left: 1em; 
}

.km-nova .km-list .km-inline-field:first-of-type input[type=text]:not(.k-input),
.km-nova .km-list .km-inline-field:first-of-type input[type=password],
.km-nova .km-list .km-inline-field:first-of-type input[type=search],
.km-nova .km-list .km-inline-field:first-of-type input[type=number],
.km-nova .km-list .km-inline-field:first-of-type input[type=tel],
.km-nova .km-list .km-inline-field:first-of-type input[type=url],
.km-nova .km-list .km-inline-field:first-of-type input[type=email],
.km-nova .km-list .km-inline-field:first-of-type input[type=file],
.km-nova .km-list .km-inline-field:first-of-type input[type=month],
.km-nova .km-list .km-inline-field:first-of-type input[type=color],
.km-nova .km-list .km-inline-field:first-of-type input[type=week],
.km-nova .km-list .km-inline-field:first-of-type input[type=date],
.km-nova .km-list .km-inline-field:first-of-type input[type=time],
.km-nova .km-list .km-inline-field:first-of-type input[type=datetime],
.km-nova .km-list .km-inline-field:first-of-type input[type=datetime-local],
.km-nova .km-list .km-inline-field:first-of-type select:not([multiple]),
.km-nova .km-list .km-inline-field:first-of-type .k-dropdown,
.km-nova .km-list .km-inline-field:first-of-type textarea {
    margin-left: 0;
    padding-left: 0;
}

/* Checkboxes and RadioButtons inside ListView */
.km-nova input[type=radio],
.km-nova input[type=checkbox] {
    border-width: 2px;
    border-style: solid;
    height: 1.882rem;
    width: 1.882rem;
    border-radius: 3px;
    opacity: 1;
    margin: 0;
    top: auto;
}

.km-nova .km-list input[type=radio],
.km-nova .km-list input[type=checkbox] {
    right: 0;
}

.km-nova input[type=radio] {
    height: 1.882rem;
    width: 1.882rem;
    border-radius: 50%;
}

.km-nova input[type=radio].km-check:checked:after,
.km-nova input[type=checkbox].km-check:after {
    content: "\a0";
    display: block;
    font-size: 1.2em;
    text-align: center;
}

.km-nova input[type=checkbox].km-check:checked:after {
    margin-left: -1px;
}

.km-nova input[type=radio].km-check:checked:after {
    margin-top: 0.269rem;
    margin-left: 0.269rem;
    width: 1.075rem;
    height: 1.075rem;
    border-radius: 50%;
}

/* Standalone Checkboxes and RadioButtons */
.km-nova input.km-checkbox,
.km-nova input.km-radio {
    display: inline;
    opacity: 0;
    width: 0;
    margin: 0;
    height: 0;
}

.km-nova .km-checkbox-label,
.km-nova .km-radio-label {
    display: block;
    position: relative;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 2.5em;
    margin-left: .89em;
}

.km-nova .km-checkbox-label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.613rem;
    height: 1.613rem;
    border-width: 0.133rem;
    border-style: solid;
    border-radius: 3px;
}

.km-nova .km-checkbox-label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.613rem;
    height: 1.613rem;
    border-width: 0.133rem;
    border-style: solid;
    border-radius: 3px;
}

.km-nova input.km-checkbox:checked + .km-checkbox-label:after {
    content: "\e227";
    font-size: 1.2em;
    line-height: 1em;
    font-family: "Kendo UI";  
}

//Radio buttons
.km-nova .km-radio-label {
    position: relative;
    padding-left: 2.5em;
    vertical-align: middle;
    line-height: 1.5em;  
}

.km-nova .km-radio-label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.6rem;
    height: 1.6rem;
    border-width: 0.133rem;
    border-style: solid;
    border-radius: 50%;
}

.km-nova input.km-radio:checked + .km-radio-label:after {
    content: "";
    width: 1.067rem;
    height: 1.067rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0.365rem;
    border-radius: 50%;
}