/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/modalview.less";
@import "base.less";

.km-nova .km-popup .km-navbar .km-view-title,
.km-nova .km-modalview .km-header .km-navbar .km-view-title {
    padding-left: .591em;
}

.km-nova .km-modalview .km-footer .km-rightitem {
    width: 100%;
    right: 0;
}

.km-nova .km-modalview .km-footer .km-rightitem .km-button {
    width: 50%;
    height: 100%;
    border-radius: 0;
    margin: 0;
    padding: .88em 0;
    line-height: 1.5em;
    box-sizing:border-box;        
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;  
    border-width: 1px 0 0 0;
    border-style: solid;
}

.km-nova .km-modalview .km-footer .km-rightitem .km-button:last-child {
    border-left-width: 1px;
}