/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/scrollview.less";
@import "base.less";

/* ScrollView */
.km-nova .km-scrollview-overlay .km-pages {
    padding-top: .4em;
    position: absolute;
    bottom: 3.5em;
    left: 0;
    right: 0;
}

.km-nova .km-pages li {   
    width: .55rem;
    height: .55rem;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
}

