/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/icons.less";
@import "../common/tabstrip.less";
@import "base.less";

/* TabStrip */
.km-nova .km-tabstrip {
    padding: 0;
    display: table;
    table-layout: fixed;
    min-height: 4.1rem;
}

.km-nova .km-tabstrip .km-button {
    font-size: .6em;
    display: table-cell;
    border: 0;
    padding: 0;
}

.km-nova .km-tabstrip .km-icon {
    font-size: 2rem;
    margin-bottom: .29rem; 
}

.km-nova .km-tabstrip .km-button .km-icon {
    margin: 0 auto .1em;
}

/* Badges */
.km-nova .km-tabstrip .km-badge {
    margin-left: .5em;
    border-radius: 0;
    height: 1.834rem;
    line-height: 1.45rem;
    clip-path: polygon(0 68%, 100% 100%, 100% 0, 0 0);
    -webkit-clip-path: polygon(0 68%, 100% 100%, 100% 0, 0 0);
    background-image: linear-gradient(to bottom, #f54c4d 0%, #e51841 100%);
}
