/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/navbar.less";
@import "../../common/transitions.less";
@import "base.less";

/* ToolBar */
.km-nova .k-toolbar {
    line-height: 1.2em;
    padding: .4em 3.4em .4em .5em;
}

.km-nova .k-toolbar .km-button,
.km-nova .k-toolbar .k-split-button { 
    line-height: inherit;
}