﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Residency Agreement</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>



    @*Kendo*@
    <link href="~/scripts/2014.1.318/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/scripts/2014.1.318/kendo.default.min.css" rel="stylesheet" />
    <link href="~/scripts/2014.1.318/kendo.common.min.css" rel="stylesheet" />
    <script src="~/scripts/Kendo/2014.1.318/kendo.web.min.js"></script>
    <script src="~/scripts/Js Files/common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="~/scripts/jquery.watermark.min.js"></script>
    @*Calender*@
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  @*Validation scropt*@
@*<script src="http://code.jquery.com/jquery-1.9.1.js"></script>*@
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
@*Validation scropt*@
    </head>
    <body>

        @if (Session["userID"] != null && Session["UserName"] != null)
        {

            <div class="navbar main-menu-bar">

                <div class="navbar-header">
                    @if (Session["userID"] != null && Session["UserName"] != null)
                    {

                        <span class="rightUserDetail">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="top-login-icon"><img src="~/images/download.jpg" /></span> <span class="login-text">Welcome @Convert.ToString(Session["UserName"])!</span> <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="cadetblue focus underline" href="/Home/logout">Logout</a></li>
                                        <li><a href="http://www.rk.com.au/about-us/" target="_blank">About us</a></li>

                                    </ul>

                                </li>
                            </ul>


                        </span>
                    }



                    @*@Html.ActionLink("Residency Agreement", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <div class="main-logo"><img src="~/images/logo.png" /></div>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>



        </div>


        if (Session["SuperAdminID"] != null)
        {

            <div class="back-button-bar"><span class="LoginAsAdmin"><a href="/Home/SignInAsAdmin"><span aria-hidden="true" class="glyphicon glyphicon-triangle-left createaccoutn-left-icon"></span> Back to Admin</a></span></div>

        }
        else
        {
            if (ViewBag.PreURL != null)
            {
                <div class="back-button-bar"><span class="LoginAsAdmin"><a href="@ViewBag.PreURL"><span aria-hidden="true" class="glyphicon glyphicon-triangle-left createaccoutn-left-icon"></span> Back to Previous</a></span></div>
            }
        }



    }
    @Html.Action("getMenu", "Home")
    <div class="content-section">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>