﻿@model WebApplication1.Models.SaveDocumets.AccommodationPaymentModel
@{
    ViewBag.Title = "Accommodation Payment";
    Layout = null;
}
<script src="~/scripts/Js Files/AccommodationPayment.js"></script>
@using (Html.BeginForm("_AccommodationPayment", "SavedDocument", FormMethod.Post, new { id = "Accomodationform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(d => d.DocumentID)
    @Html.HiddenFor(d => d.ID)


    <div class="accoutn-owner-setting AccommodationPayment">
        <div class="tabing-row">
            <div class="accommodation-payment">
                @Html.HiddenFor(m => m.AccomPayment)
                @{
                    string AccomPaymentyes = "checked = 'checked'";
                    string AccomContributionYes = "";
                }
                @if (Model.AccomPayment)
                {
                    AccomPaymentyes = "checked ='checked'";
                    AccomContributionYes = "";

                }
                else if (Model.AccomContribution)
                {
                    AccomContributionYes = "checked = 'checked'";

                }
                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.AccomPayment)</span>

                    <input type="radio" name="rdAccomPayment" value="true" class="radioAccomodation"  @AccomPaymentyes />
                    @*@Html.RadioButtonFor(d => d.AccomPayment, "true", new { @checked = "checked", @class = "radioAccomodation" })*@

                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.AccomContribution)</span>
                    @*@Html.RadioButtonFor(d => d.AccomPayment, "false", new { @class = "radioAccomodation" })*@
                    <input type="radio" name="rdAccomPayment" value="false" class="radioAccomodation" @AccomContributionYes />

                </div>

            </div>
        </div>

        <div class="accommodation-feilds">

            <div class="accommodation-left" id="dvAccomoPayment">
                <div class="tab-row">
                    <span class="BillingAddress">Accommodation Contribution</span>
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.RADEquivalent)</span>
                    @Html.TextBoxFor(d => d.RADEquivalent)
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.DAPEquivalent)</span>
                    @Html.TextBoxFor(d => d.DAPEquivalent)
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.MPIR)</span>
                    @Html.TextBoxFor(d => d.MPIR)
                </div>


                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.AdmissionsDate1)</span>
                    @Html.TextBoxFor(d => d.AdmissionsDate1)
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.ProjectPaymentDecDate1)</span>
                    @Html.TextBoxFor(d => d.ProjectPaymentDecDate1)
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.ActualPaymentDate1)</span>
                    @Html.TextBoxFor(d => d.ActualPaymentDate1)
                </div>


            </div>

            <div class="accommodation-right">
                <div class="tab-row">
                    <span class="BillingAddress">Payment Method</span>
                </div>
                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.PaymentMethod)</span>
                    @Html.DropDownListFor(d => d.PaymentMethod, Model.PaymentMethods, new { @class = "drop" })
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.RAD)</span>
                    @Html.TextBoxFor(d => d.RAD)
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.DAP)</span>
                    @Html.TextBoxFor(d => d.DAP)
                </div>


                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.DrawdownDAP)</span>
                    @Html.CheckBoxFor(d => d.DrawdownDAP)
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.DrawdownRecoMethod)</span>
                    @Html.DropDownListFor(d => d.DrawdownRecoMethod, Model.DrawdownRecoveryMethods, new { @class = "drop" })
                </div>


            </div>

        </div>
        <div class="login-row owner-btn accoutn-owner-setting">
            <span class="login-col-button"><input type="submit" id="btn_submit" value="Save" /></span>
            <span class="login-col-button"><input type="reset" id="btn_submit" value="Clear" /></span>
        </div>
    </div>


                    }
