﻿@model WebApplication1.Models.SaveDocumets.IncomeAndAssetsModel
@{
    ViewBag.Title = "Income/Assets";
    Layout = null;
}
<script src="~/scripts/Js Files/IncomeOrAssests.js"></script>
@using (Html.BeginForm("_IncomeOrAssests", "SavedDocument", FormMethod.Post, new { id = "frmincomeassests" }))
{
    @Html.HiddenFor(d => d.DocumentID)
    @Html.HiddenFor(d => d.ID)



    <div class="accoutn-owner-setting income-assest-page">
        <div class="tabing-row" id="tbl_Panel">
            <div class="incomeorassests">
                <div class="income-outer">
                    <div class="income-section">
                        <h3>Income/Assets</h3>
                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(d => d.DeclineToDeclare)</span>
                            @Html.CheckBoxFor(d => d.DeclineToDeclare)
                        </div>

                        <div class="declined-to-declare">

                            <div class="tab-row">
                                <span class="account-label">@Html.LabelFor(d => d.GovtIncomeSuppPayment)</span>
                                @Html.TextBoxFor(d => d.GovtIncomeSuppPayment)
                                <a href="javascript:void()" class="notification larg-notification">
                                    <span class="information-icon">i</span> <span class="information-text">
                                        (If your income has been assessed by Centrelink or DVA, include the
                                        amount on your assessment notice.Otherwise, include your income support payments such as the age
                                        pension, a service pension or carers payments. Do not include
                                        pharmaceutical allowance, rent assistance, telephone allowance or
                                        the pension supplement)
                                    </span>
                                </a>
                            </div>

                            <div class="tab-row">
                                <span class="account-label">@Html.LabelFor(d => d.OtherIncome)</span>
                                @Html.TextBoxFor(d => d.OtherIncome)
                                <a href="javascript:void()" class="notification medium-notification">
                                    <span class="information-icon">i</span> <span class="information-text">
                                       If you have any other income, include it here. <br/>
                                       Other income can also include income from other Australian Government departments such as the DVA that is not an income support payment (e.g. war widows pension, disability pension). <br/>
                                       Examples of other income include:<br/>
                                       1. Income from work (or your partner’s work) <br />
                                       2. Regular compensation payments<br />
                                       3. Payments from outside Australia <br />
                                       4. Money from a home equity conversion loan. 
                                    </span>
                                </a>

                            </div>

                            <div class="tab-row">
                                <span class="account-label">@Html.LabelFor(d => d.YourIncome)</span>
                                @Html.TextBoxFor(d => d.YourIncome)
                            </div>
                            <div class="tab-row notification-row">
                                <span class="account-label">@Html.LabelFor(d => d.NetRetirementVillageEntCont)</span>
                                @Html.TextBoxFor(d => d.NetRetirementVillageEntCont)
                                <a href="javascript:void()" class="notification"><span class="information-icon">i</span> <span class="information-text">(refundable balance less loans)</span></a>

                            </div>
                            <div class="tab-row">
                                <span class="account-label">@Html.LabelFor(d => d.AccommodationBond)</span>
                                @Html.TextBoxFor(d => d.AccommodationBond)
                            </div>


                            <div class="tab-row">
                                <span class="account-label">@Html.LabelFor(d => d.FinancialAccounts)</span>
                                @Html.TextBoxFor(d => d.FinancialAccounts)
                                <a href="javascript:void()" class="notification medium-notification">
                                    <span class="information-icon">i</span> <span class="information-text">
                                         Examples of deposits include:<br/>
                                         1. bank accounts<br />
                                         2. term deposits<br />
                                         3. bonds<br />
                                         4. debentures<br />
                                         5. money on loan<br />
                                         Include the balance of these accounts. Do not include any interest earned.
                                    </span>
                                </a>
                            </div>



                            <div class="tab-row">
                                <span class="account-label">@Html.LabelFor(d => d.Shares)</span>
                                @Html.TextBoxFor(d => d.Shares)
                                <a href="javascript:void()" class="notification medium-notification">
                                    <span class="information-icon">i</span> <span class="information-text">
                                        Examples of shares include:<br />
                                        1.Listed and unlisted shares <br />
                                        2.Options rights<br />
                                        3.Other securities<br />
                                        Include the total current value of the shares 
                                    </span>
                                </a>
                            </div>

                            <div class="tab-row">
                                <span class="account-label">@Html.LabelFor(d => d.ManagedInvestment)</span>
                                @Html.TextBoxFor(d => d.ManagedInvestment)
                                <a href="javascript:void()" class="notification medium-notification">
                                    <span class="information-icon">i</span> <span class="information-text">                                    
                                     Examples of investments include:<br />
                                      1. Property, equity, case or mortgage trusts<br />
                                      2. Public unit trusts such as cash management, mortgage, share (equity) and bond trusts <br/>
                                      Include the balance of these investments. Do not include any interest earned.                                                                            
                                    </span>
                                </a>
                            </div>

                            <div class="tab-row">
                                <span class="account-label">@Html.LabelFor(d => d.AssessableIncomeStreams)</span>
                                @Html.TextBoxFor(d => d.AssessableIncomeStreams)
                            </div>

                            <div class="tab-row">
                                <span class="account-label">@Html.LabelFor(d => d.ForeginAssets)</span>
                                @Html.TextBoxFor(d => d.ForeginAssets)
                                <a href="javascript:void()" class="notification medium-notification">
                                    <span class="information-icon">i</span> <span class="information-text">
                                     Include the value of all overseas assets including investments, business interests and real estate.
                                    </span>
                                </a>
                            </div>

                            <div class="tab-row">
                                <span class="account-label">@Html.LabelFor(d => d.RealEstateAndBusinessInt)</span>
                                @Html.TextBoxFor(d => d.RealEstateAndBusinessInt)
                                <a href="javascript:void()" class="notification medium-notification">
                                    <span class="information-icon">i</span> <span class="information-text">
                                       Include an estimate of the current market value of any investment properties or other real estate. Do not reduce the value by any mortgage or debt over the property.<br/>
                                       <strong>Do not</strong> include the family home, interest in a retirement village or granny flat.
                                    </span>
                                </a>
                            </div>

                            <div class="tab-row">
                                <span class="account-label">@Html.LabelFor(d => d.PrivateTrusts)</span>
                                @Html.TextBoxFor(d => d.PrivateTrusts)
                                <a href="javascript:void()" class="notification larg-notification">
                                    <span class="information-icon">i</span> <span class="information-text">
                                        If you receive an income support payment, include the asset amount of a private trust or company that Centrelink has attributed to you. This amount will be on your statement of income and assets.<br />
                                        If you are not in receipt of an income support payment, include the total value of your interest in the private trust or private company.<br />
                                        When Centrelink assesses your income and assets, they may attribute a different amount than the amount you include here. This is because Centrelink will need to determine the amount of assets attributed to you based on the details of your trust or private company. For more information, please contact Centrelink.
                                    </span>
                                </a>
                            </div>

                            <div class="tab-row">
                                <span class="account-label">@Html.LabelFor(d => d.GiftsOrDeprivation)</span>
                                @Html.TextBoxFor(d => d.GiftsOrDeprivation)
                                <a href="javascript:void()" class="notification larg-notification">
                                    <span class="information-icon">i</span> <span class="information-text">
                                        If you have gifted away assets over $10,000 in a single financial year or $30,000 over five financial years, the amounts above these limits will be included in your assets assessment.<br/>
                                        Include the amount above the limits as a financial asset.
                                    </span>
                                </a>
                            </div>

                        </div>

                    </div>
                    <div class="pension-section">
                        <h3>
                            @*<a href="javascript:void()"><span class="information-icon">i</span> <span class="information-text">(TT)If you have a partner then we have assessed half of the value of you and your partner’s combined </span></a>*@ Pension Status

                        </h3>

                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(d => d.FullPension)</span>
                            @Html.CheckBoxFor(d => d.FullPension, new { @class = "CBPension" })
                        </div>
                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(d => d.PartPension)</span>
                            @Html.CheckBoxFor(d => d.PartPension, new { @class = "CBPension" })
                        </div>
                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(d => d.SelfFundedRetiree)</span>
                            @Html.CheckBoxFor(d => d.SelfFundedRetiree, new { @class = "CBPension" })
                        </div>
                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(d => d.PensionNumber)</span>
                            @Html.TextBoxFor(d => d.PensionNumber)
                        </div>
                    </div>
                    


                </div>
                <div class="debt-outer">

                    <div class="debts-section">
                        <h3>Debts</h3>
                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(d => d.DebtsPersonalLoans)</span>
                            @Html.TextBoxFor(d => d.DebtsPersonalLoans)
                        </div>

                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(d => d.DebtsOther)</span>
                            @Html.TextBoxFor(d => d.DebtsOther)
                        </div>
                    </div>
                    <div class="debts-Reduction">
                        <h3>Asset Reduction Amounts</h3>
                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(d => d.AsstRedAmtPrisonerOfWar)</span>
                            @Html.TextBoxFor(d => d.AsstRedAmtPrisonerOfWar)
                        </div>
                    </div>
                    <div class="totals-section">
                        <h3>Totals</h3>
                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(d => d.NetAssets)</span>
                            <span class="income-account">@Html.TextBoxFor(d => d.NetAssets, new { @disabled = "disabled" })</span>
                        </div>

                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(d => d.NetDebts)</span>
                            <span class="income-account">@Html.TextBoxFor(d=>d.NetDebts , new {@disabled="disabled"})</span>
                        </div>
                        
                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(d => d.NetIncome)</span>
                            <span class="income-account">@Html.TextBoxFor(d => d.NetIncome, new { @disabled = "disabled" })</span>
                        </div>
                    </div>
                    @*<div class="debts-Care">
                            <h3>Respite Care Only</h3>
                            <div class="tab-row">
                                <span class="account-label">@Html.LabelFor(d => d.RerspiteCareOnly)</span>
                                @Html.CheckBoxFor(d => d.RerspiteCareOnly)
                            </div>
                        </div>*@


                </div>

            </div>
        </div>







        @*<table>
                <tr>
                    <td>@Html.LabelFor(d => d.OtherAssets)</td>
                    <td>@Html.TextBoxFor(d => d.OtherAssets)</td>
                </tr>
            </table>*@

        <div class="login-row owner-btn accoutn-owner-setting">
            <span class="login-col-button"><input type="submit" id="btn_submit" value="Save" /></span>
            <span class="login-col-button"><input type="submit" id="btn_submit" value="Clear" /></span>
        </div>
    </div>
}
