﻿@using WebApplication1.Models.SaveDocumets
@model WebApplication1.Models.SaveDocumets.OccupancyDetailsModel
@{
    ViewBag.Title = "Occupancy Details";
    Layout = null;
}
<script src="~/scripts/Js Files/OccupancyDetails.js"></script>






@*<h1>Occupancy Details</h1>*@
@using (Html.BeginForm("_OccupancyDetails", "SavedDocument", FormMethod.Post, new { id = "frmoccupancy" }))
{
    @Html.HiddenFor(d => d.DocumentId)
    @Html.HiddenFor(d => d.ID)



    <div class="tabing-row">
        <div class="Occupancy-details">
            <div class="providerName">
                <h3>Facility Details</h3>
                <div class="personal-section">
                    <div class="tab-row">
                        <span class="Occupancytitle">@Html.LabelFor(d => d.ProviderName)</span>
                        <span class="Occupancytitle">@Model.ProviderName</span>
                    </div>

                    <div class="tab-row">
                        <span class="Occupancytitle">@Html.LabelFor(d => d.ProviderAdress)</span>
                        <span class="Occupancytitle">@Model.ProviderAdress</span>
                    </div>
                    <div class="tab-row">
                        <span class="Occupancytitle">@Html.LabelFor(d => d.ProviderSuburb)</span>
                        <span class="Occupancytitle">@Model.ProviderSuburb</span>
                    </div>
                    <div class="tab-row">
                        <span class="Occupancytitle">@Html.LabelFor(d => d.ProviderState)</span>
                        <span class="Occupancytitle">@Model.ProviderState</span>
                    </div>

                    <div class="tab-row">
                        <span class="Occupancytitle">@Html.LabelFor(d => d.ProviderPostalCode)</span>
                        <span class="Occupancytitle">@Model.ProviderPostalCode</span>
                    </div>

                    <div class="tab-row">
                        <span class="Occupancytitle">@Html.LabelFor(d => d.ProviderABN)</span>
                        <span class="Occupancytitle">@Model.ProviderABN</span>
                    </div>


                </div>
            </div>
            <div class="facilityName">
                <h3>Provider Details</h3>

                <div class="personal-section">
                    <div class="tab-row">
                        <span class="Occupancytitle">@Html.LabelFor(d => d.FacilityName)</span>
                        <span class="Occupancytitle">@Model.FacilityName</span>
                    </div>

                    <div class="tab-row">
                        <span class="Occupancytitle">@Html.LabelFor(d => d.FacilityAdress)</span>
                        <span class="Occupancytitle">@Model.FacilityAdress</span>
                    </div>

                    <div class="tab-row">
                        <span class="Occupancytitle">@Html.LabelFor(d => d.FacilitySuburb)</span>
                        <span class="Occupancytitle">@Model.FacilitySuburb</span>
                    </div>

                    <div class="tab-row">
                        <span class="Occupancytitle">@Html.LabelFor(d => d.FacilityState)</span>
                        <span class="Occupancytitle">@Model.FacilityState</span>
                    </div>

                    <div class="tab-row">
                        <span class="Occupancytitle">@Html.LabelFor(d => d.FacilityPostalCode)</span>
                        <span class="Occupancytitle">@Model.FacilityPostalCode</span>
                    </div>



                </div>
            </div>



        </div>
    </div>
    <div class="tabing-row">
        <div class="Occupancy-feild">

            <div class="tab-row">
                <span class="account-label">@Html.LabelFor(m => m.Wing)</span>
                @Html.TextBoxFor(m => m.Wing)
            </div>

            <div class="tab-row">
                <span class="account-label">@Html.LabelFor(m => m.AgreedEntryDate)</span>
                @Html.TextBoxFor(m => m.AgreedEntryDate)
            </div>
            <div class="tab-row">
                <span class="account-label">@Html.LabelFor(m => m.PreEntryLeave)</span>
                @Html.HiddenFor(m => m.PreEntryLeave)
                @{
                    string PreEntryLeaveCheckyes = "";
                    string PreEntryLeaveCheckNo = "checked = 'checked'";
                }
                @if (Model.PreEntryLeave)
                {
                    PreEntryLeaveCheckyes = "checked ='checked'";
                    PreEntryLeaveCheckNo = "";

                }
                else if (!Model.PreEntryLeave)
                {
                    PreEntryLeaveCheckNo = "checked = 'checked'";


                }
                <div class="Transferredandhomecare">
                    <span>
                        <input type="radio" name="rdPreEntryLeaveferred" value="true" class="rdPreEntryLeaves" @PreEntryLeaveCheckyes /> <label class="transfer-label">Yes</label>
                    </span>
                    <span>
                        <input type="radio" name="rdPreEntryLeaveferred" value="false" class="rdPreEntryLeaves" @PreEntryLeaveCheckNo /> <label class="transfer-label">No</label>
                    </span>
                  
                </div>
                </div>
            <div class="tab-row" id="dvPreEntryLeave">
                <div class="facilityName">
                    <span class="account-label">@Html.LabelFor(m => m.PeriodOfPreEntryFrom)</span>
                    @Html.TextBoxFor(m => m.PeriodOfPreEntryFrom)
                </div>
                <div class="providerName">
                    <span class="account-label">@Html.LabelFor(m => m.PeriodOfPreEntryTo)</span>
                    @Html.TextBoxFor(m => m.PeriodOfPreEntryTo)
                </div>
            </div>

            <div class="tab-row">
                <span class="account-label">@Html.LabelFor(m => m.Transferred)</span>
                @Html.HiddenFor(m => m.Transferred)
                <div class="Transferredandhomecare">
                    @{
                        string transferedCheckyes = "";
                        string transferedCheckNo = "checked = 'checked'";
                    }
                    @if (Model.Transferred)
                    {
                        transferedCheckyes = "checked ='checked'";
                        transferedCheckNo = "";

                    }
                    else if (!Model.Transferred)
                    {
                        transferedCheckNo = "checked = 'checked'";


                    }
                    <span>


                        <input type="radio" name="rdTransferred" value="true" class="radioTransferred" @transferedCheckyes /> <label class="transfer-label">Yes</label>


                    </span>
                    <span>
                        <input type="radio" name="rdTransferred"  value="false"  class="radioTransferred" @transferedCheckNo /> <label class="transfer-label">No</label>
                    </span>

                </div>
            </div>
            <div id="DvCareService" style="display: block;">
                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(m => m.DateCareServiceCommmenced)</span>
                    @Html.TextBoxFor(m => m.DateCareServiceCommmenced)
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(m => m.DateCareServiceCeased)</span>
                    @Html.TextBoxFor(m => m.DateCareServiceCeased)
                </div>
            </div>
            <div class="login-row owner-btn accoutn-owner-setting">
                <span class="login-col-button"><input type="submit" id="btn_submit" value="Save" /></span>
                <span class="login-col-button"><input type="submit" id="btn_submit" value="Clear" /></span>
            </div>

        </div>
    </div>
                        }
