﻿@model WebApplication1.Models.SaveDocumets.ResidentAndContactDetailsModel
@{
    ViewBag.Title = "AccountCreationList";

}
<script src="~/scripts/Js Files/PersonalDetails.js"></script>
@using (Html.BeginForm("ResidentAndContactDetails", "SavedDocument", FormMethod.Post, new { id = "frmresidancy" }))
{ 
    @Html.AntiForgeryToken()
    @Html.HiddenFor(d => d.DocumentID)
    @Html.HiddenFor(d => d.DocPerDetid)



    <div class="accoutn-owner-setting">
        <div class="tabing-row personal-outer">
            <div class="table-left">
                <div class="personal-section">
                    <div class="tab-row"><span class="personalDetail">Care Recipient</span></div>

                    <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.TitleId)</span>
                            @Html.DropDownListFor(m => m.TitleId, Model.TitleOptions, new { @class = "drop" })
                        </div>

                    <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.FirstName)</span>
                            @Html.TextBoxFor(m => m.FirstName,new { @maxlength = "50" })
                        </div>

                    <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.MiddleName)</span>
                            @Html.TextBoxFor(m => m.MiddleName,new { @maxlength = "50" })
                        </div>

                    <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.LastName)</span>
                            @Html.TextBoxFor(m => m.LastName,new { @maxlength = "50" })
                        </div>
                    <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.DOB)</span>
                            @Html.TextBoxFor(m => m.DOB)
                        </div>
                    <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.MaritalStatusID)</span>
                            @Html.DropDownListFor(m => m.MaritalStatusID, Model.MaritalStatus, new { @class = "drop" })
                        </div>
                </div>
            </div>

            <div class="table-right">
                        <div class="address">
                            <div class="tab-row">
                                <span class="Address">Current Residential Address</span>
                            </div>

                            <div class="tab-row">
                                    <span class="account-label">@Html.LabelFor(m => m.StreetAddress)</span>
                                    @Html.TextAreaFor(m => m.StreetAddress, new { @class = "txtAreaSaveDoc",  @maxlength = "50" })
                                </div>

                            <div class="tab-row">
                                    <span class="account-label">@Html.LabelFor(m => m.Suburb)</span>
                                    @Html.TextBoxFor(m => m.Suburb,new { @maxlength = "50" })
                                </div>


                            <div class="tab-row">
                                    <span class="account-label">@Html.LabelFor(m => m.State)</span>
                                    @Html.DropDownListFor(m => m.State, Model.AdressStates, new { @class = "drop" })
                                </div>


                            <div class="tab-row">

                                    <span class="account-label">@Html.LabelFor(m => m.PostalCode)</span>
                                    @Html.TextAreaFor(m => m.PostalCode, new { @class = "txtAreaSaveDoc", @maxlength = "5" })
                                </div>


                        </div>


            </div>
            </div>


        <div class="tabing-row billing-outer">
                <div class="billing-address">

                    <div class="tab-row">
                        <span class="BillingAddress">Billing Address</span>
                    </div>
                    <div class="tab-row">
                            <span class="account-label">Same as above:</span>
                            <input type="checkbox" id="chkBillingSameAsAbove" />
                    </div>
                    <div class="tab-row">
                        <span class="account-label">@Html.LabelFor(m => m.BillingCName)</span>
                        @Html.TextAreaFor(m => m.BillingCName, new { @class = "txtAreaSaveDoc", @maxlength = "50" })

                    </div>

                    <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.BillingStreetAddress)</span>
                            @Html.TextAreaFor(m => m.BillingStreetAddress, new { @class = "txtAreaSaveDoc",  @maxlength = "50" })
                       
                    </div>

                    <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.BillingSuburb)</span>
                            @Html.TextBoxFor(m => m.BillingSuburb, new { @maxlength = "50" })
                        </div>

                    <div class="tab-row">

                            <span class="account-label">@Html.LabelFor(m => m.BillingState)</span>
                            @Html.DropDownListFor(m => m.BillingState, Model.BillingStates, new { @class = "drop" })
                        </div>


                    <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.BillingPostalCode)</span>
                            @Html.TextBoxFor(m => m.BillingPostalCode,new { @maxlength = "5" })
                        </div>

                    <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.PrivateAndConfidential)</span>
                            @Html.CheckBoxFor(d => d.PrivateAndConfidential)
                        </div>
                </div>
        </div>

        <div class="tabing-row Emergancy-outer">
                <div class="tab-row">
                    <span class="EmergancyContact">Emergency Contact</span>
                </div>

            <div class="billing-address">

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(m => m.EmergencyRelationShipID)</span>
                    @Html.DropDownListFor(m => m.EmergencyRelationShipID, Model.EmergencyRelationship, new { @class = "drop" })
                </div>
                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(m => m.EmergencyAuthorisedRepresentative)</span>
                    @Html.CheckBoxFor(d => d.EmergencyAuthorisedRepresentative)
                </div>
                </div>
                <div class="table-left">

                    <div class="emergency-section">

                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.EmergencyContactTitleID)</span>
                            @Html.DropDownListFor(m => m.EmergencyContactTitleID, Model.EmergencyContactTitle, new { @class = "drop" })
                        </div>

                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.EmergencyContactFirstName)</span>
                            @Html.TextBoxFor(m => m.EmergencyContactFirstName,new { @maxlength = "50" })
                        </div>

                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.EmergencyContactMiddleName)</span>
                            @Html.TextBoxFor(m => m.EmergencyContactMiddleName, new { @maxlength = "50" })
                        </div>

                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.EmergencyContactLastName)</span>
                            @Html.TextBoxFor(m => m.EmergencyContactLastName,new { @maxlength = "50" })
                        </div>

                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.EmergencyContactDOB)</span>
                            @Html.TextBoxFor(m => m.EmergencyContactDOB)
                        </div>

                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.EmergencyContactHomePhone)</span>
                            @Html.TextBoxFor(m => m.EmergencyContactHomePhone, new { @maxlength = "10" })
                        </div>

                    </div>
                </div>

                <div class="table-right">
                    <div class="emergency-section">

                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.EmergencyContactStreetAddress)</span>
                            @Html.TextAreaFor(m => m.EmergencyContactStreetAddress, new { @class = "txtAreaSaveDoc", @maxlength = "50" })
                        </div>                                             


                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.EmergencyContactSuburb)</span>
                            @Html.TextBoxFor(m => m.EmergencyContactSuburb,new { @maxlength = "50" })
                        </div>


                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.EmergencyContactState)</span>
                            @Html.DropDownListFor(m => m.EmergencyContactState, Model.EmergancyStates, new { @class = "drop" })
                        </div>

                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.EmergencyContactPostalCode)</span>
                            @Html.TextBoxFor(m => m.EmergencyContactPostalCode,new { @maxlength = "10" })
                        </div>
                       
                        <div class="tab-row">
                            <span class="account-label">@Html.LabelFor(m => m.EmergencyContactMobileNumber)</span>
                            @Html.TextBoxFor(m => m.EmergencyContactMobileNumber, new { @maxlength = "10" })
                        </div>
                    </div>
                </div>
            </div>

        

        <div class="tabing-row authorised-outer">
            <div class="authorised-representatives">
                <div class="tab-row">
                    <span class="EmergancyContact">Authorised Representatives <span class="heading-notification">(Power of Attorney, Medical Attorney, Legal Gaurdian)</span></span>
                </div>
                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.clsAuthRepItemsItems.RepresenterTypeId)</span>
                    @Html.DropDownListFor(m => m.clsAuthRepItemsItems.RepresenterTypeId, Model.clsAuthRepItemsItems.RepresenterTypes, new { @class = "drop",Name= "clsAuthRepItemsItems_RepresenterTypeId" })
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.clsAuthRepItemsItems.RepresenterTitleId)</span>
                    @Html.DropDownListFor(m => m.clsAuthRepItemsItems.RepresenterTitleId, Model.clsAuthRepItemsItems.RepresenterTitle, new { @class = "drop", Name = "clsAuthRepItemsItems_RepresenterTitleId" })
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.clsAuthRepItemsItems.RepresenterFirstName)</span>
                    @Html.TextBoxFor(m => m.clsAuthRepItemsItems.RepresenterFirstName, new { Name = "clsAuthRepItemsItems_RepresenterFirstName", @maxlength = "50" })
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.clsAuthRepItemsItems.RepresenterMiddleName)</span>
                    @Html.TextBoxFor(m => m.clsAuthRepItemsItems.RepresenterMiddleName, new { Name = "clsAuthRepItemsItems_RepresenterMiddleName", @maxlength = "50" })
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.clsAuthRepItemsItems.RepresenterLastName)</span>
                    @Html.TextBoxFor(m => m.clsAuthRepItemsItems.RepresenterLastName, new { Name = "clsAuthRepItemsItems_RepresenterLastName", @maxlength = "50" })
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.clsAuthRepItemsItems.RepresenterStreetAddress)</span>
                    @Html.TextBoxFor(m => m.clsAuthRepItemsItems.RepresenterStreetAddress, new { Name = "clsAuthRepItemsItems_RepresenterStreetAddress", @maxlength = "50" })
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.clsAuthRepItemsItems.RepresenterSuburb)</span>
                    @Html.TextBoxFor(m => m.clsAuthRepItemsItems.RepresenterSuburb, new { Name = "clsAuthRepItemsItems_RepresenterSuburb", @maxlength = "50" })
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.clsAuthRepItemsItems.RepresenterPostal)</span>
                    @Html.TextBoxFor(m => m.clsAuthRepItemsItems.RepresenterPostal, new { Name = "clsAuthRepItemsItems_RepresenterPostal", @maxlength = "5" })
                </div>

                <div class="tab-row">
                    <span class="account-label">@Html.LabelFor(d => d.clsAuthRepItemsItems.RepresenterEvidenceOfAuthorityPro)</span>
                    @Html.CheckBoxFor(m => m.clsAuthRepItemsItems.RepresenterEvidenceOfAuthorityPro, new { Name = "clsAuthRepItemsItems.RepresenterEvidenceOfAuthorityPro" })
                </div>

                <div class="tab-row authorised-button-outer">
                    @Html.HiddenFor(d => d.strArrLst)
                        <input type="hidden" id="EditID" />
                        <span class="authorised-button"><input name="Command" type="button" id="btn_SavedRepItemsItems" value="+" /></span>
  
                   </div>
                    <div id="tbl_Representer">

                    </div>
                </div>
            </div>

        <div class="tabing-row">
            <div class="login-row owner-btn">
                <span class="login-col-button"><input name="Command" type="submit" id="btn_submit" value="Save" /></span>
                <span class="login-col-button"><input name="Command" type="submit" id="btn_submit" value="Clear" /></span>
            </div>
         </div>

        </div>




}
