﻿@model  WebApplication1.Models.SaveDocumets.DocumentIndexModel
@{
    ViewBag.Title = "Owner Setting";
}
<script src="~/scripts/Js Files/SaveDocuments.js"></script>
<script type="application/json">

</script>
<div id="div_Tabs">
    <div class="demo-section k-content">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">
                    <span class="home"></span>
                    <span class="tabbing-titile">Resident and Contact Details</span>
                </li>
                <li>
                    <span class="occupancy"></span>
                    <span class="tabbing-titile">Occupancy Details</span>
                </li>
                <li>
                    <span class="income"></span>
                    <span class="tabbing-titile">Income and Assets Assessment</span>
                </li>
                <li>
                    <span class="accommodation"></span>
                    <span class="tabbing-titile">Accommodation Payments</span>
                </li>
                <li>
                    <span class="carfee"></span>
                    <span class="tabbing-titile">Care Fees</span>
                </li>
                <li>
                    <span class="services"></span>
                    <span class="tabbing-titile">Additional Services</span>
                </li>
                <li>
                    <span class="security"></span>
                    <span class="tabbing-titile">Security for Payments</span>
                </li>
                <li>
                    <span class="provision"></span>
                    <span class="tabbing-titile">Additional Provision</span>
                </li>
                <li>
                    <span class="documents"></span>
                    <span class="tabbing-titile">Supporting Documents</span>
                </li>
                <li>
                    <span class="agreement"></span>
                    <span class="tabbing-titile">Issue Agreement</span>
                </li>
            </ul>
            <div id="div_ResidentAndContactDetails">
                @Html.Action("ResidentAndContactDetails", new { DocumentID = Model.ID })
            </div>
            <div id="div_OccupancyDetails">
                @Html.Action("_OccupancyDetails", new { documentID = Model.ID })
            </div>
            <div id="div_IncomeAndAssetsAssessment">
                @Html.Action("_IncomeOrAssests", new { documentID = Model.ID })
            </div>
            <div id="div_AccommodationPayments">
                @Html.Action("_AccommodationPayment", new { documentID = Model.ID })
            </div>
            <div id="div_CareFees">

            </div>
            <div id="Div_AdditionalServices">

            </div>
            <div id="Div_SecurityForPayments">

            </div>
            <div id="div_AdditionalProvision">

            </div>
            <div id="div_SupportingDocuments">

            </div>
            <div id="Div_IssueAgreement">

            </div>
            <span class="page-navigation">
                <a id="a_Pre"><span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span></a> <a id="a_Next"><span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span></a>
            </span>
     </div>
    </div>
</div>