﻿@{
    ViewBag.Title = "SavedDocument";
}
<div class="heading-section">
    <div class="heading-left">
        <h2>Save Document</h2>
    </div>

    <div class="info-add-btn">
        <a href="/SavedDocument/index" class="underline buttton">Add New</a>
    </div>

</div>

<div id="Saved-Document-grid"></div>
<script>

    $(document).ready(function () {
        $("#Saved-Document-grid").kendoGrid({
            groupable: true,
            scrollable: true,
            sortable: true,
            pageable: true,
            filterable: true,
            dataSource: {
                transport: { read: { url: "/SavedDocument/GetSavedDocuments" } },
                pageSize: 25
            },
            pageable: {
                input: true,
                numeric: false
            },
            columns: [
                {
                    title: "User Name",
                    field: "UserName",
                    width: 100
                },
                {
                    title: "Progress",
                    field: "Progress",
                    width: 150
                },
                {
                    title: "Date Created",
                    field: "DateCreated",
                    width: 100,
                    format: "{0:MM-dd-yyyy}",
                    type: "date"
                },
                {
                    title: "Facility Name",
                    field: "FacilityName",
                    width: 80
                }

                , {
                    field: "Id",
                    title: "Edit",
                    width: 100,
                    template: '<div class="account-icon"><a href="/SavedDocument/Index?DocumentID=#=Id#"><span aria-hidden="true" class="glyphicon glyphicon-pencil edit-icon"></span></a></div>'
                }
                , {
                    field: "Id",
                    title: "Delete",
                    width: 100,
                    template: '<div class="account-icon"><a href="/SavedDocument/DeleteDocument?Id=#=Id#"><span aria-hidden="true" class="glyphicon glyphicon-trash del-icon"></span></a></div>'
                }
            ]
        });
    });
</script>
