﻿@model WebApplication1.Models.FacilitiesOwnerSettingsModel
@{
    ViewBag.Title = "Owner Setting";
}


<div class="heading-section">
    <div class="heading-left">
        <h2>Account Owner Setting</h2>
    </div>
</div>
<script src="~/scripts/Js Files/AccountOwnerSetting.js"></script>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLogin", autocomplete = "on" }))
{
    @Html.HiddenFor(d => d.canEdit)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(d => d.FacilitiesID)

    <div id="div_Tabs">
        <div class="demo-section k-content">
            <div id="tabstrip">
                <ul>
                    <li class="k-state-active">
                        <span class="account-setting"></span>
                        <span class="tabbing-titile">Account Setting</span>
                    </li>
                    <li>
                        <span class="rename"></span>
                        <span class="tabbing-titile">Rename your Facilities</span>
                    </li>
                </ul>
                <div>

                    <div class="accoutn-owner-setting">

                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.userName)</span>
                            <span class="user-label"> @Model.userName</span>
                        </div>

                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.strPassowrd)</span>
                            <span class="user-label">
                                <a class="clickSign underline" id="a_ShowPassword">Click to show password.</a>
                                <span class="hidden" id="spn_ShowPassword">@Model.strPassowrd</span>
                            </span>

                        </div>

                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.accountManager)</span>
                            @Html.TextBoxFor(m => m.accountManager, new { @class = "txt" })
                        </div>

                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.providerName)</span>
                            @Html.TextBoxFor(m => m.providerName, new { @class = "txt" })

                        </div>



                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.strPhoneContact)</span>
                            @Html.TextBoxFor(m => m.strPhoneContact, new { @class = "txt" })
                        </div>

                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.strEmailContact)</span>

                            @Html.TextBoxFor(m => m.strEmailContact, new { @class = "txt" })<br />
                            <span class="error_msg" id="spn_EmailMessage"></span>
                        </div>

                        <div class="login-row owner-text-box">
                            <span class="account-label">@Html.LabelFor(d => d.strAddress)</span>
                            @Html.TextAreaFor(m => m.strAddress, new { @class = "txt" })
                        </div>



                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.stateID)</span>
                            @Html.DropDownListFor(m => m.stateID, Model.AvailableStates, new { @class = "drop" })

                        </div>

                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.strCountry)</span>
                            @Html.TextBoxFor(m => m.strCountry, new { @class = "txt" })

                        </div>



                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.strPostalCode)</span>
                            @Html.TextBoxFor(m => m.strPostalCode, new { @class = "txt" })
                        </div>
                        <div class="login-row black-row">
                            <span class="account-label">@Html.LabelFor(d => d.suburb)</span>
                            @Html.TextBoxFor(m => m.suburb, new { @class = "txt" })
                        </div>
                        <div class="login-row expiry-tab">
                            <span class="account-label">@Html.LabelFor(d => d.membershipExpiry)</span>
                            <span class="user-label">@Model.membershipExpiry</span>
                        </div>

                        <div class="login-row owner-btn">
                            <span class="login-col-button">
                                <input class="InCaseEditTrue" id="btnAccountOwner_Submit" type="submit" value="Submit">
                            </span>
                            <span class="login-col-button">
                                <input class="InCaseEditTrue" id="btnAccountOwner_Clear" type="button" value="clear">
                            </span>
                            <span class="login-col-button">
                                <input class="InCaseEditFlase Width29" id="btnCanEdit_Submit" type="button" value="Edit">
                            </span>

                            <span class="login-col-button">
                                <input class="InCaseEditFlase Width29" id="btnCanEdit_Submit" type="button" value="Cancel">
                            </span>

                        </div>


                        <div class="login-row">
                            <span class="error_msg" id="error_msg">@Convert.ToString(Model.msg)</span>

                        </div>

                    </div>
                </div>
                <div>
                    <div class="add-facility-button">
                        <a class=" buttton " id="a_AddNewfacility" href="/FacilitiesForms/Addfacility">Add New</a>
                    </div>

                    <div id="Account-FacilitySetting"></div>
                    <script>

                        $(document).ready(function () {
                            $("#Account-FacilitySetting").kendoGrid({
                                groupable: true,
                                scrollable: true,
                                sortable: true,
                                pageable: true,
                                filterable: true,
                                dataSource: {
                                    transport: { read: { url: "/FacilitiesForms/getfacilitylst" } },
                                    pageSize: 5
                                },
                                pageable: {
                                    input: true,
                                    numeric: false
                                },
                                columns: [
                                    {
                                        title: "Facility Name",
                                        field: "facilityName",
                                        width: 200
                                    }
                                    , {
                                        field: "id",
                                        title: "Edit",
                                        width: 100,
                                        template: '<div class="account-icon"><a href="/FacilitiesForms/Addfacility?ID=#=facilityID#"><span aria-hidden="true" class="glyphicon glyphicon-pencil edit-icon"></span></a></div>'
                                    }

                                      , {
                                          field: "id",
                                          title: "Delete",
                                          width: 100,
                                          template: '<div class="account-icon"><a href="/FacilitiesForms/Deletefacility?ID=#=facilityID#"><span aria-hidden="true" class="glyphicon glyphicon-trash del-icon"></span></a></div>'
                                      }
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var value = '@Request.RequestContext.HttpContext.Session["SuperAdminID"]';
            if (value == "") {
                $("#a_AddNewfacility").hide();
                var grid = $("#Account-FacilitySetting").data("kendoGrid");
                grid.hideColumn(2);
            }
        });
    </script>
}
