﻿@model WebApplication1.Models.FacilitiesForms.FacilityModel
@{
    ViewBag.Title = "Facility";
}
<script src="~/scripts/Js Files/AddFacility.js"></script>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLogin", autocomplete = "on" }))
{
    <div class="container">
        <div class="row">
            <div class="has-error control-label">
                @Html.ValidationSummary(false)
            </div>
        </div>
    </div>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(d => d.userID)
    @Html.HiddenFor(d => d.id)
    <div class="AccountCreation">
        <div class="login-pannel">

            <div class="login-style">
                <h1>Facility User Creation</h1>


                <div class="login-row">
                    <span class="account-label">@Html.LabelFor(d => d.FacilityName)</span>
                    @Html.TextBoxFor(d => d.FacilityName)

                </div>

                    <div class="login-row">
                        <span class="login-col-button">
                            <input id="btnFacility_Submit" type="submit" value="Submit">
                        </span>

                        <span class="login-col-button">
                            <input id="btnFacility_Cancel" type="button" value="cancel">                       
                        </span>
                    </div>

                </div>

            </div>
        </div>


                       
                }
