﻿@model WebApplication1.Models.FacilityUserModel
@{
    ViewBag.Title = "Facility User Creation";
}
<script src="~/scripts/Js Files/FacilityUser.js"></script>



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLogin", autocomplete = "on" }))
{
    @Html.HiddenFor(d=>d.FacilityID)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(d => d.id)
    <div class="container">
        <div class="row">
            <div class="has-error control-label">
                @Html.ValidationSummary(false)
            </div>
        </div>
    </div>
    <div class="AccountCreation">
        <div class="login-pannel">
            
            <div class="login-style">
                <h1>Facility User Creation</h1>


                <div class="login-row">
                    <span class="account-label">@Html.LabelFor(d => d.strUserName)</span>
                    @if (Model.id > 0)
                {
                        @Html.HiddenFor(d => d.strUserName)
                        <span class="label-name">@Model.strUserName</span>
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.strUserName, new { @maxlength = "50" })<br />
                    }
                </div>

                <div class="login-row">
                    <span class="account-label">@Html.LabelFor(d => d.strPassowrd)</span>
                    @if (Model.id > 0)
                {
                         <input type="text" class="create-passtext-btn" id="txt_Password" maxlength="50" /> <input type="button" class="create-pass-btn" value="Change Password" id="btn_ChangePassword" />
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.strPassowrd, new { @maxlength = "50" })
                    }
                </div>

                <div class="login-row">
                    <span class="account-label">@Html.LabelFor(d => d.emailAddress)</span>
                    @Html.TextBoxFor(m => m.emailAddress, new { @maxlength = "50" })
                </div>



                <div class="login-row">
                    <span class="account-label">@Html.LabelFor(d => d.isActive)</span>
                    @Html.CheckBoxFor(m => m.isActive)
                </div>

                <div class="login-row">
                        <span class="login-col-button">
                            <input id="btnSignup_Submit" type="submit" value="Submit">
                        </span>
                        <span class="login-col-button ">
                            <input id="btnSignup_Cancel" type="button" value="cancel">
                        </span>
</div>

                <div class="login-row">
                    <span class="error_msg" id="error_msg">@Convert.ToString(Model.msg)</span>
                </div>

            </div>
        </div>
    </div>
}
