﻿@model WebApplication1.Models.FacilitiesSettingsModel
@{
    ViewBag.Title = "Facilities Setting";
}



<div class="heading-section">
    <div class="heading-left">
        <h2>@Model.FacilityName</h2>
    </div>



</div>

<script src="~/scripts/Js Files/AccountSetting.js"></script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLogin", autocomplete = "on", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(d => d.FacilitiesSettingID)
    @Html.HiddenFor(d => d.FacilitiesNo)
    @Html.HiddenFor(d => d.userID)
    @Html.HiddenFor(d => d.canEdit)


    <div id="div_Tabs">
        <div class="demo-section k-content">
            <div id="tabstrip">
                <ul>
                    <li class="k-state-active">
                        <span class="account-setting"></span>
                        <span class="tabbing-titile">Account Setting</span>
                    </li>
                    <li>
                        <span class="user"></span>
                        <span class="tabbing-titile">Users</span>
                    </li>
                </ul>
                <div class="div_Tab">


                    <div class="accoutn-owner-setting">
                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.companyName)</span>
                            @Html.TextBoxFor(m => m.companyName, new { @class = "txt" })
                        </div>

                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.ABN)</span>
                            @Html.TextBoxFor(m => m.ABN, new { @class = "txt" })
                        </div>

                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.AccountManager)</span>
                            @Html.TextBoxFor(m => m.AccountManager, new { @class = "txt" })
                        </div>


                        <div class="login-row">
                            <span class="account-label"><a href="javascript:void(0);" class="notification information"><span class="information-icon">i</span><span class="information-text">For best results images should be 300X300 pixels</span></a>
                            @Html.LabelFor(d => d.pictureID)</span>
                            <input type="file" class="txt" name="file" id="file" />
                            @if (string.IsNullOrEmpty(Model.picturePath) == false)
                            {

                                <img width="32%" src="@Model.picturePath" alt="" />


                            }
                        </div>


                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.strPhoneContact)</span>
                            @Html.TextBoxFor(m => m.strPhoneContact, new { @class = "txt" })
                        </div>

                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.strEmailContact)</span>
                            @Html.TextBoxFor(m => m.strEmailContact, new { @class = "txt" })<br />
                            <span class="error_msg" id="spn_EmailMessage"></span>
                        </div>

                        <div class="login-row owner-text-box">
                            <span class="account-label">@Html.LabelFor(d => d.strAddress) </span>
                            @Html.TextAreaFor(d => d.strAddress, new { @class = "txt" })
                        </div>

                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.stateID)</span>
                            @Html.DropDownListFor(m => m.stateID, Model.AvailableStates, new { @class = "drop" })
                        </div>

                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.strCountry)</span>
                            @Html.TextBoxFor(m => m.strCountry, new { @class = "txt" })
                        </div>


                        <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.strPostalCode)</span>
                            @Html.TextBoxFor(m => m.strPostalCode, new { @class = "txt" })
                        </div>
                        <div class="login-row black-row">
                            <span class="account-label">@Html.LabelFor(d => d.suburb)</span>
                            @Html.TextBoxFor(m => m.suburb, new { @class = "txt" })
                        </div>
                        <div class="login-row expiry-tab">
                            <span class="account-label">@Html.LabelFor(d => d.membershipExpiry)</span>
                            <span class="user-label">@Model.membershipExpiry</span>
                        </div>
                        <div class="login-row owner-btn">
                            <span class="login-col-button">
                                <input class="InCaseEditTrue" id="btnAccount_Submit" type="submit" value="Submit">
                            </span>
                            <span class="login-col-button">
                                <input class="InCaseEditTrue" id="btnAccount_Clear" type="button" value="clear">
                            </span>
                            <span class="login-col-button">
                                <input class="InCaseEditFlase Width29" id="btnCanEdit_Submit" type="button" value="Edit">
                            </span>
                        </div>

                        <div class="login-row">
                            <span class="error_msg" id="error_msg">@Convert.ToString(Model.msg)</span>
                        </div>

                    </div>




                </div>
                <div>
                    <div class="add-facility-button">
                        <a class="buttton " href="/FacilitiesForms/AddFacilityUsers?ID=0&FacilityID=@Model.FacilitiesNo">Add New</a>
                    </div>

                    <div id="Account-FacilitySetting-users"></div>
                    <script>

                        $(document).ready(function () {
                            $("#Account-FacilitySetting-users").kendoGrid({
                                groupable: true,
                                scrollable: true,
                                sortable: true,
                                pageable: true,
                                filterable: true,
                                dataSource: {
                                    transport: { read: { url: "/FacilitiesForms/getFacilityUsers?FacilityID=@Model.FacilitiesNo" } },
                                    pageSize: 25
                                },
                                pageable: {
                                    input: true,
                                    numeric: false
                                },
                                columns: [
                                    {
                                        title: "User Name",
                                        field: "userName",
                                        width: 100
                                    },
                                    {
                                        title: "Email",
                                        field: "emailAddress",
                                        width: 150
                                    },
                                    {
                                        title: "Membership Expiry Date",
                                        field: "memberShipExpiryDate",
                                        width: 100,
                                        format: "{0:MM-dd-yyyy}",
                                        type: "date"
                                    },
                                    {
                                        title: "Active",
                                        field: "isActive",
                                        width: 80
                                    }

                                    , {
                                        field: "id",
                                        title: "Edit",
                                        width: 100,
                                        template: '<div class="account-icon"><a href="/FacilitiesForms/AddFacilityUsers?ID=#=id#&FacilityID=@Model.FacilitiesNo"><span aria-hidden="true" class="glyphicon glyphicon-pencil edit-icon"></span></a></div>'
                                    }

                                      , {
                                          field: "id",
                                          title: "Delete",
                                          width: 100,
                                          template: '<div class="account-icon"><a href="/FacilitiesForms/DeleteFacilityUser?ID=#=id#"><span aria-hidden="true" class="glyphicon glyphicon-trash del-icon"></span></a></div>'
                                      }
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

    </div>


}
