﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

input, select, textarea {
  max-width: 100%;
  width: 100%;
}

.site_error {
    color: red;
}


.rightUserDetail {
  background: #0b3456 none repeat scroll 0 0;
  color: #999999;
  float: right;
  line-height: 50px;
  padding: 0;
  /*position: fixed;
  right: 0;*/
}

.cadetblue {
  color: #cbcbcb;
  padding: 0 5px;
}

.cadetblue:hover {
  color: #fff;
}

/*.underline {
    text-decoration: underline;
}*/

.buttton {
    font: normal 15px Arial;
    text-decoration: none;
    background-color: #165991;
    color: #fff;
    padding: 15px 19px;

    /*border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;*/

     /*border-radius: 4px;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;*/
}

.buttton:hover, .buttton:focus {
     background-color: #db7811;
     text-decoration:none;
     color:#fff;
}



#error_msg {
    color: red;
}

.clickSign {
    cursor: pointer;
}


/*.back-button-bar {
  background: #e9e9e9 none repeat scroll 0 0;
  float: left;
  padding: 7px 15px;
  width: 100%;
  margin-top: 90px;
}*/

.back-button-bar {
  background: #e9e9e9 none repeat scroll 0 0;
  float: left;
  margin-top: 90px;
  padding: 7px 15px;
  position: fixed;
  width: 100%;
  z-index: 2;
}



 /*.LoginAsAdmin {
   color: darkgrey;
    float: right;
    padding-left: 26%;
    position: fixed;
    padding-top: 15px;
}*/

.LoginAsAdmin {
  margin-left: 200px;
}

.back-button-bar a {
  color: #1a4caf;
}

.back-button-bar a:hover {
  color: #000;
  text-decoration:none !important;
  
}



.Width29 {
    width: 29%;
}

.txtSaveDocu {
    margin: 0px;
    width: 287px;
    height: 109px;
}

.imgSaveDocu {
    width: 3%;
}

.imgSaveSaveDoc {
    padding-left: 83%;
}

.imgSaveDeleteDoc {
    padding-left: 2%;
}

label {
    font-weight: normal !important;
}

.personalDetail {
  float: left;
  font-weight: bold;
  margin-right: 0;
  padding-bottom: 11px;
  width: 100%;
}

.Address {
    float: left;
    width: 29em;
    margin-right: -5em;
    font-weight: bold;
    padding-bottom: 11px;
}

.BillingAddress {
    float: left;
    width: 29em;
    margin-right: -5em;
    font-weight: bold;
    padding-bottom: 11px;
}

.EmergancyContact {
    float: left;
    width: 29em;
    margin-right: 4em;
    font-weight: bold;
    padding-bottom: 11px;
}

.Autherity1 {
    float: left;
    width: 29em;
    margin-right: -3em;
    font-weight: bold;
    padding-bottom: 11px;
}

.Autherity2 {
    float: left;
    width: 29em;
    margin-right: -3em;
    font-weight: bold;
    padding-bottom: 11px;
}

.txtAreaSaveDoc {
    margin: 0px;
    /*width: 165px;*/
    height: 78px;
}


.AccountCreation .login-style{padding:0 29px;}


.login-style {
  background: #fff none repeat scroll 0 0;
  border-radius: 4px;
  /*box-shadow: 0 0 5px #434343;
  border: 1px solid #165991;*/
  float: left;
  padding: 29px;
  width: 100%;
}



.login-pannel {
  bottom: 0;
  /*height: 412px;*/
  height:452px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 377px;
}

.glyphicon.login-icon {
  background: #165991 none repeat scroll 0 0;
  color: #fff;
  font-size: 22px;
  left: 0;
  padding: 7px 9px;
  position: absolute;
  top: -2px;
}

.login-col-textbox {
  float: right;
}

.login-row {
  float: left;
  margin: 0 0 18px;
  width: 100%;
  position: relative;
}

/*.account-label {
  background: #165991 none repeat scroll 0 0;
  color: #fff;
  height: 32px;
  line-height: 32px;
  padding-left: 22px;
  padding-right: 22px;
  position: absolute;
  text-align: right;
  width: 178px;
  left: 0;
}*/

.account-label {
  background: #165991 none repeat scroll 0 0;
  color: #fff;
  float: left;
  height: 32px;
  left: 0;
  line-height: 32px;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
  text-align: right;
  width: 178px;
  float:left;
}

.user-label {
  background:#e7e7e7 none repeat scroll 0 0;
  float: left;
  height: 32px;
  line-height: 30px;
  padding: 0 0 0 8px;
  width: 52%;
}

.accoutn-owner-setting .login-row.owner-text-box {
  width: 100%;
}

#strAddress {
     background:#e7e7e7 none repeat scroll 0 0;
  float: left;  
  /*line-height: 30px;*/

   /*height: 91px;*/
   height:31px;
    line-height: 26px;
  padding: 2px 0 0 8px;
  /*width: 52%;*/
  width: 76%;
  border:none;
}

#stateID{
  background:#e7e7e7 none repeat scroll 0 0;
  float: left;
  height: 32px;
  line-height: 30px;
  padding: 0 0 0 8px;
  width: 52%;
   border: 0 none;
}



.login-col-button {
  float: left;
}

.login-col-title {
  float: left;
  width: 90px;
}
/*.login-col-button > input[type="submit"] , .login-col-button > input[type="button"]{
  background: #000 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 4px;
  padding: 5px 20px;
  color:#fff;
     width: auto;
}


.login-col-button > input[type="submit"]:hover , .login-col-button > input[type="button"]:hover{
  background: #2c5ec1 none repeat scroll 0 0;
}*/

.log-button > input[type="submit"] , .log-button > input[type="button"]{
  background: #db7811 none repeat scroll 0 0;
  border: 0 none;
  padding: 5px 20px;
  color:#fff;
     width: 100%;
}

.log-button > input[type="submit"]:hover , .log-button > input[type="button"]:hover{
     background: #165991 none repeat scroll 0 0;
    
}

.AccountCreation input[type="submit"] , .AccountCreation input[type="button"]{
  background: #db7811 none repeat scroll 0 0;
  border: 0 none;
  padding: 7px 20px;
  color:#fff;
     width:162px;
     border-radius:0;
     height:auto;
}

.AccountCreation  input[type="submit"]:hover , .AccountCreation input[type="button"]:hover{
     background: #165991 none repeat scroll 0 0;
      border-radius:0;
       height:auto;
    
}

.accoutn-owner-setting input[type="submit"] ,.accoutn-owner-setting input[type="button"], .accoutn-owner-setting input[type="reset"]{
  background: #db7811 none repeat scroll 0 0;
  border: 0 none;
  padding: 7px 20px;
  color:#fff;
     /*width:162px;*/
     border-radius:0;
     height:auto;
}

.accoutn-owner-setting input[type="submit"]:hover , .accoutn-owner-setting input[type="button"]:hover, .accoutn-owner-setting input[type="reset"]:hover{
     background: #165991 none repeat scroll 0 0;
      border-radius:0;
       height:auto;
    
}

.accoutn-owner-setting .login-col-button {
  display: inline-flex;
  margin-right: 15px;
}









.login-style h1 {
  border-bottom: 1px dashed #e6e6e6;
  color: #2c5ec1;
  font-size: 30px;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}

/*.login-style h1 {
  font-size: 18px;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  color:#2c5ec1;
}*/

/*.login-style h1::before {
  background: #2c5ec1 none repeat scroll 0 0;
  content: "";
  height: 21px;
  left: -20px;
  position: absolute;
  top: 0;
  width: 5px;
}*/





.main-table {
  float: left;
  width: 100%;
}

.table-col-1 {
 float:left; width:34%;}

.table-col-2 {
 float:left; width:66%;}


.tab-row {
  float: left;
  width:100%;
  padding: 0 0 7px;
}

.accoutn-owner-setting .tab-row .account-label {
    width:104px;
}

.accoutn-owner-setting .pension-section .tab-row .account-label {
    width:127px;
}


.accoutn-owner-setting .emergency-section .tab-row .account-label {
    width:180px;
}

.accoutn-owner-setting .billing-address .tab-row .account-label {
    width:156px;
}

.accoutn-owner-setting .Emergancy-outer .billing-address .tab-row .account-label {
    width:182px;
}



.accoutn-owner-setting .tab-row textarea {
  padding-left: 10px;
  /*width: 100%;*/

 
  background: #e7e7e7 none repeat scroll 0 0;
  border: 0 none;
  /*height: 32px;
  padding-left: 164px;*/
  width: 62%;
   height: 27px;

    padding-top: 6px;
}



.accoutn-owner-setting .billing-address .tab-row input, .accoutn-owner-setting .billing-address .tab-row select, .accoutn-owner-setting .billing-address .tab-row textarea {
    width:76%;
}

.accoutn-owner-setting .authorised-representatives .tab-row input, .accoutn-owner-setting .authorised-representatives .tab-row select, .accoutn-owner-setting .authorised-representatives .tab-row textarea {
    width:72%;
}
.authorised-representatives label.error {
  right: 7%;
}



.accoutn-owner-setting .emergency-section .tab-row input,
.accoutn-owner-setting .emergency-section .tab-row select,
.accoutn-owner-setting .emergency-section .tab-row textarea {
    width:50%;
}



.accoutn-owner-setting .tab-row input, .accoutn-owner-setting .tab-row select {
  background: #e7e7e7 none repeat scroll 0 0;
  border: 0 none;
  height: 30px !important;
  padding-left:8px;
  /*width: 86% !important;*/
  width:62% ;
}

/*.accoutn-owner-setting .address .tab-row textarea, .accoutn-owner-setting .address .tab-row input, .accoutn-owner-setting .address .tab-row select {
    width:100% !important;
}

.accoutn-owner-setting .address .tab-row textarea {
    width:100% !important;
}*/





.tab-col-left {
  float: left;
  width: 35%;
}

.table-left {
  float: left;
  width: 50%;
}

.table-right {
  float: right;
  width: 50%;
}

.table-col-3 {
  float: left;
  width: 50%;
}

.table-col-4 {
  float: left;
  width: 50%;
}

.table-col-5 {
  float: left;
  width: 50%;
}
.table-col-6 {
  float: left;
  width: 50%;
}


.k-widget.k-header.k-tabstrip {
  float: left;
  width: 100%;
}

.k-tabstrip > .k-content, .k-panelbar .k-tabstrip > .k-content {
  float: left;
  width: 96%;
}
.login-col-button {
  float: left;
  margin-right: 16px;
}

.tab-col-right {
  float: left;
  width: 53%;
}


#tabstrip h1 {
  border-bottom: 1px solid #eaeaea;
  font-size: 26px;
  margin-bottom: 31px;
  padding-bottom: 6px;
  color:#2c5ec1;
}


.heading-section {
  border-bottom: 1px dashed #e6e6e6;
  float: left;
  margin: 0 0 26px;
  padding-bottom: 20px;
  width: 100%;
}

.container h2 {
  
  color: #2c5ec1;
  font-size: 23px; 
  position: relative;
  text-transform: uppercase;
  margin: 0;
}


.info-btn {
  display: inline-flex;
  float: left;
  margin:8px 0;
     position: absolute;
     top: 15px;
     left: 140px;
}


.glyphicon.glyphicon-triangle-left.createaccoutn-left-icon {
  color: #165991;
  font-size: 11px;
  left: 0;
  position: relative;
  top: 1px !important;
}

.LoginAsAdmin a:hover .glyphicon.glyphicon-triangle-left.createaccoutn-left-icon {
    color: #000;
}

#Account-Creation-grid {
  float: left;
  margin-bottom: 50px;
  width: 100%;
}

.account-icon {
  display: inline-block;
  text-align: center;
  width: 94%;
}

.account-icon a {
  color: #2f2f2f !important;
   font-size: 13px;
}






.k-grid-content tr:nth-child(2n) {
  background:transparent;
}




.AccountCreation .login-pannel {
  position: relative;
  width: 653px;
}

.AccountCreation .login-col-title {
  width: 160px;
}

.AccountCreation .login-col-textbox {
  width: 73%;
}
input[type="radio"], input[type="checkbox"] {
  line-height: normal;
  margin: 4px 0 0;
  width: auto;
}

/*.AccountCreation .login-style {padding: 30px;
}*/

.login-style input {
  background: #e7e7e7 none repeat scroll 0 0;
  border: 0 none;
  height: 32px;
  /*width: 100%;*/
  width:70%;
   padding-left: 47px;
}

.login-style .label-name {
  background: #e7e7e7 none repeat scroll 0 0;
  border: 0 none;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding-left: 8px;
  width: 70%;
}




.login-user {
  position: relative;
}





.logo-img {
  margin-bottom: 24px;
  text-align: center;
}

.logo-img > img {
  width: 126px;
}





/*.navbar.main-menu-bar {
  background: #165991 none repeat scroll 0 0;
  border-bottom: 0 none;
  box-shadow: 0 -1px 4px #898989;
  padding: 0;
   border-radius: 0;
    margin-bottom: 0;
    z-index: 2147483647;
}*/

.navbar.main-menu-bar {
  background: #165991 none repeat scroll 0 0;
  border-bottom: 0 none;
  border-radius: 0;
  box-shadow: 0 -1px 4px #898989;
  height: 90px;
  margin-bottom: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 2147483647;
}



.main-logo > img {
  width: 95px;
}

.main-logo {
  padding: 15px;
     float: left;
}





.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #0b3456 !important;
  color: #fff;
}


.main-menu-bar .dropdown {
  padding: 29px 0;
}

.main-menu-bar .dropdown a {
  padding: 0 34px;
}


    .main-menu-bar .dropdown .dropdown-menu {
        width: 100%;
        border-radius:0;
        box-shadow:none;
    }

        .main-menu-bar .dropdown .dropdown-menu li {
            border-bottom: 1px solid #e9e9e9;
        }

            .main-menu-bar .dropdown .dropdown-menu li:last-of-type {
                border-bottom: 0;
            }

     .main-menu-bar .dropdown .dropdown-menu  a{
        padding-bottom: 14px;
    padding-top: 14px;
       
    }


   .top-login-icon {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 100%;
  float: left;
  height: 30px;
  width: 30px;
 
  overflow: hidden;
}

  .top-login-icon > img {
  height: 100%;
  width: 100%;
}
.login-text {
  float: left;
  line-height: 27px;
   margin:0 5px;
}


body {
    padding:0;
}

.main-menu-bar .dropdown a {
    color:#fff;
}

.main-menu-bar .dropdown .dropdown-menu a {
    color:#000;
}

.main-menu-bar .nav > li > a:hover, .main-menu-bar .nav > li > a:focus {
  background-color: transparent;
  text-decoration: none;
}

.main-menu-bar .nav .open > a, .main-menu-bar .nav .open > a:hover, .main-menu-bar .nav .open > a:focus {
  background-color: transparent;
  border-color: #337ab7;
}

.main-menu-bar .navbar-header {
  width: 100%;
}



.AccountCreation .login-style input {
     padding-left: 12px;
     padding-right: 12px;
}

    .AccountCreation .login-style input[type="text"] {
         padding-left:8px;
    }

.AccountCreation input[type="radio"], .AccountCreation input[type="checkbox"] {
    margin-left: 198px;  margin-top: 0;
}

input[type="radio"], input[type="checkbox"] {
  width: auto;
}

.AccountCreation .login-style h1 {
    margin: 0 0 38px;
}

.AccountCreation {
  float: left;
  margin-bottom: 0;
  width: 100%;
   position: relative;
}

.rightUserDetail .caret {
     margin-top: 4px;
}

.heading-left {
  float: left;
}

.info-add-btn {
  float: right;
}


.glyphicon.glyphicon-trash.del-icon {
  color: #cb0000;
}

.glyphicon.glyphicon-pencil.edit-icon {
  color: #0ab02d;
}

.glyphicon.glyphicon-log-in.login-s-icon {
  color: #286ba3;
}

.create-pass-btn {
  float: right;
    margin-top: 0;
    height: 32px !important;
  width: 138px !important;
}



/*.content-section {
  float: left;
  margin: 30px 0;
  width: 85%;
}*/

.content-section {
  float: left;
  /*margin: 30px 0 30px 216px;*/
  margin:155px 0 30px 216px;
  width: 82%;
}


.create-passtext-btn {
  width: 46% !important;
}

.container {
  width: 100% !important;
}

.sidebar-nav h2 {
  border-bottom: 1px dashed #c7c7c7;
  font-size: 23px;
  margin-bottom: 15px;
  margin-top: 0;
    padding:30px 0 13px 13px;
}


html {
  max-height: 100%;
  height:88%;
  /*position: relative;*/
}

/*.outer-centent-section {
  height: 100%;
  position: relative;
  width: 100%;
}*/

.outer-centent-section {
  float: left;
  height: 100%;
  position: relative;
  width: 100%;
}

.accoutn-owner-setting .login-row {
  float: left;
  width: 50%;
}

.accoutn-owner-setting {
  float: left;
  width: 100%;
   padding: 16px 0;
}



.accoutn-owner-setting input {
  background: #e7e7e7 none repeat scroll 0 0;
  border: 0 none;
  width: 52% ;
  height: 30px !important;

   padding-left:8px;
}



.login-row.owner-btn {
  width: 100%;
}

input#file {
  margin-bottom: 2px;
}

.add-facility-button {
  float: right;
  margin: 9px 0 23px;
}

.add-facility-button > .buttton {
  padding: 9px 19px;
  display: block;
}





.ui-datepicker th {
  font-weight: normal !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #fff none repeat scroll 0 0 !important;
  border: 1px solid #cccccc !important;
  color: #3d3d3d !important;
  font-weight: normal !important;
}

.ui-state-default, .ui-widget-content .ui-state-default.ui-state-hover, .ui-widget-header .ui-state-default.ui-state-hover {
  background: #db7811 none repeat scroll 0 0 !important;
  border: 1px solid #db7811 !important;
  color: #fff !important;
  font-weight: normal !important;
}

.ui-datepicker .ui-datepicker-header {
  background: #db7811 none repeat scroll 0 0 !important;
  border: 1px solid #db7811;
  border-radius: 0 !important;
}

.ui-widget-content {
  background: #eeeeee !important;
  border: 1px solid #dddddd !important;
  border-radius: 0 !important;
  color: #333333 !important;
}

.ui-widget-header {
  font-weight: normal !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: #db7811 !important;
  border: 1px solid #db7811 !important;
  color: #fff !important;
  font-weight: normal !important;
}


.login-row > img {
  height: 29px;
  position: absolute;
  right: 11px;
  top: 0;
  width: auto;
}


.accoutn-owner-setting .table-col-3 .login-row {
  float: left;
  width: 65%;
}

.accoutn-owner-setting .table-col-4 .login-row {
  float: left;
  width: 73%;
}

.accoutn-owner-setting .table-col-5 .login-row {
  float: left;
  width: 75%;
}

.accoutn-owner-setting .table-col-6 .login-row {
  float: left;
  width: 73%;
}

.accoutn-owner-setting .Address,
.accoutn-owner-setting .Autherity1,
.accoutn-owner-setting .EmergancyContact,
.accoutn-owner-setting .BillingAddress,
.accoutn-owner-setting .Autherity2 {
    border-bottom: 1px dashed #db7811;
    color: #db7811;
    float: left;
    font-weight: bold;
    margin-right: -5em;
    padding-bottom: 11px;
    width: 96%;
    margin-bottom: 10px;
}

.accoutn-owner-setting .personalDetail{
    border-bottom: 1px dashed #db7811;
    color: #db7811;
    float: left;
    font-weight: bold;
    margin-right: -5em;
    padding-bottom: 11px;
    width: 90%;
    margin-bottom: 10px;
}

.accoutn-owner-setting .tab-row select {
     background-image: url('../images/select-arrow.png');
     background-repeat:no-repeat;
     background-position:98% center;
     /*width:9px;
     height:7px;*/
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
}



.tabing-row {
  float: left;
    margin: 8px 0 0;
  width: 100%;
}


.facilityName {
  float: left;
  width: 50%;
}

.providerName {
  float: left;
  width: 50%;
}

.facilityName h3 {
  border-bottom: 1px dashed #db7811;
  color: #db7811;
  float: left;
  font-weight: bold;
  margin-bottom: 18px;
  margin-right: -5em;
  padding-bottom: 11px;
  width: 90%;
  font-size: 15px;
}
.providerName h3 {
  border-bottom: 1px dashed #db7811;
  color: #db7811;
  float: left;
  font-weight: bold;
  margin-bottom:18px;
  margin-right: -5em;
  padding-bottom: 11px;
  width: 90%;
  font-size: 15px;
}

.Occupancy-details {
  /*background: #ffefff none repeat scroll 0 0;*/
  background:#e6f0f6;
  border-bottom: 1px solid #e5e5e5;
  float: left;
  margin-bottom: 29px;
  padding: 3% 5%;
  width: 90%;
}

.Occupancy-feild .tab-row input, .Occupancy-feild .tab-row select {
  background: #e7e7e7 none repeat scroll 0 0;
  border: 0 none;
  height: 30px !important;
  padding-left:10px;
    /*width: 69%;*/
    width:56.5%;

}


.Occupancy-feild .tab-row select { 
   
    background-image: url('../images/select-arrow.png');
    background-position:98% center;
    background-repeat:no-repeat;
    -moz-appearance: none;
    -webkit-appearance:none;
}


.Occupancy-feild .facilityName {
  float: left;
  width: 70%;
}

.Occupancy-feild .providerName {
    float: left;
  width: 30%;
}

.Occupancy-feild .facilityName, .Occupancy-feild .providerName {
    position:relative;
}

.Occupancy-feild .tab-row .facilityName input {
      /*width: 67%;*/
       width: 38%;
}

.Occupancy-feild .tab-row .providerName input {
    padding-left: 10px;
    width:69%;
}

.login-row > input[type="checkbox"] {
  margin-left: 13px;
  text-align: left;
  width: auto !important;
}

.Occupancy-feild .tab-row .account-label {
     /*width: 251px;
     width:363px;*/
     width:375px;
}

.Occupancy-feild .tab-row .providerName .account-label {
    width:22px;
}

.Occupancy-feild input[type="radio"], .Occupancy-feild input[type="checkbox"] {
  line-height: normal;
  margin-left: 8px;
  margin-top: 0;
  width: auto !important;
}


.Occupancy-details .tab-row {
  border-bottom: 1px solid #d8e2e8;
  margin-bottom: 9px;
  padding-bottom: 0;
  width: 90%;
}

.Occupancytitle > label {
  width: 132px;
}

.tabbing-titile {
    width:100%;
    display:inline-block;
}
.k-state-active a.k-link{color:#3474aa;}

.home {
    background-image: url('../images/tab-home.png');    
    width: 25px;
    height: 23px;
    display: inline-block;
}

.k-state-active .home {
    background-image: url('../images/tab-home-active.png');
}


.occupancy {
    background-image: url('../images/tab-occupancy.png');
    width: 26px;
    height: 25px;
    display: inline-block;
}

.k-state-active .occupancy {
    background-image: url('../images/tab-occupancy-active.png');
}


.income {
    background-image: url('../images/tab-income.png');
    width: 28px;
    height: 30px;
    display: inline-block;
}
.k-state-active .income {
    background-image: url('../images/tab-income-active.png');
}


.accommodation {
    background-image: url('../images/accommodation.png');
    width: 30px;
    height: 29px;
    display: inline-block;
}
.k-state-active .accommodation {
    background-image: url('../images/accommodation-active.png');
}


.carfee {
    background-image: url('../images/carfee.png');
    width: 33px;
    height:33px;
    display: inline-block;
}
.k-state-active .carfee {   
    background-image: url('../images/carfee-hover.png');
}

.services {
    background-image: url('../images/services.png');
    width: 33px;
    height:32px;
    display: inline-block;
}
.k-state-active .services {
    background-image: url('../images/services-active.png');
}


.security {
    background-image: url('../images/security.png');
    height: 34px;
    width: 30px;
    display: inline-block;
}
.k-state-active .security {
    background-image: url('../images/security-active.png');
}



.provision {
    background-image: url('../images/provision.png');
    height: 29px;
    width: 35px;
    display: inline-block;
}
.k-state-active .provision {
    background-image: url('../images/provision-active.png');
}

.documents {
    background-image: url('../images/documents.png');
    width: 23px;
    height: 30px;
    display: inline-block;
}
.k-state-active .documents {
    background-image: url('../images/documents-active.png');
}

.agreement {
    background-image: url('../images/agreement.png');
    width:28px;
    height: 31px;
    display: inline-block;
}
.k-state-active .agreement {
    background-image: url('../images/agreement-active.png');
}



.account-setting {
    background-image: url('../images/tab-account-setting.png');
   height: 25px;
    margin-bottom: 6px;
    width: 25px;
    display: inline-block;
}
.k-state-active .account-setting {
    background-image: url('../images/tab-account-setting-active.png');
}

.user {
    background-image: url('../images/tab-user.png');
    height: 26px;
    margin-bottom: 6px;
    width: 23px;
    display: inline-block;
}
.k-state-active .user {
    background-image: url('../images/tab-user-active.png');
}

.rename {
    background-image: url('../images/tab-edit.png');
    height:23px;
    margin-bottom: 6px;
    width: 19px;
    display: inline-block;
}
.k-state-active .rename {
    background-image: url('../images/tab-edit-active.png');
}

.login-pannel .login-row.login-user > input {
  width: 100%;
}

.accoutn-owner-setting input[type="radio"], .accoutn-owner-setting input[type="checkbox"] {
  text-align: left;
  width: auto !important;
  margin-left:8px;
}

.accoutn-owner-setting .authorised-representatives .tab-row .account-label {
  width: 205px;
}

.tab-row.authorised-button-outer {
  text-align: center;
  display: inline-block;
    width: 100%;
}

.authorised-button {
  display: inline-flex;
    width: 30px;
}
.accoutn-owner-setting .authorised-button > input[type="button"] {
  background: #000 none repeat scroll 0 0;
  color: #fff;
  font-size: 23px;
  padding: 0 4px !important;
  width: 100% !important;
}

 .accoutn-owner-setting .authorised-button > input[type="button"]:hover {
      background:#165991;
 }

.personal-outer {
  margin-bottom: 20px;
}
.billing-outer {
  margin-bottom: 20px;
}
.Emergancy-outer {
  margin-bottom: 20px;
}


#tbl_Representer {
  float: left;
  margin: 20px 0;
  width: 100%;
}

#tbl_Representer > table{
  float: left;
  width: 100%;
  
}
    #tbl_Representer tr:first-of-type {
        border-top: 1px solid #e3e3e3;
    }

#tbl_Representer tr {
  border-bottom: 1px solid #e3e3e3;
  display: inline-block;
  padding: 11px 8px;
  width: 94%;
}

#tbl_Representer td {
  color: #000;
  padding-right: 15px;
}

.incomeorassests {
  float: left;
  width: 100%;
}

.income-outer {
  float: left;
  width: 50%;
}

.debt-outer {
  float: left;
  width: 50%;
}


.income-section {
     float: left;
  width: 100%;
}
.pension-section {
     float: left;
  width: 100%;
  position: relative;
}
.debts-section{
     float: left;
  width: 100%;
} 

.totals-section {
     float: left;
  width: 100%;
}

.income-assest-page h3 {
  border-bottom: 1px dashed #db7811;
  color: #db7811;
  float: left;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 18px;
  margin-right: -5em;
  padding-bottom: 11px;
  width: 90%;
}


.accoutn-owner-setting .income-section .tab-row .account-label {
  /*width: 263px;*/
  width:271px;
}

.accoutn-owner-setting .debts-Reduction .tab-row .account-label {
  /*width: 197px;*/
  width:207px;
}

.accoutn-owner-setting .debts-Care .tab-row .account-label {
  width: 197px;
}

.accoutn-owner-setting .debts-section .tab-row .account-label {
  width: 109px;
}

.accoutn-owner-setting .income-section .tab-row input, .accoutn-owner-setting .income-section .tab-row select {
  width: 31%;
}

.accoutn-owner-setting .debts-Reduction .tab-row input, .accoutn-owner-setting .debts-Reduction .tab-row select {
    width: 41%;
}
.accoutn-owner-setting .debts-section .tab-row input, .accoutn-owner-setting .debts-section .tab-row select {
    width: 59%;
}



/*.notification {
  display: inline-block;
  font-size: 11px;
  text-align: right;
  width: 93%;
  color: #165991;
}*/

/*.incomeorassests {
  color: #3f3f3f;
  float: left;
  width: 100%;
}*/

.accoutn-owner-setting{
  color: #3f3f3f;
  float: left;
  width: 100%;
}

.income-account {
  line-height: 28px;
  padding-left: 10px;
}

.heading-notification {
  color: #3f3f3f;
  font-size: 12px;
  font-weight: normal;
  padding-left: 3px;
}

.pension-section h3 a .information-icon {
  border: 2px solid #9e9e9e;
  border-radius: 50%;
  color: #9e9e9e;
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  text-align: center;
  width: 15px;
}

.pension-section h3 a:hover .information-icon:hover {
    color:#165991;
    border: 2px solid #165991;
   
}
.pension-section h3 a:hover { text-decoration:none;
}

.pension-section h3 .information-text {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 6px;
  font-size: 12px;
  left: 0;
  line-height: 20px;
  padding: 11px;
  position: absolute;
  top: 58px;
  width: 300px;
  z-index: 5;
  display:none;
  color: #494949;
  font-weight: normal;
}
.pension-section h3 a:hover .information-text {
   display: block;
}

/*.error {
  border: 1px solid #ff0000 !important;
}
label.error {
    display:none !important;
}*/

label.error {
  color: #e20000;
  right: 12px;
  /*margin-left: 182px;*/
  position: absolute;
  top: 6px;
}

.medetory {
  color: #ffffff;
  padding-left: 1px;
}

.tab-row {
  position: relative;
}


.personal-outer label.error {
  right: 59px;

}

.billing-address label.error {
  right:80px;
}

.Emergancy-outer label.error {
  right:47px;
}

.Occupancy-feild label.error {
  right: 4%;
}

.Occupancy-feild .facilityName label.error {
  right: 4%;
}
.Occupancy-feild .tab-row .providerName label.error {
  right:14%;
}

.notification .information-icon {
  background: #db7811 none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  position: absolute;
  right: 41px;
  text-align: center;
  top: 6px;
  width: 18px;
}

.notification .information-text {
  background: #d2d2d2 none repeat scroll 0 0;
  border-radius: 6px;
  color: #494949;
  display: none;
  font-size: 12px;
  font-weight: normal;
  
  line-height: 20px;
  padding: 11px;
  position: absolute;
  top: 29px;
  width: 178px;
  z-index: 5;
  right: 32px;
}

a.notification:hover .information-text {
    display:block;
}


.incomeorassests label.error {
  right: 12%;
}

.notification.information .information-icon {
  display: inline-block;
  position: static;
  background:#efefef;
  color: #414141;
}

.notification.information:hover .information-icon {
    background:#db7811;
    color: #fff;
}

.notification.information {
  text-align: left;
}

.notification.create-user-info .information-icon {
  margin-left: 6px;
  right: auto;
  width: 18px;
}
.notification.create-user-info .information-text{
right: -45px;
    top: 24px;
    width: 305px;
}


/*password*/

   #result {
  float: left;
  line-height: 31px;
  margin-left: 5px;
  padding-left: 8px;
  position: absolute;
  right: 13px;
  text-align: right;
  width: 107px;
}

.short{
    color:#FF0000;
}
 .weak{
    color:#E66C2C;
}
.good{
    color:#1a4caf;
}
.strong{
    color:#006400;
}



/*password*/

.accoutn-owner-setting .totals-section .tab-row .account-label {
  width: 163px;
}


/* Radio button */

/*.Transferredandhomecare label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}
.Transferredandhomecare input.radioTransferred:empty {
	margin-left: -999px;
}
.Transferredandhomecare input.radioTransferred:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.Transferredandhomecare input.radioTransferred:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}
.Transferredandhomecare input.radioTransferred:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}
.Transferredandhomecare input.radioTransferred:hover:not(:checked) ~ label {
	color: #888;
}
.Transferredandhomecare input.radioTransferred:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}
.Transferredandhomecare input.radioTransferred:checked ~ label {
	color: #777;
}
.Transferredandhomecare input.radioTransferred:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}*/

/* Radio button */


.Transferredandhomecare > span {
  float: left;
  padding-right: 10px;
}

.Transferredandhomecare input[type="radio"] {
  float: left;
}

.transfer-label {
  float: left;
  height: 30px;
  line-height: 30px;
  padding-left: 6px;
}

.Occupancy-feild {
  color: #444444;
}


/*Accommodation Payment*/

.accommodation-left {
  float: left;
  width: 50%;
}
.accommodation-right {
  float: right;
  width: 50%;
}


.accoutn-owner-setting .tab-row input, .accoutn-owner-setting .tab-row select {
  background: #e7e7e7 none repeat scroll 0 0;
  border: 0 none;
  height: 30px !important;
  padding-left: 8px;
  width: 62%;
}


.accoutn-owner-setting .accommodation-left .tab-row .account-label {
  width: 200px;
}

.accoutn-owner-setting .accommodation-left .tab-row input, .accoutn-owner-setting .accommodation-left .tab-row select {
  background: #e7e7e7 none repeat scroll 0 0;
  border: 0 none;
  height: 30px !important;
  padding-left: 8px;
  width: 48%;
}

.accoutn-owner-setting .accommodation-right .tab-row .account-label {
  width: 200px;
}

.accoutn-owner-setting .accommodation-right .tab-row input, .accoutn-owner-setting .accommodation-right .tab-row select {
  background: #e7e7e7 none repeat scroll 0 0;
  border: 0 none;
  height: 30px !important;
  padding-left: 8px;
  width: 48%;
}

.accoutn-owner-setting .accommodation-right .tab-row select {
    background-image: url('../images/select-arrow.png');
    background-position:98% center;
    background-repeat:no-repeat;
}

.accoutn-owner-setting .accommodation-payment .tab-row .account-label {
  width: 200px;
}
/*Accommodation Payment*/


.notification.larg-notification .information-text {
  top: 24px;
  width: 322px;
}
.notification.medium-notification .information-text {
  top: 24px;
  width: 250px;
}






@media screen and (min-width:768px) and (max-width:991px) {

 .create-passtext-btn {
  width: 40% !important;
}

.login-row.black-row {
  display: none;
}

    .AccountCreation .login-pannel {
        position: relative;
        top: 103px;
        width: 653px;
    }

    .info-btn {
  left: 35px;
  top: 0;
}

    .glyphicon.glyphicon-triangle-left.createaccoutn-left-icon {
  left: 21px;
    top: -26px !important;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}


 .accoutn-owner-setting .login-row {
  float: left;
  width: 100%;
}

 .content-section {
  width: 68%;
}

    .user-label {
       /*width: 69%;*/
        width: 62%;
    }

   

    /*.accoutn-owner-setting input {
 
  width: 59% !important;
}*/

    .accoutn-owner-setting input {
  width: 62%;
}

    #stateID {
  /*width:69%;*/
  width:62%;
}
    #strAddress {
  /*width:69%;*/
  width:62%;
}


.account-label {
  width: 124px;
}



.AccountCreation .login-pannel {
  position: relative;
  top: 103px;
  width: 500px;
}


.table-col-1 {
  float: left;
  width: 100%;
}
.table-col-2 {
  float: left;
  width: 100%;
}
.table-col-3 {
  float: left;
  width: 100%;
}
.table-col-4 {
  float: left;
  width: 100%;
}
.table-col-5 {
  float: left;
  width: 100%;
}
.table-col-6 {
  float: left;
  width: 100%;
}



.accoutn-owner-setting .tab-row input, .accoutn-owner-setting .tab-row select {width: 65%;}

.table-left { width: 100%;}
.table-right {float: left;  width:100%;}

.accoutn-owner-setting .tab-row textarea {
  width: 65%;
}

.accoutn-owner-setting .table-col-4 .login-row {
  float: left;
  width: 100%;
}

.accoutn-owner-setting .table-col-5 .login-row {
  float: left;
  width: 100%;
}

.accoutn-owner-setting .table-col-6 .login-row {
  float: left;
  width: 99%;
}


.Occupancy-feild .tab-row input, .Occupancy-feild .tab-row select {
  width: 98.4%;
}
.Occupancy-feild .tab-row .account-label {
  text-align: left;
  width: 93%;
}

.Occupancy-feild .facilityName ,.Occupancy-feild .providerName{ width:100%;}

.Occupancy-feild .providerName {margin-top: 20px;}

.Occupancy-feild .tab-row .providerName input {
  /*padding-left: 82px;
  width: 82%;*/  
  width: 83%;
}

.Occupancy-feild .tab-row .facilityName input {
  width: 98.4%;
}

/*.Occupancy-feild input[type="radio"], .Occupancy-feild input[type="checkbox"] {
  line-height: normal;
  margin-left: 256px;
  margin-top: 0;
}*/
.Occupancy-feild input[type="radio"], .Occupancy-feild input[type="checkbox"] {
  line-height: normal;
  margin-left: 22px;
  margin-top: 0;
  width: auto;
}

.facilityName {
  float: left;
  width: 100%;
}
.Occupancy-details .providerName {
  border-top: 2px solid #165991;
  float: left;
  margin-top: 18px;
  width: 100%;
}

.k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item {
  width: 24.5% !important;
}

.accoutn-owner-setting .billing-address .tab-row input, .accoutn-owner-setting .billing-address .tab-row select, .accoutn-owner-setting .billing-address .tab-row textarea {
  width: 53%;
}

.accoutn-owner-setting .authorised-representatives .tab-row input, .accoutn-owner-setting .authorised-representatives .tab-row select, .accoutn-owner-setting .authorised-representatives .tab-row textarea {
  width: 43%;
}


.income-outer {
  width: 100%;
}
.debt-outer {
  width: 100%;
}

.income-assest-page h3 {
  width: 98%;
}

/*.accoutn-owner-setting .income-section .tab-row input, .accoutn-owner-setting .income-section .tab-row select {
  width:98%;
}

.accoutn-owner-setting .tab-row input, .accoutn-owner-setting .tab-row select {
  width:98%;
}*/

.accoutn-owner-setting .debts-Reduction .tab-row input, .accoutn-owner-setting .debts-Reduction .tab-row select {
  width:54%;
}

.accoutn-owner-setting .income-section .declined-to-declare .tab-row .account-label {
  text-align: left;
  width: 92%;
}

.accoutn-owner-setting .income-section .declined-to-declare .tab-row input, .accoutn-owner-setting .income-section .declined-to-declare .tab-row select {
  width: 98%;
}

.accoutn-owner-setting .debts-section .tab-row input, .accoutn-owner-setting .debts-section .tab-row select {
  width: 71%;
}

label.error {
  right: 20px;
}

.Occupancy-feild label.error {
  right: 4%;
   top: 38px;
}

.Occupancy-feild .tab-row .providerName label.error {
  right: 6%;
  top: 6px;
}
.accoutn-owner-setting .billing-address .tab-row input, .accoutn-owner-setting .billing-address .tab-row select, .accoutn-owner-setting .billing-address .tab-row textarea {
  width: 50%;
}

label.error {
  font-size: 11px;
}

.incomeorassests label.error {
  right: 4%;
  top: 40px;
}

.notification .information-icon {
  right: 14px;
  top: 37px;
}

.accoutn-owner-setting .debts-section .tab-row .account-label {
  text-align: left;
  width: 90%;
}

.accoutn-owner-setting .debts-section .tab-row input, .accoutn-owner-setting .debts-section .tab-row select {
  width: 97%;
}

.accoutn-owner-setting .debts-Reduction .tab-row .account-label {
  text-align: left;
  width: 90%;
}

.accoutn-owner-setting .debts-Reduction .tab-row input, .accoutn-owner-setting .debts-Reduction .tab-row select {
  width: 97%;
}

.accommodation-left {
    width:100%;
  }

.accommodation-right {
    width:100%;
  }


.accoutn-owner-setting .accommodation-left .tab-row .account-label {
  text-align: left;
  width: 90%;
}
.accoutn-owner-setting .accommodation-left .tab-row input, .accoutn-owner-setting .accommodation-left .tab-row select {
  width: 97%;
}


.accoutn-owner-setting .accommodation-right .tab-row .account-label {
  text-align: left;
  width: 90%;
}
.accoutn-owner-setting .accommodation-right .tab-row input, .accoutn-owner-setting .accommodation-left .tab-row select {
  width: 97%;
}



}

@media screen and (min-width:992px) and (max-width:1081px) {
    .Occupancy-feild .tab-row input, .Occupancy-feild .tab-row select {
  width: 40% !important;
}
    .Occupancy-feild .tab-row .facilityName input {
  width: 40% !important;
}
}
@media screen and (min-width:1051px) and (max-width:1110px) {
    .Occupancy-feild .tab-row input, .Occupancy-feild .tab-row select {
        width: 40% !important;
    }
    .Occupancy-feild input[type="radio"], .Occupancy-feild input[type="checkbox"] {
  line-height: normal;
  margin-left: 8px;
  margin-top: 0;
  width: auto !important;
}


   


}

@media screen and (min-width:992px) and (max-width:1200px) {

    .accoutn-owner-setting .debts-section .tab-row input, .accoutn-owner-setting .debts-section .tab-row select {
  width: 75%;
}

.info-btn{
    left: 0;
}


 .accoutn-owner-setting .login-row {
  float: left;
  width: 100%;
}

 .content-section {
  width: 68%;
}

    .user-label {
       width: 74%;
    }

   

    .accoutn-owner-setting input {
 /*padding-left: 190px;*/
  width: 74% ;
}
    #stateID {
  width:74%;
   /*padding: 0 0 0 188px;*/
}
  #strAddress {
  width: 74%;
   /*padding: 2px 0 0 190px;*/
}


.account-label {
  width: 124px;
}





.Occupancy-feild .tab-row input, .Occupancy-feild .tab-row select {
  width:45%;
}

.Occupancy-feild .tab-row .facilityName input {
  width: 45%;
}

.Occupancy-feild .facilityName {
  float: left;
  margin-bottom: 8px;
  width: 100%;
}
.content-section {
  width: 76%;
}
.Occupancy-feild .facilityName {
  float: left;
  width: 100%;
}

.Occupancy-feild .providerName {
  float: left;
  width: 100%;
}
.Occupancy-feild .tab-row .providerName input {
  padding-left: 10px;
  width: 89.5%;
}


.k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item {
  width: 16.3% !important;
}
.login-row.black-row {
  display: none;
}
.login-style .label-name {
  width: 79%;
}
    .create-passtext-btn {
  width: 55% !important;
}


    .accoutn-owner-setting .tab-row input, .accoutn-owner-setting .tab-row select {
  width: 74%;
}

    .accoutn-owner-setting .address .tab-row textarea {
  width: 74%;
}

    .accoutn-owner-setting .billing-address .tab-row input, .accoutn-owner-setting .billing-address .tab-row select, .accoutn-owner-setting .billing-address .tab-row textarea {
  width:67%;
}

    .accoutn-owner-setting .emergency-section .tab-row input, .accoutn-owner-setting .emergency-section .tab-row select, .accoutn-owner-setting .emergency-section .tab-row textarea {
  width: 63%;
}

    .accoutn-owner-setting .authorised-representatives .tab-row input, .accoutn-owner-setting .authorised-representatives .tab-row select, .accoutn-owner-setting .authorised-representatives .tab-row textarea {
  width: 60%;
}

.table-left {
  width: 100%;
}
    .table-right {
        width: 100%;
    }

      .accoutn-owner-setting .personalDetail{  width: 96%;}

      .income-outer {
  width: 100%;
}
.debt-outer {
  width: 100%;
}

.income-assest-page h3 {
  width: 98%;
}

.accoutn-owner-setting .income-section .tab-row input, .accoutn-owner-setting .income-section .tab-row select {
  width: 54%;
}

.accoutn-owner-setting .tab-row input, .accoutn-owner-setting .tab-row select {
  width: 76%;
}
.accoutn-owner-setting .debts-Reduction .tab-row input, .accoutn-owner-setting .debts-Reduction .tab-row select {
  width:62%;
}

 .accommodation-left {
        width:100%;
    }

    .accommodation-right {
        width:100%;
    }

    .accoutn-owner-setting .accommodation-left .tab-row input, .accoutn-owner-setting .accommodation-left .tab-row select {
  width: 60%;
}

    .accoutn-owner-setting .accommodation-right .tab-row input, .accoutn-owner-setting .accommodation-right .tab-row select {
  width: 60%;
}


}
@media screen and (min-width:1201px) and (max-width:1300px) {
    .Occupancy-feild .tab-row input, .Occupancy-feild .tab-row select {
  width:53%;
}

    .accoutn-owner-setting .debts-section .tab-row input, .accoutn-owner-setting .debts-section .tab-row select {
  width: 78%;
}

    .k-tabstrip-items .k-link, .k-panelbar .k-tabstrip-items .k-link {
  padding: 1.5em 0.1em !important;
}
  
    .Occupancy-feild .tab-row .facilityName input {
  width: 33%;
}
    .user-label {
        width: 48%;
    }

    /*.accoutn-owner-setting input
    {
         width: 50% !important;
    }*/

    .accoutn-owner-setting input {
  width: 49%;
}

    #strAddress { width: 75%;}

    #stateID { width: 49%;}

    .accoutn-owner-setting .emergency-section .tab-row input, .accoutn-owner-setting .emergency-section .tab-row select, .accoutn-owner-setting .emergency-section .tab-row textarea {
  width: 43%;
}

    .income-outer {
  width: 100%;
}
.debt-outer {
  width: 100%;
}

.income-assest-page h3 {
  width: 98%;
}

/*.accoutn-owner-setting .income-section .tab-row input, .accoutn-owner-setting .income-section .tab-row select {
  width: 60%;
}*/
.accoutn-owner-setting .income-section .tab-row input, .accoutn-owner-setting .income-section .tab-row select {
  width: 65%;
}

.accoutn-owner-setting .tab-row input, .accoutn-owner-setting .tab-row select {
  /*width: 79%;*/
  width:63%;
}
.accoutn-owner-setting .debts-Reduction .tab-row input, .accoutn-owner-setting .debts-Reduction .tab-row select {
  width: 67%;
}
    .Emergancy-outer .billing-address .tab-row select {
        width:71%;
    }

.accoutn-owner-setting .accommodation-left .tab-row input, .accoutn-owner-setting .accommodation-left .tab-row select {
  width: 39%;
}




}

@media screen and (min-width:1401px) and (max-width:1500px) {
   .accoutn-owner-setting .income-section .tab-row input, .accoutn-owner-setting .income-section .tab-row select {
  width: 36% !important;
}
}
@media screen and (min-width:1401px) and (max-width:1600px) {

    .accoutn-owner-setting .income-section .tab-row input, .accoutn-owner-setting .income-section .tab-row select {
        width: 40%;
    }
}

@media screen and (min-width:1401px) and (max-width:1600px) {

   .accoutn-owner-setting .income-section .tab-row input, .accoutn-owner-setting .income-section .tab-row select {
  width: 40%;
}

   .accoutn-owner-setting .debts-section .tab-row input, .accoutn-owner-setting .debts-section .tab-row select {
  width: 63%;
}
   .accoutn-owner-setting .debts-Reduction .tab-row input, .accoutn-owner-setting .debts-Reduction .tab-row select {
  width: 45%;
}

   .notification {
  width: 90%;
}
   .accoutn-owner-setting .billing-address .tab-row .account-label {
  width: 156px;
}
   .accoutn-owner-setting .authorised-representatives .tab-row .account-label {
  width: 207px;
}

   .Occupancy-feild .tab-row input, .Occupancy-feild .tab-row select {
  width: 60%;
}
   .Occupancy-feild .tab-row .facilityName input {
  width: 46%;
}
   .accoutn-owner-setting .tab-row .account-label {
  width: 110px;
}
    .personal-outer label.error {
  right: 14%;
}

    .accoutn-owner-setting .billing-address .tab-row input, .accoutn-owner-setting .billing-address .tab-row select, .accoutn-owner-setting .billing-address .tab-row textarea {
  width: 78%;
}
    .billing-address label.error {
  right: 81px;
}

    .accoutn-owner-setting .emergency-section .tab-row input, .accoutn-owner-setting .emergency-section .tab-row select, .accoutn-owner-setting .emergency-section .tab-row textarea {
  width: 56%;
}

    .accoutn-owner-setting .accommodation-left .tab-row input, .accoutn-owner-setting .accommodation-left .tab-row select {
  width: 52%;
}

    .accoutn-owner-setting .accommodation-right .tab-row input, .accoutn-owner-setting .accommodation-right .tab-row select {
  width: 52%;
}

    .accoutn-owner-setting .tab-row input[type="checkbox"] {
        width:auto;
    }
}

@media screen and (min-width:1601px) and (max-width:1800px) {

   .accoutn-owner-setting .income-section .tab-row input, .accoutn-owner-setting .income-section .tab-row select {
  width: 41%;
}
   .notification {
  width: 90%;
}

     .Occupancy-feild .tab-row input, .Occupancy-feild .tab-row select {
  width: 63%;
}
   .Occupancy-feild .tab-row .facilityName input {
  width: 52%;
}
   .personal-outer label.error {
  right: 17%;
}

   .accoutn-owner-setting .authorised-representatives .tab-row input, .accoutn-owner-setting .authorised-representatives .tab-row select, .accoutn-owner-setting .authorised-representatives .tab-row textarea {
    width:77%;
}
.authorised-representatives label.error {
  right: 7%;
}

.billing-address label.error {
  right: 113px;
}

.accoutn-owner-setting .billing-address .tab-row input, .accoutn-owner-setting .billing-address .tab-row select, .accoutn-owner-setting .billing-address .tab-row textarea {
  width: 78%;
}

.accoutn-owner-setting .emergency-section .tab-row input, .accoutn-owner-setting .emergency-section .tab-row select, .accoutn-owner-setting .emergency-section .tab-row textarea {
  width: 57%;
}
.Emergancy-outer label.error {
  right: 76px;
}

.accoutn-owner-setting .debts-section .tab-row input, .accoutn-owner-setting .debts-section .tab-row select {
  width: 67%;
}

.accoutn-owner-setting .income-section .tab-row input, .accoutn-owner-setting .income-section .tab-row select {
  width: 46%;
}

.income-assest-page h3 {
  width: 95%;
}
.accoutn-owner-setting .debts-Reduction .tab-row input, .accoutn-owner-setting .debts-Reduction .tab-row select {
  width: 52%;
}

.Emergancy-outer label.error {
  right: 44px;
}

.authorised-representatives label.error {
  right: 9%;
}

  .accoutn-owner-setting .accommodation-left .tab-row input, .accoutn-owner-setting .accommodation-left .tab-row select {
  width: 57%;
}

    .accoutn-owner-setting .accommodation-right .tab-row input, .accoutn-owner-setting .accommodation-right .tab-row select {
  width: 57%;
}
    .accoutn-owner-setting .tab-row input[type="checkbox"] {
        width:auto;
    }
}
@media screen and (min-width:1701px) and (max-width:1900px) {
    .accoutn-owner-setting .income-section .tab-row input[type="text"], .accoutn-owner-setting .income-section .tab-row select {
        width: 48% !important;
    }
}

@media screen and (min-width:1801px) and (max-width:20000px) {

   .accoutn-owner-setting .income-section .tab-row input, .accoutn-owner-setting .income-section .tab-row select {
  width: 50%;
}
   .notification {
  width: 90%;
}

   .accoutn-owner-setting .authorised-representatives .tab-row .account-label {
  width: 209px;
}

   .accoutn-owner-setting .billing-address .tab-row .account-label {
  width: 158px;
}

    .Occupancy-feild .tab-row input, .Occupancy-feild .tab-row select {
  width: 68%;
}
   .Occupancy-feild .tab-row .facilityName input {
  width: 58%;
}
   .personal-outer label.error {
  right:19%;
}
.accoutn-owner-setting .tab-row .account-label {
  width: 109px;
}

.accoutn-owner-setting .billing-address .tab-row input, .accoutn-owner-setting .billing-address .tab-row select, .accoutn-owner-setting .billing-address .tab-row textarea {
  width: 82%;
}
.billing-address label.error {
  right: 112px;
}

.accoutn-owner-setting .emergency-section .tab-row input, .accoutn-owner-setting .emergency-section .tab-row select, .accoutn-owner-setting .emergency-section .tab-row textarea {
  width: 65%;
}

.Emergancy-outer label.error {
  right: 50px;
}

.accoutn-owner-setting .authorised-representatives .tab-row input, .accoutn-owner-setting .authorised-representatives .tab-row select, .accoutn-owner-setting .authorised-representatives .tab-row textarea {
    width:80%;
}

.Occupancy-feild .tab-row input, .Occupancy-feild .tab-row select {
  width: 71%;
}
.Occupancy-feild .tab-row .providerName input {
  width: 78%;
}

.accoutn-owner-setting .tab-row input, .accoutn-owner-setting .tab-row select {
  width: 66%;
}

.accoutn-owner-setting .tab-row textarea {
  width: 66%;
}


.Emergancy-outer label.error {
  right: 76px;
}

.accoutn-owner-setting .debts-section .tab-row input, .accoutn-owner-setting .debts-section .tab-row select {
  width: 72%;
}

.accoutn-owner-setting .income-section .tab-row input, .accoutn-owner-setting .income-section .tab-row select {
  /*width: 55%;*/
  width:50%;
}

.income-assest-page h3 {
  width: 95%;
}

.accoutn-owner-setting .debts-Reduction .tab-row input, .accoutn-owner-setting .debts-Reduction .tab-row select {
  width:59%;
}

 .accoutn-owner-setting .accommodation-left .tab-row input, .accoutn-owner-setting .accommodation-left .tab-row select {
  width:65%;
}

    .accoutn-owner-setting .accommodation-right .tab-row input, .accoutn-owner-setting .accommodation-right .tab-row select {
  width:65%;
}

    .incomeorassests .notification .information-icon {
  right: 49px;
}
    .accoutn-owner-setting .tab-row input[type="checkbox"] {
        width:auto !important;
    }
}


@media screen and (min-width:1940px) and (max-width:20000px) {

    .accoutn-owner-setting .income-section .tab-row input, .accoutn-owner-setting .income-section .tab-row select {
  width: 55%;
}
}


@media screen and (min-width:10000px) and (max-width:20500px) {
    
 .accoutn-owner-setting .income-section .tab-row input[type="text"], .accoutn-owner-setting .income-section .tab-row select {
  width: 66%;
}
}