/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/icons.less";
@import "../common/tabstrip.less";
@import "base.less";

/* TabStrip */

.km-ios7 .km-tabstrip
{
    padding: 0;
    display: table;
    table-layout: fixed;
}

.km-ios7 .km-tabstrip .km-button
{
    font-size: .7em;
    display: table-cell;
    border: 0;
    padding: .6em .8em .195em;
    line-height: 1em;
}

.km-ios7 .km-tabstrip .km-icon {
    font-size: 1.6rem;
    height: 1.6rem;
}

.km-ios7 .km-tabstrip .km-icon:before
{
    display: none;
}

.km-ios7 .km-tabstrip .km-icon:after {
    text-align: center;
}

.km-ios7 .km-tabstrip .km-image,
.km-ios7 .km-tabstrip .km-button .km-icon
{
    margin: 0 auto .326em;
    display: inline-block;
}

.km-tablet .km-ios7 .km-tabstrip .km-text {
    font-size: 1.125em;
}


.km-tablet .km-ios7 .km-tabstrip .km-button {
    padding-top: 0.364em;
}

.km-tablet .km-ios7 .km-tabstrip .km-image, 
.km-tablet .km-ios7 .km-tabstrip .km-button .km-icon {
     margin-bottom: 0.231em;
}