/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    /*position: fixed;
    left: 0;
    width: 0;
    height: 100%;*/
    margin-left: 0;
   /* overflow-y: auto;
    background: #000;*/
    background:#e9e9e9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /*width:200px;*/
    width:202px;


    height: 100%;
    /* position: absolute;
   top: 124px;
   top: 32%;
   left:0;*/

     border-right: 1px solid #fff;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    /*position: absolute;*/
    top: 0;
    /*width: 250px;*/
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
  line-height: 40px;
  /*padding-left: 15px;*/
  text-indent: 29px;
}

.sidebar-nav li a {
  color: #3a3a3a;
  display: block;
  font-size: 15px;
  text-decoration: none;
    position: relative;
}


.sidebar-nav >li.sidebar-brand  {
   text-indent: 18px;
}

.sidebar-brand > a:first-of-type::before {
  background: transparent none repeat scroll 0 0;
}

.sidebar-nav li a::before {
  background: #3a3a3a ;
  border-radius: 100%;
  content: "";
  height: 5px;
  position: absolute;
  top: 42%;
  width: 5px;
   left:7%;
}
.sidebar-nav li a:hover::before {
    background: #fff ;
}

.sidebar-nav li a.accordion::before {
  content: "+";
  background:none;
  left: -17px;
    top: 1px;
}
.sidebar-nav li a.accordion:hover::before {
        background:none;
    }

.sidebar-nav li a.accordion-in::before {
  content: "-";
}

.sidebar-nav li ul {
  padding: 0;
}

.sidebar-nav li ul li a{
  padding: 0 0 0 7px;
}

.sidebar-nav li ul li a::before {
  /*background: #db7811 ;*/
  border-radius: 100%;
  content: ">";
  background:none;
  left: -2px;
    top: 1px;
     font-size: 9px;
     line-height: 39px;
}
    .sidebar-nav li ul li a:hover::before {
        background:none;
    }

   

    .sidebar-nav li ul li span.small-arrow {
  /*background: #db7811 ;*/
  background:none;
  left: -2px;
    top: 1px;
     font-size: 9px;
     line-height: 39px;
     position:relative;
}
   

.page-navigation {
  display: inline-block;
  margin-top:10px;
  text-align: right;
  width: 99%;
}

.page-navigation > a {
  background: #165991 none repeat scroll 0 0;
  color: #ffffff;
  cursor: pointer;
  padding: 6px;
}

    .page-navigation > a:hover{
         background: #db7811;
    }

/*.sidebar-logo {
  left: 0;
  margin: 50px auto 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 164px;
}*/
.sidebar-logo {
  bottom: 40px;
  left: 14px;
  position: fixed;
  right: 0;
  text-align: center;
  width: 164px;
}


.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}






.sidebar-nav li.cls_Active a::after {
  background: #1a4caf none repeat scroll 0 0;
  content: "";
  height: 40px;
  position: absolute;
  right: 0;
  width: 5px;
   top: 0;
}


 .sidebar-nav li.cls_Active a {
  background: #db7811 none repeat scroll 0 0;
  color: #fff;
  position: relative;
  text-decoration: none;
   font-size: 15px;
}




.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    /*height: 65px;*/
    font-size: 18px;
    /*line-height: 87px;*/
}

.sidebar-nav > .sidebar-brand a {
  color: #1a4caf;
  font-size: 18px;
  font-weight: normal;
}

.sidebar-nav li a:hover {
  background: #db7811 none repeat scroll 0 0;
  color: #fff;
  position: relative;
  text-decoration: none;
}


.sidebar-nav li a:hover::after {
  background: #1a4caf none repeat scroll 0 0;
  content: "";
  height: 40px;
  position: absolute;
  right: 0;
  width: 5px;
}


.Undersidebar { 
    text-indent: 82px;
    line-height: 0px;
}

.btn.btn-default.sidemenu-button {
  left: 1%;
  position: fixed;
  top:80px;
   transition: all 0.5s ease 0s;
  -webkit-transition:all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition:all 0.5s ease 0s;
}

/*.sidebar-open {
  margin-left: 0 !important;
  width: 165px !important;
}*/

.btn.btn-default.sidemenu-button.sidetogglebutton {
  left: 170px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition:all 0.5s ease 0s;
     z-index: 5;
}






@media(min-width:768px) {
    /*#wrapper {
  float: left;
  margin-top: 1px;
  padding-left: 0;

  

   position: absolute;
  
   left:0;

   height: 100%;

    background: #e9e9e9 none repeat ;
    width:200px;

}*/

#wrapper {
  background: #e9e9e9 none repeat scroll 0 0;
  float: left;
  height: 100%;
  left: 0;
  margin-top: 1px;
  padding-left: 0;
  position: fixed;
  top: 89px;
  width: 200px;
  z-index: 3;
}


    #wrapper.toggled {
        padding-left: 0;
    }

    /*#sidebar-wrapper {
        width: 208px;
    }*/

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

