/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@radio-border-color: darken(@base, 12%);
@radio-border-radius: 50%;
@radio-border-width: 1px;
@radio-background-color: @background;
@radio-hover-border-color: darken(@base, 24%);
@radio-hover-box-shadow: none;
@radio-checked-background-color: @accent;
@radio-active-border-color: lighten(@accent, 13%);
@radio-active-box-shadow: 0 0 2px 0 lighten(@accent, 13%);
@radio-disabled-background-color: @background;
@radio-disabled-color: darken(@base, 10%);
@radio-disabled-border-color: darken(@base, 12%);
@radio-disabled-box-shadow: none;

.k-radio-label:before {  
   border-color: @radio-border-color;
   border-radius: @radio-border-radius;
   background-color: @radio-background-color;
   border-width: @radio-border-width;
}

.k-radio-label:hover:before,
.k-radio:checked + .k-radio-label:hover:before {
   border-color: @radio-hover-border-color;
   box-shadow: @radio-hover-box-shadow;
}

.k-radio:checked + .k-radio-label:after {
   background-color: @radio-checked-background-color;
   border-radius: @radio-border-radius; 
}

.k-radio-label:active:before {
   border-color: @radio-active-border-color; 
   box-shadow: @radio-active-box-shadow;  
}

.k-radio:checked + .k-radio-label:active:before {
  box-shadow: @radio-active-box-shadow;
  border-color: @radio-active-border-color;
}

.k-radio:disabled + .k-radio-label {
   color: @radio-disabled-color;
}

.k-radio:disabled + .k-radio-label:before,
.k-radio:disabled + .k-radio-label:active:before,
.k-radio:disabled + .k-radio-label:hover:after,
.k-radio:disabled + .k-radio-label:hover:before {
    background: @radio-disabled-background-color;       
    border-color: @radio-disabled-border-color;
    box-shadow: @radio-disabled-box-shadow;
}

.k-radio:focus + .k-radio-label:before {
   border-color: @radio-active-border-color;
   box-shadow: @radio-active-box-shadow;
}

