/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/base.less";

@wp-border-width: 1px;
@wp-border-radius: 2px;

.km-wp {
    font-size: 1em;
    font-family: 'Segoe WP', 'Segoe UI Symbol', 'Segoe UI', sans-serif;
}

.km-wp a
{
	text-decoration: none;
}

.km-wp .km-button,
.km-root .km-wp .km-view .km-buttongroup .km-button
{
	border-style: solid;
	border-width: .1em;
	border-radius: 0;
    line-height: 1em;
	padding: .04em .5em .16em;
}

.km-root .km-wp .km-tabstrip .km-icon,
.km-wp .km-scroller-pull .km-icon
{
    width: 1em;
    height: 1em;
    font-size: 3.2em;
	border-width: .08em;
	border-style: solid;
	border-radius: 5em;
	margin-bottom: .2em;
	padding: .1em;
}

.km-wp .km-scroller-pull .km-icon
{
    width: 1em;
    height: 1em;
    font-size: 1.2em;
}

.km-wp .km-icon
{
    line-height: 1em;
}

.km-wp .km-icon:before
{
    margin-top: .08em;
}

.km-wp .km-icon:after
{
    margin-top: .04em;
    vertical-align: middle;
    height: 1em;
}

.km-wp .km-tabstrip .km-icon:after,
.km-wp .km-tabstrip .km-icon:before
{
    margin-top: .02em;
    margin-left: -.05em;
}

.km-wp .km-tabstrip .km-icon:before
{
    margin-top: .06em;
}

/* Scroll hints */
.km-wp .km-touch-scrollbar
{
    border-width: @wp-border-width;
    border-style: solid;
}

.km-wp .km-vertical-scrollbar
{
    width: 2px;
}

.km-wp .km-horizontal-scrollbar
{
    height: 2px;
}

.km-wp .km-scrollview
{
    overflow: hidden;
}

/* Orientation fallback */

@media all and (orientation: landscape) {
  .km-root > .km-pane
  {
      animation-name: -kendo-landscape;
  }
}

/* Pull To Refresh */

.km-wp .km-load-more,
.km-wp .km-scroller-pull
{
    font-size: 1.2em;
}

/* DropDownList */

.km-wp .km-popup
{
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(0,0,0,.6);
    .box-sizing(border-box);
}

.km-wp .km-popup .k-list-container
{
    width: 100% !important;
    height: auto !important;
    bottom: 0;
    border: 0;
    padding: 0;
    border-radius: 0;
    .box-sizing(border-box);
}

.km-wp .km-actionsheet,
.km-phone .km-wp .km-popup .k-list-container
{
    max-height: 80%;
}

.km-wp .km-popup li.k-state-hover
{
    color: inherit;
}

/* Loader */

.km-wp .km-loader,
.km-wp .km-loading-right,
.km-wp .km-scroller-refresh
{
    display: block;
    width: 100%;
    height: 4em;
    padding: 0;
    top: 50%;
    left: 0;
    border-radius: 0;
    border: 0;
    margin: -2em 0 0;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
    line-height: .65rem;
}

.km-wp .km-loading-right
{
    position: absolute;
    z-index: -1;
}

.km-wp .km-loader
{
    margin: 0;
    top: 0;
    height: 100%;
    background: transparent;
}

.km-wp .km-scroller-refresh
{
    background: transparent;
    height: 3em;
    margin: 0;
    width: 100%;
    font-size: 1.2rem;
}

.km-load-more.km-scroller-refresh
{
    position: relative;
}

.km-wp .km-loader h1,
.km-wp .km-scroller-refresh .km-template
{
    position: absolute;
    display: none;
    font-size: 1em;
    width: 100%;
    left: 0;
    margin-left: 0;
    top: 50%;
}

.km-wp .km-scroller-refresh .km-template
{
    left: 0;
    margin-left: 0;
    text-align: center;
    width: 100%;
}

.km-wp .km-loader .km-loading,
.km-wp .km-scroller-refresh .km-icon
{
    .animation(none);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
}

.km-wp .km-loader:before,
.km-wp .km-loader:after,
.km-wp .km-loader .km-loading,
.km-wp .km-loader .km-loading:after,
.km-wp .km-loader .km-loading:before,
.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon,
.km-wp .km-scroller-refresh .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:before
{
    position: absolute;
    display: inline-block;
    content: "\a0";
    top: 0;
    left: 0;
    border: 0;
    width: 12em;
    margin: 0;
    padding: 0;
    height: 0;
    text-align: left;
    font-family: "Kendo UI";
    vertical-align: top;
}

.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon,
.km-wp .km-scroller-refresh .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:before
{
    width: 100%;
}

.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon
{
    top: 46%;
    font-size: .3em;
}

.km-wp .km-loader:before,
.km-wp .km-loader:after,
.km-wp .km-loader .km-loading
{
    left: 50%;
    margin-left: -7em;
    top: 50%;
    font-size: .3em;
    line-height: 0;
}

.km-wp .km-loader:before,
.km-wp .km-loader:after,
.km-wp .km-loader .km-loading:after,
.km-wp .km-loader .km-loading:before,
.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:before
{
    opacity: 0;
    height: .6em;
    border-left: .7em solid;
    .animation(km-wpload 2s infinite linear);
}

.km-wp .km-loader .km-loading:after,
.km-wp .km-scroller-refresh .km-icon:after
{
    .animation-delay(0);
}

.km-wp .km-loader .km-loading:before,
.km-wp .km-scroller-refresh .km-icon:before
{
    .animation-delay(.3s);
}

.km-wp .km-loader:before,
.km-wp .km-scroller-refresh:before
{
    .animation-delay(.6s);
}

.km-wp .km-loader:after,
.km-wp .km-scroller-refresh:after
{
    .animation-delay(.9s);
}

@keyframes km-wpload
{
    0% { transform: translateX(0); opacity: 0; }
    8% { transform: translateX(30%); }
    16% { opacity: 1; }
    34% { opacity: 1; }
    42% { transform: translateX(70%); }
    50% { transform: translateX(100%); opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes km-wpload
{
    0% { -moz-transform: translateX(0); opacity: 0; }
    8% { -moz-transform: translateX(30%); }
    16% { opacity: 1; }
    34% { opacity: 1; }
    42% { -moz-transform: translateX(70%); }
    50% { -moz-transform: translateX(100%); opacity: 0; }
    100% { opacity: 0; }
}

@-webkit-keyframes km-wpload
{
    0% { -webkit-transform: translateX(0); opacity: 0; }
    8% { -webkit-transform: translateX(30%); }
    16% { opacity: 1; }
    34% { opacity: 1; }
    42% { -webkit-transform: translateX(70%); }
    50% { -webkit-transform: translateX(100%); opacity: 0; }
    100% { opacity: 0; }
}

.km-wp .km-view:not(.km-splitview) .km-content:not(.km-stretched-view)
{
    display: block;
}



/* Color Template */
@import "template.less";

