/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/icons.less";
@import "../common/button.less";
@import "base.less";

/* Button */

.km-wp .km-button
{
    text-transform: lowercase;
}

.km-wp .km-button
{
	font-size: .9em;
	line-height: 1.3em;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.km-wp .km-button .km-icon
{
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: text-top;
}

.km-wp .km-button .km-text
{
    margin-top: -3px;
    display: inline-block;
    padding-bottom: 3px;
}

/* Badges */

.km-wp .km-badge
{
    border-width: .1em;
    border-style: solid;
    background-clip: border-box;
    line-height: 1.9em;
    border-radius: 2em;
}

.km-wp .km-tabstrip .km-badge
{
    margin-top: -.7em;
    line-height: 2.1em;
}

