/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/icons.less";
@import "../common/buttongroup.less";
@import "base.less";

/* ButtonGroup */

html .km-wp .km-buttongroup
{
    top: 0;
    display: block;
    margin: auto;
    text-align: center;
}

.km-wp .k-toolbar .km-buttongroup
{
    display: inline-block;
}

.km-root .km-wp .km-view .km-buttongroup .km-button
{
	border-radius: 0;
	display: inline-block;
	margin-left: 1px;
    .box-sizing(border-box);
    height: 100%;
}

.km-root .km-wp .km-view .km-buttongroup .km-button:first-child
{
	margin-left: 0;
}

.km-wp .km-buttongroup .km-icon
{
    vertical-align: middle;
}

