/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/forms.less";
@import "base.less";

/* Checkboxes and Radios */

.km-wp .km-listview-label input[type=radio],
.km-wp .km-listview-label input[type=checkbox]
{
    border-width: @wp-border-width;
    border-style: solid;
    width: 1em;
    height: 1em;
}

.km-wp .km-listview-label input[type=radio],
.km-wp .km-listview-label input[type=radio]:after,
.km-wp .km-state-active input[type=radio]:before
{
    border-radius: 1em;
}

.km-wp .km-listview-label input[type=radio]:after,
.km-wp .km-listview-label input[type=checkbox]:after,
.km-wp .km-state-active input[type=radio]:before,
.km-wp .km-state-active input[type=checkbox]:before
{
    content: "\a0";
    display: block;
    margin: 16% 0 0 16%;
    width: 78%;
    height: 78%;
}

.km-wp .km-listview-label input[type=radio]:after
{
    margin: 11% 0 0 11%;
}

.km-wp .km-listview-label input[type=checkbox]:after
{
    margin: -60% 0 0 10%;
    width: 120%;
    height: 120%;
}

.km-wp .km-listview-label input[type=checkbox]:checked:after
{
    font-size: 1.2em;
    .transform(scale(1,1.2));
}

.km-wp .km-state-active input[type=radio]:before,
.km-wp .km-state-active input[type=checkbox]:before
{
    position: absolute;
    margin: -45% 0 0 -45%;
    width: 190%;
    height: 190%;
}

/* Forms */

.km-wp input[type=password],
.km-wp input[type=search],
.km-wp input[type=number],
.km-wp input[type=tel],
.km-wp input[type=url],
.km-wp input[type=email],
.km-wp input[type=text]:not(.k-input),
.km-wp input[type=month],
.km-wp input[type=color],
.km-wp input[type=week],
.km-wp input[type=date],
.km-wp input[type=time],
.km-wp input[type=datetime],
.km-wp input[type=datetime-local],
.km-wp select:not([multiple]),
.km-wp .k-dropdown,
.km-wp textarea
{
	border-width: 2px;
    border-style: solid;
	font-size: 100%;
	font-family: inherit;
    padding: 0 .3em;
    margin-top: -.65em;
}

.km-wp .k-dropdown
{
    padding: 0;
    width: auto;
    min-width: 8em;
    margin-top: -.75em;
    border-radius: 0;
}

.km-wp .k-dropdown .k-dropdown-wrap
{
    width: 100%;
    padding: 0;
    display: block;
    border-radius: 0;
    .box-sizing(border-box);
    .box-shadow(none);
    background: none;
    border: 0;
}

.km-wp .k-dropdown .k-input
{
    color: inherit;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 .2em;
    border-radius: 0;
    .box-shadow(none);
}

.km-wp select::-ms-expand
{
    display: none;
}

/* Slider */

.km-wp .k-slider-horizontal
{
    height: .5em;
    margin: -.65em .35em 0 0;
    width: ~"calc(50% - .7em)";
}

.km-wp .k-slider-vertical
{
    width: .5em;
}

.km-wp .k-slider .k-draghandle,
.km-wp .k-slider .k-draghandle:hover
{
    border: 0;
    border-radius: 0;
    z-index: 1;
}

.km-wp .k-slider-horizontal .k-draghandle
{
    top: -.25em;
    height: 200%;
    width: .6em;
}

.km-wp .k-slider-vertical .k-draghandle
{
    left: -.25em;
    width: 200%;
    height: .6em;
}

.km-wp .k-slider-track,
.km-wp .k-slider-selection
{
    top: 0;
    left: 0 !important;
    right: 0;
    border-radius: 0;
}

.km-wp .k-slider-vertical .k-slider-track,
.km-wp .k-slider-vertical .k-slider-selection
{
    top: auto;
    bottom: 0;
}

.km-wp .k-slider .k-tick,
.km-wp .k-slider .k-tick-large
{
    visibility: hidden;
    display: inline-block;
    float: none;
}

.km-wp .k-slider .k-tick-large
{
    background: none;
    visibility: visible;
}

.km-wp .k-slider .k-tick-large:before
{
    content: "\a0";
    display: inline-block;
    text-align: center;
    position: relative;
    width: 2px;
    height: 100%;
}

.km-wp .k-slider-items
{
    top: 100%;
    white-space: nowrap;
}

.km-wp .k-slider-items,
.km-wp .k-slider .k-tick-large
{
    position: relative;
}

.km-wp .k-slider .k-tick-large
{
    z-index: 1;
}

.km-wp .k-slider-selection
{
    margin-left: 0;
}

.km-wp .k-slider-track
{
    background-clip: padding-box;
    border: .5em solid transparent;
    border-width: .5em 0;
}

.km-wp-light .k-slider-track
{
    background-clip: padding-box;
}

.km-wp .km-list .km-full-width-slider {    
    position: relative;
    margin-top: 0;
    padding: 1.55em 0;
    width: auto;
    display: block;
}

.km-wp .km-full-width-slider .k-slider-track {
    height: .5rem;
    top: 50%;
}


/* Nova theme features */
.km-wp .km-icon-label.km-required:after {
    margin-left: -.89em;
}

.km-wp .km-label-above {
    font-size: 1em;
    padding-top: .27em;
    padding-bottom: 2.5em;
    margin-left: -.7em;
}

.km-wp .km-label-above textarea { 
    top: 50%;
}

.km-wp .km-list fieldset {
    border: none;
    margin: .55em -1.4em 0;
    padding: 0 .7em;
}

.km-wp .km-list fieldset legend {
    line-height: 2em;
    text-indent: 0;
    font-weight: normal;
    padding: 1.23em 1.61em .11em;
    width: 100%;
    box-sizing: content-box;
    text-transform: uppercase;
    padding: 0;
    padding-left: .7em;
}

.km-wp .km-list fieldset legend + .km-inline-field {
    margin-top: .5em;   
}

.km-wp .km-label-above {
    font-size: 1em;
    margin-left: -.7em;
}

.km-wp .km-legend-button {
    text-transform: uppercase;
}    

.km-wp .km-list fieldset .km-inline-field {
    margin-top: 0;
    margin-left: 0;
}

.km-wp .km-inline-field.km-label-above {
    margin-bottom: 0;
}

.km-wp {
    .km-list {
        .km-inline-field {
            input[type=password],
            input[type=search], 
            input[type=number], 
            input[type=tel],
            input[type=url],
            input[type=email],
            input[type=month],
            input[type=color],
            input[type=week], 
            input[type=date], 
            input[type=time], 
            input[type=datetime], 
            input[type=datetime-local], 
            input[type=text]:not(.k-input), 
            select:not([multiple]), 
            .k-dropdown-wrap, 
            textarea  {
                left: 0;
                padding-left: 1em; 
            }
        }
    }
}

.km-wp {
    .km-list {
        fieldset,
        .km-label-above {
            input[type=password],
            input[type=search], 
            input[type=number], 
            input[type=tel],
            input[type=url],
            input[type=email],
            input[type=month],
            input[type=color],
            input[type=week], 
            input[type=date], 
            input[type=time], 
            input[type=datetime], 
            input[type=datetime-local], 
            input[type=text]:not(.k-input), 
            select:not([multiple]), 
            .k-dropdown-wrap, 
            textarea  {
                border: none;
                padding: .4em 0 .4em .7em;
                margin-top: 0;
            }
        }
    }
}

.km-wp {
    .km-list {
        fieldset {
            input[type=password],
            input[type=search], 
            input[type=number], 
            input[type=tel],
            input[type=url],
            input[type=email],
            input[type=month],
            input[type=color],
            input[type=week], 
            input[type=date], 
            input[type=time], 
            input[type=datetime], 
            input[type=datetime-local], 
            input[type=text]:not(.k-input), 
            select:not([multiple]), 
            .k-dropdown-wrap, 
            textarea  {
                padding: 5px 0;
                margin-top: 0;
                padding-left: .7em;
            }
        }
    }
}

/* Standalone Checkboxes and RadioButtons */
.km-wp .km-checkbox-label,
.km-wp .km-radio-label {
    font-size: 1em;
    line-height: 1.5em;
    margin-left: .89em;
}

.km-wp .km-checkbox-label:before,
.km-wp .km-checkbox-label:after {
    right: .7em;
    width: 1.07rem;
    height: 1.07rem;   
    text-align: right;
    font-size: 1.5em;
}

.km-wp .km-checkbox-label:before {
    border-width: 0.133rem;
    border-style: solid;
}

.km-wp input.km-checkbox:checked + .km-checkbox-label:after {
    font-size: 1.2em;
    line-height: 1em; 
    right: 1em;
}

//Radio buttons
.km-wp .km-radio-label {
    padding-left: 2.5em;
    line-height: 1.5em;  
}

.km-wp .km-radio-label:before {    
    width: 1rem;
    height: 1rem;
    border-width: 0.133rem;
    border-style: solid;
}

.km-wp input.km-radio:checked + .km-radio-label:after {
    border-width: 2px; 
    border-style: solid;
    top: 36%;
    transform: translateY(-36%);
}

.km-wp input.km-radio:checked + .km-radio-label:after {
    width: .27rem;
    height: .27rem;
    left: .35rem;
}