/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/navbar.less";
@import "base.less";

/* NavBar */

.km-wp .km-leftitem,
.km-wp .km-rightitem
{
    line-height: 2.6rem;
    vertical-align: middle;
}

.km-wp .km-navbar .km-view-title
{
	visibility: visible;
	font-size: 1.6em;
    line-height: 2.6rem;
    text-align: left;
    margin-left: .5em;
    .box-sizing(border-box);
}

.km-wp .km-navbar .km-back
{
	display: none;
}

.km-wp .km-leftitem
{
    position: relative;
    float: left;
    margin-right: 1em;
}

