/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/switch.less";
@import "base.less";

/* Switch */

.km-wp .km-switch
{
    font-size: .7em;
    width: 6.4em;
    height: 2.4em;
    line-height: 2.4em;
}

.km-wp .km-list .km-switch
{
    margin-top: -1.2em;
}

.km-wp .km-switch-wrapper,
.km-wp .km-switch-handle,
.km-wp .km-switch-container
{
	border-radius: 0;
}

.km-wp .km-switch-wrapper
{
	border-style: solid;
	border-width: .2em;
	.box-sizing(border-box);
}

.km-wp .km-switch-container
{
    left: .2em;
    top: .2em;
    right: .2em;
    bottom: .2em;
    width: auto;
    height: auto;
    overflow: visible;
}

.km-wp .km-switch-handle
{
	width: 1.4em;
	margin-top: -.2em;
    padding-bottom: .4em;
    z-index: 1;
}

.km-wp .km-switch-handle > span
{
	display: none;
}

.km-wp .km-switch-background
{
	width: 100%;
	margin-left: -6em;
}

