/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/icons.less";
@import "../common/tabstrip.less";
@import "base.less";

/* TabStrip */

.km-wp .km-tabstrip .km-text
{
    display: block;
}

.km-wp .km-tabstrip
{
	padding: .7em 0 .2em;
    background: transparent;
}

.km-wp.km-horizontal .km-tabstrip
{
	padding: .4em 0 .2em;
}

.km-wp .km-tabstrip .km-button
{
	border-width: 0;
	margin: 0 1.2em;
	background-color: transparent;
	font-size: .5em;
}

.km-wp .km-tabstrip .km-icon:after,
.km-wp .km-tabstrip .km-icon:before
{
    vertical-align: middle;
    line-height: .8em;
}
