/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@import "../common/forms.less";
@import "base.less";

/* Slider */

.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover
{
    border: 0;
    border-radius: 5em;
}

.km-flat .k-slider .k-draghandle {
    top: -7px;
}

.km-flat .k-slider-track
{
    margin: -.5em .5em 0 0;
    .box-sizing(content-box);
    border-radius: .5em;
    background-color: @flat-second-color;
}

.km-flat .k-slider-horizontal .k-slider-track {
    height: .29rem;
}

.km-flat .k-slider-vertical .k-slider-track {
    width: .29rem;
}

.km-flat .k-slider-selection
{
    margin-left: 0;
}

.km-flat .k-slider-vertical .k-draghandle {
    top: initial;
    left: -6px;
}
  
.km-flat .k-slider-vertical .k-slider-selection {
    width: .29rem;
    margin-left: -2px;
    border-radius: 3px;
}

/* Forms */

.km-flat .km-list input[type=password],
.km-flat .km-list input[type=search],
.km-flat .km-list input[type=number],
.km-flat .km-list input[type=tel],
.km-flat .km-list input[type=url],
.km-flat .km-list input[type=email],
.km-flat .km-list input[type=month],
.km-flat .km-list input[type=color],
.km-flat .km-list input[type=week],
.km-flat .km-list input[type=date],
.km-flat .km-list input[type=time],
.km-flat .km-list input[type=datetime],
.km-flat .km-list input[type=datetime-local],
.km-flat .km-list input[type=text]:not(.k-input),
.km-flat .km-list select:not([multiple]),
.km-flat .km-list .k-dropdown-wrap,
.km-flat .km-list textarea
{
    .appearance(none);
    font-size: 1.1rem;
    min-width: 6em;
    border: 0;
    padding: .4em 0;
    outline: none;
    background: transparent;
}

.km-flat .km-list .k-dropdown-wrap
{
	padding: .2em;
}

.km-flat .km-list .k-dropdown
{
    margin-top: -1.05em;
    font-weight: normal;
}

.km-flat .km-list input[type=color],
.km-flat .km-list input[type=week],
.km-flat .km-list input[type=date],
.km-flat .km-list input[type=time],
.km-flat .km-list input[type=month],
.km-flat .km-list input[type=datetime],
.km-flat .km-list input[type=datetime-local],
.km-flat .km-list .k-dropdown
{
    text-align: left;
}

.km-flat .km-list .k-dropdown .k-dropdown-wrap
{
    display: block;
    border-radius: 0;
    background: transparent;
    .box-shadow(none);
}

/* Checkboxes and Radios */

.km-flat .km-listview-label input[type=checkbox]
{
    margin-top: -.7em;
}

.km-flat .km-listview-label input[type=radio],
.km-flat .km-listview-label input[type=checkbox]
{
    border-width: @flat-border-width;
    border-style: solid;
    width: 1.4em;
    height: 1.4em;
    border-radius: @flat-border-radius;
}

.km-flat .km-listview-label input[type=radio]
{
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
}

.km-flat .km-listview-label input[type=checkbox]:after
{
    content: "\a0";
    display: block;
    width: 90%;
    height: 76%;
    .transform(scale(.9,1));
    .transform-origin(10% 50%);
}

.km-flat .km-listview-label input[type=checkbox]:checked:after
{
    font-size: 1.4em;
}

.km-flat .km-listview-label input[type=radio]:after
{
    color: transparent;
}

/* Nova theme features */
.km-flat .km-icon-label.km-required:after {
    margin-left: -.89em;
}

.km-flat .km-label-above {
    font-size: 0.87em;
    margin-top: -2px;
    padding-top: .92em;
    padding-bottom: 2.5em;
}

.km-flat fieldset .km-label-above {
    margin-top: 0;
    padding-top: 1.455em;
    padding-bottom: 3.091em;
}

.km-flat .km-label-above textarea { 
    top: 50%;
}

.km-flat {
    .km-list {
        .km-label-above {
            input[type=password],
            input[type=search], 
            input[type=number], 
            input[type=tel],
            input[type=url],
            input[type=email],
            input[type=month],
            input[type=color],
            input[type=week], 
            input[type=date], 
            input[type=time], 
            input[type=datetime], 
            input[type=datetime-local], 
            input[type=text]:not(.k-input), 
            select:not([multiple]), 
            .k-dropdown-wrap, 
            textarea  {
                left: .7em;
                margin-top: -.375em;
            }
        }
    }
}

.km-flat {
    .km-list {
        fieldset {
            .km-label-above {
                input[type=password],
                input[type=search], 
                input[type=number], 
                input[type=tel],
                input[type=url],
                input[type=email],
                input[type=month],
                input[type=color],
                input[type=week], 
                input[type=date], 
                input[type=time], 
                input[type=datetime], 
                input[type=datetime-local], 
                input[type=text]:not(.k-input), 
                select:not([multiple]), 
                .k-dropdown-wrap, 
                textarea  {
                    margin-top: -.25em;
                }
            }
        }    
    }
}

.km-flat .km-list fieldset {
    border: none;
    padding: 0 1.61em;
    margin: -.5em -1.61em;
}

.km-flat .km-list fieldset > input[type=password],
.km-flat .km-list fieldset > input[type=search],
.km-flat .km-list fieldset > input[type=number],
.km-flat .km-list fieldset > input[type=tel],
.km-flat .km-list fieldset > input[type=url],
.km-flat .km-list fieldset > input[type=email],
.km-flat .km-list fieldset > input[type=month],
.km-flat .km-list fieldset > input[type=color],
.km-flat .km-list fieldset > input[type=week],
.km-flat .km-list fieldset > input[type=date],
.km-flat .km-list fieldset > input[type=time],
.km-flat .km-list fieldset > input[type=datetime],
.km-flat .km-list fieldset > input[type=datetime-local],
.km-flat .km-list fieldset > input[type=text]:not(.k-input),
.km-flat .km-list fieldset > select:not([multiple]),
.km-flat .km-list fieldset > .k-dropdown-wrap {
    padding: 1.23em 0; 
    margin-top: 0;
}

.km-flat .km-list fieldset legend {
    text-indent: 0;
    margin: 0 -1.61em;
    font-weight: normal;
    padding: 1.8em 1.61em .72em;
    width: 100%;
    box-sizing: content-box;
    text-transform: uppercase;
}

.km-flat .km-legend-button {
    padding: 2.5em 1.61em .39em;
    margin: -2.5em -1.61em -.39em;
    text-transform: uppercase;
}    

.km-flat .km-list fieldset .km-inline-field {
    margin-top: 0;
    margin-left: 0;
    padding-left: 1.61em;
    border-right-width: 1px;
    border-right-style: solid;
}

.km-flat .km-list fieldset .km-inline-field:first-of-type {
    padding-left: 0;
}

.km-flat .km-inline-field.km-label-above {
    margin-bottom: 0;
}

.km-flat {
    .km-list {
        .km-inline-field {
            input[type=password],
            input[type=search], 
            input[type=number], 
            input[type=tel],
            input[type=url],
            input[type=email],
            input[type=month],
            input[type=color],
            input[type=week], 
            input[type=date], 
            input[type=time], 
            input[type=datetime], 
            input[type=datetime-local], 
            input[type=text]:not(.k-input), 
            select:not([multiple]), 
            .k-dropdown-wrap, 
            textarea  {
                left: 0;
                padding-left: 0;
                padding-left: 1em;
            }
        }
    }
}

.km-flat {
    .km-list {
        .km-inline-field:first-of-type {
            input[type=password],
            input[type=search], 
            input[type=number], 
            input[type=tel],
            input[type=url],
            input[type=email],
            input[type=month],
            input[type=color],
            input[type=week], 
            input[type=date], 
            input[type=time], 
            input[type=datetime], 
            input[type=datetime-local], 
            input[type=text]:not(.k-input), 
            select:not([multiple]), 
            .k-dropdown-wrap, 
            textarea  {
                margin-left: 0;
                padding-left: 0; 
            }
        }
    }
}

.km-flat .km-list .km-full-width-slider {
    margin-top: 0;
    padding: 1.55em 0;
}

/* Standalone Checkboxes and RadioButtons */
.km-root .km-checkbox-label,
.km-root .km-radio-label {
    font-size: 1em;
    line-height: 1.5em;
    margin-left: .89em;
}

.km-root .km-checkbox-label:before,
.km-root .km-checkbox-label:after {
    right: .7em;
    width: 1.33rem;
    height: 1.33rem;
    border-width: 0.133rem;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
}

.km-root input.km-checkbox:checked + .km-checkbox-label:after {
    line-height: 1.2em;
}

//Radio buttons
.km-root .km-radio-label {
    padding-left: 2.5em;
    line-height: 1.5em;  
}

.km-root .km-radio-label:before {    
    width: 1.35rem;
    height: 1.35rem;
    border-width: 0.133rem;
    border-style: solid;
}

.km-root input.km-radio:checked + .km-radio-label:after {
    width: .95rem;
    height: .95rem;
    left: 0.25rem;
}