﻿@model  List<WebApplication1.Models.MenuModel>
@{
    ViewBag.Title = "";
    Layout = null;
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link href="~/Content/Menu/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Menu/css/simple-sidebar.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $(".accordion").click(function () {
            $(this).toggleClass("accordion-in");
        });
    });


</script>



<div style="" id="wrapper">
    <div id="sidebar-wrapper" class="sidebar-open">
        <ul class="sidebar-nav">

            @if (Model != null)
            {
                if (Model[0].userRole == 1)//Loywer
                {
                    <h2>Account Creation</h2>
                    <li>
                        <a href="/Home/AccountCreationList">Account</a>
                    </li>
                    <li>
                        <a href="/Home/logout">Logout</a>
                    </li>
                }
                if (Model[0].userRole == 2)//Owner of Software
                {
                    <h2>Admin Facility</h2>

                    <li><a href="/FacilitiesForms/AccountOwnerSetting">Account Settting</a></li>

                    <li>
                        <a class="accordion" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">List Facility</a>
                        <ul class="collapse" id="collapseExample">
                            @foreach (var item in Model)
                            {

                                if (Request.QueryString["FacilityID"] != null && Convert.ToInt32(item.facilityID) == Convert.ToInt32(Request.QueryString["FacilityID"].ToString()))
                                {
                                    <li class="cls_Active">
                                        <a class="cls_Link" href="/FacilitiesForms/FacilitySetting?FacilityID=@item.facilityID">  @item.facilityName</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="cls_Link" href="/FacilitiesForms/FacilitySetting?FacilityID=@item.facilityID">  @item.facilityName</a>
                                    </li>
                                }


                            }
                        </ul>

                    </li>
                    <li>
                        <a href="/Home/logout">Logout</a>
                    </li>
                }
                if (Model[0].userRole == 3)//User
                {
                    <h2>Save Document</h2>
                    if (!string.IsNullOrEmpty(Model[0].Name) || !string.IsNullOrEmpty(Model[0].adress) || !string.IsNullOrEmpty(Model[0].Contact))
                    {
                        <li>
                            <a href="#">Open Document</a>
                            <ul>
                                <li><span class="small-arrow">></span> @Model[0].Name</li>
                                <li><span class="small-arrow">> </span>@Model[0].adress</li>
                                <li><span class="small-arrow">> </span>@Model[0].Contact</li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="/SavedDocument/index">New Document</a>
                    </li>
                    <li>
                        <a href="/SavedDocument/SavedDocument">Saved Documents</a>
                    </li>
                    <li>    
                        <a href="/Home/logout">Logout</a>
                    </li>
                }
            }
        </ul>
        @if (Model != null && !string.IsNullOrEmpty(Model[0].ImageURL))//User
        {
            <img width="50" src="@Model[0].ImageURL" class="sidebar-logo" />
        }
    </div>
</div>

