﻿@model WebApplication1.Models.SignupModel
@{
    ViewBag.Title = ViewBag.TitleName;
}



<script src="~/scripts/Js Files/SignUp.js"></script>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLogin", autocomplete = "on" , novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(d => d.id)

    <div class="has-error control-label">
        @Html.ValidationSummary(false)
    </div>


                <div class="AccountCreation">



                    <div class="login-pannel">                       
                        <div class="login-style">

                            <h1>@ViewBag.TitleName</h1>

                            <div class="login-row">
                                <span class="account-label">@Html.LabelFor(d => d.strUserName)</span>

                                    @if (Model.id > 0)
                {
                                    @Html.HiddenFor(d => d.strUserName)
                                    <span class="label-name">@Model.strUserName</span>
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.strUserName, new { @maxlength = "50" })
                                    <a class="notification create-user-info" href="javascript:void(0);"><span class="information-icon">i</span><span class="information-text">Spaces are allowed: punctuation is not allowed except for periods, hyphens, apostrophes, and underscores.</span></a>
                                    }
                            
                        </div>

                        <div class="login-row">
                                <span class="account-label">@Html.LabelFor(d => d.strPassowrd)</span>
                                    @if (Model.id > 0)
                {
                                        <input type="text" id="txt_Password" class="create-passtext-btn" maxlength="50" /><input class="create-pass-btn" type="button" value="Change Password" id="btn_ChangePassword" />
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.strPassowrd, new { @maxlength = "50" })
                                        <span id="result"></span>
                                    }
                                
                    </div>

                    <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.emailAddress)</span>
                        @Html.TextBoxFor(m => m.emailAddress, new { @maxlength = "50" })
                        <a class="notification create-user-info" href="javascript:void(0);"><span class="information-icon">i</span><span class="information-text">A valid e-mail. All emails from the system will be sent to this address. The e-mail address is not made public and will only be used if you wish to receive a new password or wish to receive certain news or notification by e-mail.</span></a>
                    </div>

                    <div class="login-row">
                            <span class="account-label">@Html.LabelFor(d => d.noOfFacility)</span>

                            @if (Model.id > 0)
                        {
                            <span class="label-name">@Model.noOfFacility</span>
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.noOfFacility, new { @maxlength = "50" })                               

                            }
                    
                </div>

                <div class="login-row">
                    <span class="account-label">@Html.LabelFor(d => d.isActive)</span>
                        @Html.CheckBoxFor(m => m.isActive)
               </div>




                <div class="login-row">                    
                    <span class="login-col-button "><input id="btnSignup_Submit" type="submit" name="submit" value="Create Account"></span>
                    <span class="login-col-button "><input id="btnSignup_Submit" type="button" value="Clear"></span>
                </div>

                @*<div class="login-row">
                    <span class="error_msg" id="error_msg">@Convert.ToString(Model.msg)</span>
                </div>*@


            </div>
        </div>

    </div>
}
