﻿
@{
    ViewBag.Title = "AccountCreationList";
}

<div class="heading-section">
    <div class="heading-left">
        <h2>Account List</h2>
    </div>

    <div class="info-add-btn">
        <a class="underline buttton add-new-btn" href="/Home/AccountCreation?UserType">Add New</a>
    </div>

</div>






<div id="Account-Creation-grid"></div>

<script>

    $(document).ready(function () {
        $("#Account-Creation-grid").kendoGrid({
            groupable: true,
            scrollable: true,
            sortable: true,
            pageable: true,
            filterable: true,
            dataSource: {
                transport: { read: { url: "/Home/getAccounts" } },
                pageSize: 25
            },
            pageable: {
                input: true,
                numeric: false
            },
            columns: [
                {
                    title: "User Name",
                    field: "userName",
                    width: 100
                },
                {
                    title: "Email",
                    field: "emailAddress",
                    width: 150
                },
                {
                    title: "Membership Expiry Date",
                    field: "memberShipExpiryDate",
                    width: 150,
                    format: "{0:MM-dd-yyyy}",
                    type: "date"
                },
                {
                    title: "Active",
                    field: "isActive",
                    width: 80
                }

                , {
                    field: "id",
                    title: "Edit",
                    width: 100,
                    template: '<div class="account-icon"><a href="/Home/AccountCreation?ID=#=id#"><span aria-hidden="true" class="glyphicon glyphicon-pencil edit-icon"></span></a></div>'
                }

                  , {
                      field: "id",
                      title: "Delete",
                      width: 100,
                      template: '<div class="account-icon"><a href="/Home/DeleteUserAccount?ID=#=id#"><span aria-hidden="true" class="glyphicon glyphicon-trash del-icon"></span></a></div>'
                  }
                  , {
                      title: "Login",
                      width: 100,
                      template: '<div class="account-icon"><a href="/Home/LoginAsSelectedUSerID?userID=#=id#"><span aria-hidden="true" class="glyphicon glyphicon-log-in login-s-icon"></span></a></div>'
                  },


            ]
        });
    });
</script>