﻿@model WebApplication1.Models.loginModel
@{
    ViewBag.Title = "Login";
}
<script src="~/scripts/Js Files/Login.js"></script>

<style>
    body {
        background: #165991 !important;
    }

    #wrapper {
        display:none;
    }
</style>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLogin" }))
{


    <div class="table-responsive">

        <div class="login-pannel">


            <div class="logo-img"><img src="~/images/logo.png" /></div>

            <div class="login-style">

                <h1>Login</h1>


                <div class="login-row">@Html.ValidationSummary(false)</div>
                <div class="login-row login-user">
                    <span aria-hidden="true" class="glyphicon glyphicon-user login-icon"></span> @Html.TextBoxFor(m => m.userName, new { @maxlength = "50" })

                </div>
                <div class="login-row login-user">
                    <span aria-hidden="true" class="glyphicon glyphicon-lock login-icon"></span> @Html.PasswordFor(m => m.password, new { @maxlength = "50" })

                </div>
                <div class="login-row log-button">

                    <input id="btn_Submit" type="submit" value="Login">
                </div>
                <div class="login-row">
                    <span id="error_msg">@Convert.ToString(Model.msg)</span>
                </div>
            </div>
        </div>



    </div>



}
