/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #cde6f7;
@base: #0072c6;
@background: #fff;

@border-radius: 0;

@normal-background: #fff;
@normal-text-color: #333333;
@normal-gradient: none;
@hover-background: #f4f4f4;
@hover-text-color: #000;
@hover-gradient: none;
@selected-background: #cde6f7;
@selected-text-color: #333333;
@selected-gradient: none;

@error: #ffcdd2;
@warning: #fff19d;
@success: #c8e6c9;
@info: #bbdefb;

@series-a: #0072c6;
@series-b: #5db2ff;
@series-c: #008a17;
@series-d: #82ba00;
@series-e: #ff8f32;
@series-f: #ac193d;

// graphics
@image-folder: "Office365";
@texture: none;
@fallback-texture: none;

@import "type-office365.less";
