/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #eee;
@base: #fff;
@background: #fff;

@border-radius: 6px;

@normal-background: #fff;
@normal-text-color: #676767;
@normal-gradient: "rgba(0,0,0,.01) 0%, rgba(0,0,0,.08) 100%";
@hover-background: #fff;
@hover-text-color: #676767;
@hover-gradient: "rgba(0,0,0,.01) 0%, rgba(0,0,0,.06) 100%";
@selected-background: #eee;
@selected-text-color: #454545;
@selected-gradient: "rgba(0,0,0,.13) 0%, rgba(0,0,0,.08) 100%";

@error: #ffe0d9;
@warning: #ffe9a8;
@success: #eaf7ec;
@info: #e5f5fa;

@series-a: #527aa3;
@series-b: #6f91b3;
@series-c: #8ca7c2;
@series-d: #a8bdd1;
@series-e: #c5d3e0;
@series-f: #e2e9f0;

// graphics
@image-folder: "Uniform";
@texture: none;
@fallback-texture: url('textures/highlight.png');

@import "type-default.less";
