/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #3f51b5;
@base: #fff;
@background: #fff;

@border-radius: 2px;

@normal-background: #fff;
@normal-text-color: #444444;
@normal-gradient: none;
@hover-background: #ebebeb;
@hover-text-color: #444444;
@hover-gradient: none;
@selected-background: #00b0ff;
@selected-text-color: #3f51b5;
@selected-gradient: none;

@error: #ffcdd2;
@warning: #fdefba;
@success: #c8e6c9;
@info: #bbdefb;

@series-a: #3f51b5;
@series-b: #03a9f4;
@series-c: #4caf50;
@series-d: #f9ce1d;
@series-e: #ff9800;
@series-f: #ff5722;

// graphics
@image-folder: "Material";
@texture: none;
@fallback-texture: none;

@import "type-material.less";
