/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #428bca;
@base: #ebebeb;
@background: #fff;

@border-radius: 4px;

@normal-background: #fff;
@normal-text-color: #333333;
@normal-gradient: none;
@hover-background: #ebebeb;
@hover-text-color: #333333;
@hover-gradient: none;
@selected-background: #428bca;
@selected-text-color: #ffffff;
@selected-gradient: none;

@error: #ffe0d9;
@warning: #fbeed5;
@success: #eaf7ec;
@info: #e5f5fa;

@series-a: #428bca;
@series-b: #5bc0de;
@series-c: #5cb85c;
@series-d: #f2b661;
@series-e: #e67d4a;
@series-f: #da3b36;

// graphics
@image-folder: "Bootstrap";
@texture: none;
@fallback-texture: none;

@import "type-bootstrap.less";

/*
Uncomment the following two @import statements if you want to compile a Kendo UI Bootstrap theme with a custom color scheme, based on a custom Bootstrap Less file.

The first file (bootstrap-variables.less) contains the Bootstrap Less variables. It is part of the Bootstrap source code, not the Kendo UI source code.

The second file (bootstrap-mapper.less) exists in the same folder as this file. It maps the Bootstrap Less variables to Kendo UI Less variables,
which will cause the Kendo UI color values to be overwritten.

More information is available in the Kendo UI documentation:

http://docs.telerik.com/kendo-ui/using-kendo-with-twitter-bootstrap
*/

/*@import "bootstrap-variables.less";*/

/*@import "bootstrap-mapper.less";*/