/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #870074;
@base: #2c232b;
@background: #1b141a;

@border-radius: 13px;

@normal-background: #1b141a;
@normal-text-color: #fff;
@normal-gradient: none;
@hover-background: #a7008f;
@hover-text-color: #fff;
@hover-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,.0) 100%";
@selected-background: @accent;
@selected-text-color: #fff;
@selected-gradient: "rgba(255,255,255,.3) 0%, rgba(255,255,255,.1) 100%";

@error: #be5138;
@warning: #e9a71d;
@success: #2b893c;
@info: #0c779b;

@series-a: #a7008f;
@series-b: #ffb800;
@series-c: #3aafff;
@series-d: #99c900;
@series-e: #b20753;
@series-f: #ff4195;

// graphics
@image-folder: "HighContrast";
@texture: url(textures/glass-lighter.png);
@fallback-texture: url(textures/glass-lighter.png);

@import "type-highcontrast.less";
