/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@input-height: 1.94em;
@input-indent: .8em;
@editor-icon-size: 32px;
@menu-link-padding: 1.2em 1.2em 1.1em;
@button-padding: 5px 14px 4px;
@treeview-inner-padding: 0.4167em 0.6667em 0.3333em 0.5833em;
@treeview-inner-margin: 1px 0 1px 0.3333em;
@scheduler-link-padding: .16666em 1.1em;
@grid-header-padding: .75em .2em .8333em 1em;
@icon-positioning: "default";

@import "common/core.less";

.k-widget.k-tabstrip
{
    background-color: transparent;
    background-image: none;
    border-style: none;
    .box-shadow(none);
}

.k-tabstrip .k-tabstrip-items
{
    padding: 0;
}

.k-tabstrip > .k-content,
.k-panelbar .k-tabstrip > .k-content
{
    margin: 0;
}

.k-slider-track
{
    border-width: 1px;
    border-style: solid;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
    margin-top: -5px;
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
    margin-left: -5px;
}

input.k-textbox {
  height: 2.43em;
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-selectbox .k-input {
      padding: 0.167em 0;
}

.k-numerictextbox .k-link {
    height: 1.15em;
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-n {
    background-position: 0 -1px;
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-s {
    background-position: 0 -36px;
}

.k-webkit .k-rtl .k-widget .k-dropdown-wrap .k-input,
.k-webkit .k-rtl .k-widget .k-numeric-wrap .k-input {
    margin-right: 0;
}

.k-pager-wrap,
.k-pager-numbers .k-link {
    line-height: 2.3em;
}

.k-pager-wrap > .k-link {
    height: 2.3em;
    line-height: 2.3em;
}

.k-pager-wrap > .k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
    min-width: 2.3em;
}

.k-pager-sizes .k-dropdown-wrap .k-input {
    line-height: 2em;
}

.k-toolbar .k-button-group .k-button {
    margin: 0;
}

.k-checkbox-label,
.k-radio-label {
    display: inline;
}

.k-checkbox-label:before,
.k-checkbox-label:after,
.k-radio-label:before,
.k-radio-label:after {
    box-sizing: content-box;
}