/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
/* Kendo skin */
.k-theme-test-class,
.ktb-theme-id-default {
  opacity: 0;
}
.ktb-var-accent {
  color: #1984c8;
}
.ktb-var-base {
  color: #f3f3f4;
}
.ktb-var-background {
  color: #fff;
}
.ktb-var-border-radius {
  border-radius: 4px;
}
.ktb-var-normal-background {
  color: #fff;
}
.ktb-var-normal-gradient {
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.45)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
}
.ktb-var-normal-text-color {
  color: #515967;
}
.ktb-var-hover-background {
  color: #b6bdca;
}
.ktb-var-hover-gradient {
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
}
.ktb-var-hover-text-color {
  color: #263248;
}
.ktb-var-selected-background {
  color: #1984c8;
}
.ktb-var-selected-gradient {
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,.2)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
}
.ktb-var-selected-text-color {
  color: #fff;
}
.ktb-var-error {
  color: #ffe0d9;
}
.ktb-var-warning {
  color: #ffe79e;
}
.ktb-var-success {
  color: #eaf7ec;
}
.ktb-var-info {
  color: #e5f5fa;
}
.ktb-var-series-a {
  color: #007bc3;
}
.ktb-var-series-b {
  color: #76b800;
}
.ktb-var-series-c {
  color: #ffae00;
}
.ktb-var-series-d {
  color: #ef4c00;
}
.ktb-var-series-e {
  color: #a419b7;
}
.ktb-var-series-f {
  color: #430B62;
}
.k-grid-norecords-template {
  background-color: #fff;
  border: 1px solid #dedee0;
}
.k-in,
.k-item,
.k-window-action {
  border-color: transparent;
}
/* main colors */
.k-block,
.k-widget {
  background-color: #fff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-colorpicker .k-i-arrow-s,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files {
  border-color: #dedee0;
}
.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-calendar th,
.k-dropzone-hovered,
.k-widget.k-popup {
  background-color: #f5f5f5;
}
.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner {
  background-color: #f3f3f4;
}
.k-list-container {
  border-color: #ceced2;
  background-color: #f3f3f4;
}
.k-content,
.k-editable-area,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #fff;
}
.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child {
  background-color: #fbfbfb;
}
.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt {
  background-color: #e6e6e8;
}
.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active {
  border-color: #dedee0;
  background-color: #f3f3f4;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #dedee0;
}
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background: none;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: #fff;
  color: #515967;
}
.k-input[readonly] {
  background-color: #fff;
  color: #515967;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input {
  color: #515967;
}
.k-inverse {
  color: #ffffff;
}
.k-block {
  color: #535b6a;
}
.k-link:link,
.k-link:visited,
.k-nav-current.k-state-hover .k-link {
  color: #505968;
}
.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link {
  color: #515967;
}
.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link {
  color: #535b6a;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-button,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.km-pane-wrapper > .km-pane > .km-view > .km-content {
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.45)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
  background-position: 50% 50%;
  background-color: #f3f3f4;
}
.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-button,
.k-draghandle,
.k-treemap-tile,
html .km-pane-wrapper .k-header {
  background-color: #f3f3f4;
}
/* icons */
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite,
.k-pager-numbers .k-current-page .k-link:hover:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after {
  opacity: 1;
}
.k-icon,
.k-state-disabled .k-icon,
.k-column-menu .k-sprite,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {
  opacity: 0.9;
}
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked {
  opacity: 0.9;
}
.k-tool {
  border-color: transparent;
}
.k-icon,
.k-tool-icon,
.k-grouping-dropclue,
.k-drop-hint,
.k-column-menu .k-sprite,
.k-grid-mobile .k-resize-handle-inner:before,
.k-grid-mobile .k-resize-handle-inner:after,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after,
.k-gantt-views > .k-current-view > .k-link:after {
  background-image: url('Silver/sprite.png');
  border-color: transparent;
}
/* IE will ignore the above selectors if these are added too */
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked {
  background-image: url('Silver/sprite.png');
  border-color: transparent;
}
.k-loading,
.k-state-hover .k-loading {
  background-image: url('Silver/loading.gif');
  background-position: 50% 50%;
}
.k-loading-image {
  background-image: url('Silver/loading-image.gif');
}
.k-loading-color {
  background-color: #ffffff;
}
.k-button {
  color: #515967;
  border-color: #ceced2;
  background-color: #f3f3f4;
}
.k-draghandle {
  border-color: #a0dba9;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-draghandle:hover {
  border-color: #95d79f;
  background-color: #b7bdc9;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/* Scheduler */
.k-scheduler {
  color: #515967;
  background-color: #fff;
}
.k-scheduler-layout {
  color: #515967;
}
.k-scheduler-datecolumn,
.k-scheduler-groupcolumn {
  background-color: #fff;
  color: #515967;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: #ceced2;
}
.k-nonwork-hour {
  background-color: #fbfbfb;
}
.k-gantt .k-nonwork-hour {
  background-color: rgba(243, 243, 244, 0.2);
}
.k-gantt .k-header.k-nonwork-hour {
  background-color: rgba(243, 243, 244, 0.15);
}
.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: #ffffff;
}
.k-scheduler-now-arrow {
  border-left-color: #ff6745;
}
.k-scheduler-now-line {
  background-color: #ff6745;
}
.k-event,
.k-task-complete {
  border-color: #97cff2;
  background: #53afea 0 -257px url('textures/highlight.png') repeat-x;
  color: #515967;
}
.k-event-inverse {
  color: #fff;
}
.k-event.k-state-selected {
  background-position: 0 0;
  -webkit-box-shadow: 0 0 0 2px #515967;
          box-shadow: 0 0 0 2px #515967;
}
.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after {
  background-color: #4f5764;
}
.k-scheduler-marquee:before,
.k-scheduler-marquee:after {
  border-color: #1984c8;
}
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  background-color: #fff;
  color: #515967;
  border-color: #ceced2;
}
.k-panelbar > li > .k-link {
  color: #515967;
}
.k-panelbar > .k-item > .k-link {
  border-color: #ceced2;
}
.k-panel > li.k-item {
  background-color: #fff;
}
/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter,
.k-tabstrip .k-state-active {
  background-color: #ffffff;
  border-color: #a6a6ad;
  color: #535b6a;
}
.k-fieldselector .k-list-container {
  background-color: #ffffff;
}
.k-button:focus,
.k-button.k-state-focused {
  border-color: #ceced2;
}
.k-button:hover,
.k-button.k-state-hover {
  color: #263248;
  border-color: #bebec3;
  background-color: #b6bdca;
}
.k-button:active,
.k-button.k-state-active {
  color: #fff;
  background-color: #1984c8;
  border-color: #1a87cd;
}
.k-button:active:hover,
.k-button.k-state-active:hover {
  color: #ffffff;
  border-color: #7b889f;
  background-color: #1b8dd6;
}
.k-button[disabled],
.k-button.k-state-disabled,
.k-state-disabled .k-button,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active {
  color: #a6a6ad;
  border-color: #ceced2;
  background-color: #f3f3f4;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.45)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
}
.k-button:focus:not(.k-state-disabled):not([disabled]) {
  -webkit-box-shadow: inset 0 0 3px 1px #bebec3;
          box-shadow: inset 0 0 3px 1px #bebec3;
}
.k-button:focus:active:not(.k-state-disabled):not([disabled]) {
  -webkit-box-shadow: inset 0 0 3px 1px #14699f;
          box-shadow: inset 0 0 3px 1px #14699f;
}
.k-menu .k-state-hover > .k-state-active {
  background-color: transparent;
}
.k-menu .k-state-selected > .k-link {
  color: #fff;
  background-color: #1984c8;
  border-color: #1a87cd;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,.2)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
}
.k-menu .k-link.k-state-active {
  background-color: #ffffff;
  border-color: #a6a6ad;
  color: #535b6a;
}
.k-menu .k-state-hover > .k-link {
  color: #263248;
  background-color: #b6bdca;
  border-color: #bebec3;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
}
.k-state-highlight {
  background: #ffffff;
  color: #535b6a;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: #dedee0;
}
.k-calendar .k-link {
  color: #505968;
}
.k-calendar .k-footer {
  padding: 0;
}
.k-calendar .k-footer .k-nav-today {
  color: #505968;
  text-decoration: none;
  background-color: #fff;
}
.k-calendar .k-footer .k-nav-today:hover,
.k-calendar .k-footer .k-nav-today.k-state-hover {
  background-color: #fff;
  text-decoration: underline;
}
.k-calendar .k-footer .k-nav-today:active {
  background-color: #fff;
}
.k-calendar .k-link.k-nav-fast {
  color: #505968;
}
.k-calendar .k-nav-fast.k-state-hover {
  text-decoration: none;
  background-color: #b6bdca;
  color: #263248;
}
.k-calendar .k-link.k-state-hover {
  border-radius: 4px;
}
.k-calendar .k-today {
  -webkit-box-shadow: inset 0 0 0 1px #1984c8;
          box-shadow: inset 0 0 0 1px #1984c8;
}
.k-calendar .k-today .k-link {
  color: #1984c8;
  font-weight: bold;
}
.k-calendar td.k-today.k-state-focused,
.k-calendar td.k-today.k-state-focused.k-state-hover {
  -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
          box-shadow: inset 0 0 3px 1px #d7dae0;
}
.k-calendar td.k-today.k-state-hover,
.k-calendar td.k-today.k-state-selected {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-calendar td.k-today.k-state-hover .k-link {
  color: #505968;
}
.k-calendar .k-footer .k-link {
  border-radius: 0;
}
.k-calendar th {
  background-color: #f5f5f5;
}
.k-calendar td.k-state-selected.k-state-hover {
  background-color: #1186d0;
  background-image: none;
}
.k-calendar td.k-state-selected .k-link,
.k-calendar td.k-today.k-state-selected.k-state-hover .k-link {
  color: #fff;
}
.k-calendar td.k-state-focused.k-state-selected,
.k-calendar td.k-state-selected.k-state-active,
.k-calendar td.k-state-selected:active,
.k-calendar td.k-state-selected.k-state-hover:active {
  -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
          box-shadow: inset 0 0 3px 1px #d7dae0;
}
.k-window-titlebar .k-link {
  border-radius: 4px;
}
.k-calendar-container.k-group {
  border-color: #ceced2;
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color {
  color: #fff;
  background-color: #1984c8;
  border-color: #1a87cd;
}
.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first {
  border-top-color: #bebec3;
}
.k-group-header + div > .k-list > .k-item.k-first:before {
  border-top-color: #bbbbc6;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  background: #bebec3;
  color: #fff;
}
.k-popup .k-list .k-item > .k-group {
  background: #bbbbc6;
  color: #fff;
  border-bottom-left-radius: 3px;
}
.k-popup .k-treeview .k-item > .k-group {
  background: transparent;
  color: #515967;
}
.k-marquee-text {
  color: #fff;
}
.k-state-focused,
.k-list > .k-state-focused,
.k-listview > .k-state-focused,
.k-grid-header th.k-state-focused,
td.k-state-focused,
.k-button.k-state-focused {
  -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
          box-shadow: inset 0 0 3px 1px #d7dae0;
}
.k-state-focused.k-state-selected,
.k-list > .k-state-focused.k-state-selected,
.k-listview > .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected {
  -webkit-box-shadow: inset 0 0 3px 1px #14699f;
          box-shadow: inset 0 0 3px 1px #14699f;
}
.k-ie8 .k-panelbar span.k-state-focused,
.k-ie8 .k-menu li.k-state-focused,
.k-ie8 .k-listview > .k-state-focused,
.k-ie8 .k-grid-header th.k-state-focused,
.k-ie8 td.k-state-focused,
.k-ie8 .k-tool.k-state-hover,
.k-ie8 .k-button:focus,
.k-ie8 .k-button.k-state-focused {
  background-color: #b6bdca;
}
.k-list > .k-state-selected.k-state-focused,
.k-list-optionlabel.k-state-selected.k-state-focused {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-state-selected > .k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar > li.k-state-default > .k-link.k-state-selected {
  color: #fff;
}
.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list > .k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-mobile-list .k-item > .k-link:active,
.k-mobile-list .k-item > .k-label:active,
.k-mobile-list .k-edit-label.k-check:active,
.k-mobile-list .k-recur-view .k-check:active {
  color: #263248;
  background-color: #b6bdca;
  border-color: #bebec3;
}
/* this selector should be used separately, otherwise old IEs ignore the whole rule */
.k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active {
  color: #263248;
  background-color: #b6bdca;
  border-color: #bebec3;
}
.k-ie8 .k-window-titlebar .k-state-hover {
  border-color: #bebec3;
}
.k-state-hover > .k-select,
.k-state-focused > .k-select {
  border-color: #bebec3;
}
.k-button:hover,
.k-button.k-state-hover,
.k-button:focus,
.k-button.k-state-focused,
.k-textbox:hover,
.k-state-hover,
.k-state-hover:hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover {
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
}
.k-pager-wrap {
  background-color: #f3f3f4;
  color: #535b6a;
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-button:active,
.k-panelbar > .k-item > .k-state-focused {
  background-image: none;
}
.k-state-selected,
.k-button:active,
.k-button.k-state-active,
.k-draghandle.k-state-selected:hover {
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,.2)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
}
.k-button:active,
.k-button.k-state-active,
.k-draghandle.k-state-selected:hover {
  background-position: 50% 50%;
}
.k-tool-icon {
  background-image: url('Silver/sprite.png');
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em {
  color: #263248;
}
.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused {
  background-color: #b5bdcb;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-position: 50% 50%;
  border-color: #bebec3;
}
.km-pane-wrapper .k-mobile-list input:not([type="checkbox"]):not([type="radio"]),
.km-pane-wrapper .km-pane .k-mobile-list select:not([multiple]),
.km-pane-wrapper .k-mobile-list textarea,
.k-dropdown .k-state-focused .k-input {
  color: #515967;
}
.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right {
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.45)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
  background-position: 50% 50%;
  background: #f6f6f6;
  border-color: #ceced2;
}
.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right > input {
  background: #fff;
  border-color: #ceced2;
}
.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right > input:focus {
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.k-dropdown .k-state-hover .k-input {
  color: #263248;
}
.k-state-error {
  border-color: #ff6745;
  background-color: #fdfdfd;
  color: #1778b6;
}
.k-state-disabled {
  opacity: .7;
}
.k-ie8 .k-state-disabled {
  filter: alpha(opacity=70);
}
.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #a6a6ad;
}
.k-dropzone .k-upload-status {
  color: #515967;
}
/* Progressbar */
.k-progressbar-indeterminate {
  background: url('Silver/indeterminate.gif');
}
.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected {
  display: none;
}
/* Slider */
.k-slider-track {
  background-color: #dedee0;
}
.k-slider-selection {
  background-color: #1984c8;
}
.k-slider-horizontal .k-tick {
  background-image: url('Silver/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('Silver/slider-v.gif');
}
/* Tooltip */
.k-widget.k-tooltip {
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.45)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
  background-position: 50% 50%;
  background-color: #f3f3f4;
  color: #535b6a;
  border-color: transparent;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.k-widget.k-tooltip-validation {
  border-color: #ffe79e;
  background-color: #ffe79e;
  color: #6b5100;
}
/* Bootstrap theme fix */
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation {
  font-size: 12px;
  position: relative;
  top: 3px;
}
.k-callout-n {
  border-bottom-color: #f3f3f4;
}
.k-callout-w {
  border-right-color: #f3f3f4;
}
.k-callout-s {
  border-top-color: #f3f3f4;
}
.k-callout-e {
  border-left-color: #f3f3f4;
}
.k-tooltip-validation .k-callout-n {
  border-bottom-color: #ffe79e;
}
.k-tooltip-validation .k-callout-w {
  border-right-color: #ffe79e;
}
.k-tooltip-validation .k-callout-s {
  border-top-color: #ffe79e;
}
.k-tooltip-validation .k-callout-e {
  border-left-color: #ffe79e;
}
/* Splitter */
.k-splitbar {
  background-color: #f3f3f4;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #1778b6;
}
/* Upload */
.k-file {
  background-color: #ffffff;
  border-color: #ceced2;
}
.k-file-progress {
  color: #2498bc;
}
.k-file-progress .k-progress {
  background-color: #e5f5fa;
}
.k-file-success {
  color: #3ea44e;
}
.k-file-success .k-progress {
  background-color: #eaf7ec;
}
.k-file-error {
  color: #d92800;
}
.k-file-error .k-progress {
  background-color: #ffe0d9;
}
/* ImageBrowser */
.k-tile {
  border-color: #fff;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: #bebec3;
}
.k-tiles li.k-state-selected {
  border-color: #1a87cd;
}
.k-filebrowser .k-tile .k-folder,
.k-filebrowser .k-tile .k-file {
  background-image: url('Silver/imagebrowser.png');
  -webkit-background-size: auto auto;
          background-size: auto auto;
}
/* TreeMap */
.k-leaf,
.k-leaf.k-state-hover:hover {
  color: #fff;
}
.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover:hover {
  color: #000;
}
/* Shadows */
.k-widget,
.k-button {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-slider,
.k-treeview,
.k-upload {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-state-hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.k-state-selected {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-state-active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-grid tr:hover {
  background-color: #b5bdcb;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-position: 50% 50%;
}
.k-pivot-rowheaders .k-grid tr:hover {
  background: none;
}
.k-grid tr.k-state-selected:hover,
.k-grid td.k-state-selected:hover {
  background-color: #1186d0;
  background-image: none;
}
.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.k-treemap-tile.k-state-hover {
  -webkit-box-shadow: inset 0 0 0 3px #dedee0;
          box-shadow: inset 0 0 0 3px #dedee0;
}
/* Window */
.k-window {
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.3);
          box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.3);
  background-color: #fff;
}
.k-window.k-state-focused {
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
}
.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content {
  border-radius: 0;
}
.k-shadow {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.k-inset {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* Selection */
.k-editor-inline ::-moz-selection {
  background-color: #1a87cd;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::selection {
  background-color: #1a87cd;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::-moz-selection {
  background-color: #1a87cd;
  text-shadow: none;
  color: #fff;
}
/* Notification */
.k-widget.k-notification.k-notification-info {
  background-color: #e5f5fa;
  color: #2498bc;
  border-color: #b6e3f1;
}
.k-widget.k-notification.k-notification-success {
  background-color: #eaf7ec;
  color: #526c9b;
  border-color: #c5e9cb;
}
.k-widget.k-notification.k-notification-warning {
  background-color: #ffe79e;
  color: #4d6591;
  border-color: #ffe38f;
}
.k-widget.k-notification.k-notification-error {
  background-color: #ffe0d9;
  color: #526c9b;
  border-color: #ffb6a6;
}
/* Gantt */
.k-gantt .k-treelist {
  background: #fbfbfb;
}
.k-gantt .k-treelist .k-alt {
  background-color: #eeeeef;
}
.k-gantt .k-treelist tr:hover {
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.45)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
  background-color: #bbbbc6;
}
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
  background-color: #1984c8;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,.2)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
}
.k-gantt .k-treelist .k-state-selected:hover,
.k-gantt .k-treelist .k-state-selected:hover td {
  background-color: #1186d0;
  background-image: none;
}
.k-task-dot:after {
  background-color: #515967;
  border-color: #515967;
}
.k-task-dot:hover:after {
  background-color: #ffffff;
}
.k-task-summary {
  border-color: #9099a8;
  background: #9099a8;
}
.k-task-milestone,
.k-task-summary-complete {
  border-color: #515967;
  background: #515967;
}
.k-state-selected.k-task-summary {
  border-color: #73beee;
  background: #73beee;
}
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  border-color: #1984c8;
  background: #1984c8;
}
.k-task-single {
  background-color: #b7def6;
  border-color: #97cff2;
  color: #515967;
}
.k-state-selected.k-task-single {
  border-color: #1a87cd;
}
.k-line {
  background-color: #515967;
  color: #515967;
}
.k-state-selected.k-line {
  background-color: #1984c8;
  color: #1984c8;
}
.k-resource {
  background-color: #fff;
}
/* PivotGrid */
.k-i-kpi-decrease,
.k-i-kpi-denied,
.k-i-kpi-equal,
.k-i-kpi-hold,
.k-i-kpi-increase,
.k-i-kpi-open {
  background-image: url('Silver/sprite_kpi.png');
}
/* Border radius */
.k-block,
.k-button,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-notification,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-colorpicker,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload,
.k-split-button .k-gantt-views,
.k-gantt-views > .k-current-view {
  border-radius: 4px;
}
.k-tool {
  text-align: center;
  vertical-align: middle;
}
.k-tool.k-group-start,
.k-toolbar .k-split-button .k-button,
.k-toolbar .k-button-group .k-group-start {
  border-radius: 4px 0 0 4px;
}
.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-split-button .k-button,
.k-rtl .k-toolbar .k-button-group .k-group-start {
  border-radius: 0 4px 4px 0;
}
.k-toolbar .k-button-group > .k-group-end {
  border-radius: 4px;
}
.k-tool.k-group-end,
.k-toolbar .k-button-group .k-button + .k-group-end,
.k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 4px 4px 0;
}
.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 4px 0 0 4px;
}
.k-group-start.k-group-end.k-tool {
  border-radius: 4px;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  border-radius: 0 0 4px 4px;
}
.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input {
  border-radius: 0 0 0 4px;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
  border-radius: 0 0 4px 4px;
}
.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down,
.k-gantt-views.k-state-expanded,
.k-gantt-views.k-state-expanded > .k-current-view {
  border-radius: 4px 4px 0 0;
}
.k-split-button.k-state-border-down > .k-button {
  border-radius: 4px 0 0 0;
}
.k-split-button.k-state-border-up > .k-button {
  border-radius: 0 0 0 4px;
}
.k-split-button.k-state-border-down > .k-split-button-arrow {
  border-radius: 0 4px 0 0;
}
.k-split-button.k-state-border-up > .k-split-button-arrow {
  border-radius: 0 0 4px 0;
}
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  border-radius: 3px 0 0 3px;
}
.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input {
  border-radius: 0 3px 3px 0;
}
.k-numeric-wrap .k-link {
  border-radius: 0 3px 0 0;
}
.k-numeric-wrap .k-link + .k-link {
  border-radius: 0 0 3px 0;
}
.k-colorpicker .k-selected-color {
  border-radius: 3px 0 0 3px;
}
.k-rtl .k-colorpicker .k-selected-color {
  border-radius: 0 3px 3px 0;
}
.k-autocomplete.k-state-border-down .k-input {
  border-radius: 4px 4px 0 0;
}
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input {
  border-radius: 4px 0 0 0;
}
.k-numeric-wrap .k-link.k-state-selected {
  background-color: #1984c8;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
  border-radius: 3px 3px 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-list-container.k-state-border-right {
  border-radius: 0 4px 4px 0;
}
.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select + .k-select,
.k-rtl .k-list-container.k-state-border-right {
  border-radius: 4px 0 0 4px;
}
.k-numeric-wrap.k-expand-padding .k-input {
  border-radius: 4px;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap {
  border-radius: 3px;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone {
  border-radius: 3px;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  border-radius: 13px;
}
.k-draghandle {
  border-radius: 7px;
}
.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 4px 0 0 4px;
}
.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child .k-link {
  border-radius: 0 4px 4px 0;
}
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today,
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today .k-link,
.k-edit-field > .k-scheduler-navigation {
  border-radius: 4px;
}
.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-radius: 4px 0 0 4px;
}
.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link {
  border-radius: 4px;
}
.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link {
  border-radius: 3px;
}
.k-scheduler-mobile .k-event {
  border-radius: 2px;
}
/* Adaptive Grid */
.k-grid-mobile .k-column-active + th.k-header {
  border-left-color: #515967;
}
html .km-pane-wrapper .km-widget,
.k-ie .km-pane-wrapper .k-widget,
.k-ie .km-pane-wrapper .k-group,
.k-ie .km-pane-wrapper .k-content,
.k-ie .km-pane-wrapper .k-header,
.k-ie .km-pane-wrapper .k-popup-edit-form .k-edit-field .k-button,
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-label,
.km-pane-wrapper .k-mobile-list .k-edit-field {
  color: #515967;
}
@media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
  div.km-pane-wrapper a {
    color: #515967;
  }
}
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-field,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check {
  background-color: #fff;
  border-top: 1px solid #ceced2;
}
.km-pane-wrapper .k-mobile-list .k-edit-field textarea {
  outline-width: 0;
}
.km-pane-wrapper .k-mobile-list .k-item.k-state-selected {
  background-color: #1984c8;
  border-top-color: #1a87cd;
}
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check:first-child {
  border-top-color: transparent;
}
.km-pane-wrapper .k-mobile-list .k-item:last-child {
  -webkit-box-shadow: inset 0 -1px 0 #ceced2;
          box-shadow: inset 0 -1px 0 #ceced2;
}
.km-pane-wrapper .k-mobile-list > ul > li > .k-link,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-label:nth-child(3),
.km-pane-wrapper #recurrence .km-scroll-container > .k-edit-label:first-child {
  color: #7e7e89;
}
.km-pane-wrapper .k-mobile-list > ul > li > .k-link {
  border-bottom: 1px solid #ceced2;
}
.km-pane-wrapper .k-mobile-list .k-edit-field {
  -webkit-box-shadow: 0 1px 1px #ceced2;
          box-shadow: 0 1px 1px #ceced2;
}
.km-actionsheet .k-grid-delete,
.km-actionsheet .k-scheduler-delete,
.km-pane-wrapper .k-scheduler-delete,
.km-pane-wrapper .k-filter-menu .k-button[type=reset] {
  color: #fff;
  border-color: #ff6745;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15));
}
.km-actionsheet .k-grid-delete:active,
.km-actionsheet .k-scheduler-delete:active,
.km-pane-wrapper .k-scheduler-delete:active,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]:active {
  background-color: #990000;
}
/* /Column Menu */
.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.45)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
  background-position: 50% 50%;
  background-color: #f6f6f6;
  border-color: #ceced2;
}
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #b5bdcb;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-position: 50% 50%;
  border-color: #bebec3;
}
input.k-textbox,
textarea.k-textbox,
.k-multiselect.k-header {
  border-color: #ceced2;
}
.k-multiselect.k-header.k-state-hover {
  border-color: #bebec3;
}
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
  background-color: #b5bdcb;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-position: 50% 50%;
  border-color: #bdbdbd;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.k-list-container {
  color: #515967;
}
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup {
  color: #515967;
}
.k-state-default > .k-select {
  border-color: #ceced2;
}
.k-state-hover > .k-select {
  border-color: #bebec3;
}
.k-state-focused > .k-select {
  border-color: #bdbdbd;
}
.k-tabstrip:focus {
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link {
  color: #515967;
}
.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar > li.k-state-default > .k-link.k-state-hover {
  color: #263248;
}
.k-panelbar > .k-state-focused.k-state-hover {
  background: #b6bdca;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-tabstrip-items .k-state-default {
  border-color: #ceced2;
}
.k-tabstrip-items .k-state-hover {
  border-color: #bebec3;
}
.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active {
  background-color: #ffffff;
  background-image: none;
  border-color: #a6a6ad;
}
.k-tabstrip .k-content.k-state-active {
  background-color: #ffffff;
  color: #515967;
}
.k-menu.k-header,
.k-menu .k-item {
  border-color: #ceced2;
}
.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group {
  border-color: #ceced2;
}
.k-overflow-container .k-overflow-group {
  -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
}
.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group {
  -webkit-box-shadow: 0 1px 0 #ffffff;
          box-shadow: 0 1px 0 #ffffff;
}
.k-toolbar-last-visible.k-overflow-group {
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}
.k-column-menu .k-separator {
  border-color: #ceced2;
  background-color: transparent;
}
.k-menu .k-group {
  border-color: #ceced2;
}
.k-grid-filter.k-state-active {
  background-color: #ffffff;
}
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  color: #515967;
  border-color: #ceced2;
  font-weight: bold;
}
.k-grouping-header {
  color: #515967;
}
.k-grid td.k-state-focused {
  -webkit-box-shadow: inset 0 0 3px 1px #d7dae0;
          box-shadow: inset 0 0 3px 1px #d7dae0;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default {
  border-color: #ceced2;
}
.k-primary,
.k-overflow-container .k-primary {
  color: #ffffff;
  border-color: #177bba;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,.2)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  background-position: 50% 50%;
  background-color: #2198e3;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-primary:focus,
.k-primary.k-state-focused {
  color: #ffffff;
  border-color: #177bba;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  -webkit-box-shadow: 0 0 3px 0 #1984c8;
          box-shadow: 0 0 3px 0 #1984c8;
}
.k-primary:hover {
  color: #ffffff;
  border-color: #7b889f;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
  background-color: #1b8dd6;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-primary:focus:active:not(.k-state-disabled):not([disabled]),
.k-primary:focus:not(.k-state-disabled):not([disabled]) {
  -webkit-box-shadow: 0 0 3px 0 #1984c8;
          box-shadow: 0 0 3px 0 #1984c8;
}
.k-primary:active {
  color: #ffffff;
  border-color: #1a87cd;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,.2)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  background-color: #1a84c7;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-primary.k-state-disabled,
.k-state-disabled .k-primary,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:active,
.k-primary.k-state-disabled:active {
  color: #e6e6e6;
  border-color: #e6e6e6;
  background-color: #269ae4;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,.2)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-pager-numbers .k-link,
.k-treeview .k-in {
  border-color: transparent;
}
.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon {
  background-color: transparent;
  border-radius: 4px;
}
.k-scheduler-table .k-state-hover .k-icon {
  background-color: transparent;
}
.k-button:focus,
.k-split-button:focus {
  outline: none;
}
.k-split-button:focus {
  -webkit-box-shadow: inset 0 0 4px 2px #bebec3;
          box-shadow: inset 0 0 4px 2px #bebec3;
}
.k-split-button:focus > .k-button {
  background: transparent;
  border-color: #ceced2;
}
.k-editor .k-tool:focus {
  outline: 0;
  border-color: #ceced2;
  -webkit-box-shadow: inset 0 0 3px 1px #bebec3;
          box-shadow: inset 0 0 3px 1px #bebec3;
}
.k-checkbox-label:before {
  border-color: #ceced2;
  background: #fff;
  border-radius: 3px;
}
.k-checkbox-label:hover:before,
.k-checkbox:checked + .k-checkbox-label:hover:before {
  border-color: #b3b3b9;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-checkbox:checked + .k-checkbox-label:before {
  background-color: #ffffff;
  border-color: #a0dba9;
  color: #1a87cd;
}
.k-checkbox-label:active:before {
  -webkit-box-shadow: 0 0 3px 0 #1984c8;
          box-shadow: 0 0 3px 0 #1984c8;
  border-color: #1a87cd;
}
.k-checkbox:checked + .k-checkbox-label:active:before {
  -webkit-box-shadow: 0 0 3px 0 #1984c8;
          box-shadow: 0 0 3px 0 #1984c8;
  border-color: #1a87cd;
}
.k-checkbox:disabled + .k-checkbox-label {
  color: #a6a6ad;
}
.k-checkbox:disabled + .k-checkbox-label:hover:before {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-checkbox:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:active:before,
.k-checkbox:checked:disabled + .k-checkbox-label:hover:before {
  color: #a6a6ad;
  background: #f4f5f7;
  border-color: #9cd9a6;
  border-radius: 3px;
}
.k-checkbox:focus + .k-checkbox-label:before {
  border-color: #1a87cd;
  -webkit-box-shadow: 0 0 3px 0 #1984c8;
          box-shadow: 0 0 3px 0 #1984c8;
}
.k-checkbox:indeterminate + .k-checkbox-label:after {
  background-color: #1a87cd;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,.2)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  border-color: #1a87cd;
  border-radius: 2px;
}
.k-checkbox:indeterminate:hover + .k-checkbox-label:after {
  border-color: #1a87cd;
  background-color: #1a87cd;
}
.k-radio-label:before {
  border-color: #ceced2;
  border-radius: 50%;
  background-color: #fff;
  border-width: 1px;
}
.k-radio-label:hover:before,
.k-radio:checked + .k-radio-label:hover:before {
  border-color: #b3b3b9;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-radio:checked + .k-radio-label:after {
  background-color: #1b8dd6;
  border-radius: 50%;
}
.k-radio-label:active:before {
  border-color: #1a87cd;
  -webkit-box-shadow: 0 0 3px 0 #1984c8;
          box-shadow: 0 0 3px 0 #1984c8;
}
.k-radio:checked + .k-radio-label:active:before {
  -webkit-box-shadow: 0 0 3px 0 #1984c8;
          box-shadow: 0 0 3px 0 #1984c8;
  border-color: #1a87cd;
}
.k-radio:disabled + .k-radio-label {
  color: #a6a6ad;
}
.k-radio:disabled + .k-radio-label:before,
.k-radio:disabled + .k-radio-label:active:before,
.k-radio:disabled + .k-radio-label:hover:after,
.k-radio:disabled + .k-radio-label:hover:before {
  background: #f4f5f7;
  border-color: #bfbfbf;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-radio:focus + .k-radio-label:before {
  border-color: #1a87cd;
  -webkit-box-shadow: 0 0 3px 0 #1984c8;
          box-shadow: 0 0 3px 0 #1984c8;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .k-icon:not(.k-loading),
  .k-grouping-dropclue,
  .k-drop-hint,
  .k-callout,
  .k-tool-icon,
  .k-state-hover .k-tool-icon,
  .k-state-active .k-tool-icon,
  .k-state-active.k-state-hover .k-tool-icon,
  .k-state-selected .k-tool-icon,
  .k-state-selected.k-state-hover .k-tool-icon,
  .k-column-menu .k-sprite,
  .k-mobile-list .k-check:checked,
  .k-mobile-list .k-edit-field [type=checkbox]:checked,
  .k-mobile-list .k-edit-field [type=radio]:checked {
    background-image: url('Silver/sprite_2x.png');
    -webkit-background-size: 340px 336px;
            background-size: 340px 336px;
  }
  .k-dropdown-wrap .k-input,
  .k-picker-wrap .k-input,
  .k-numeric-wrap .k-input {
    border-radius: 3px 0 0 3px;
  }
  .k-i-kpi-decrease,
  .k-i-kpi-denied,
  .k-i-kpi-equal,
  .k-i-kpi-hold,
  .k-i-kpi-increase,
  .k-i-kpi-open {
    background-image: url('Silver/sprite_kpi_2x.png');
    -webkit-background-size: 96px 16px;
            background-size: 96px 16px;
  }
}
@media screen and (-ms-high-contrast: active) {
  .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused,
  .k-editor-toolbar-wrap .k-button-group .k-tool:focus {
    border-color: #fff;
  }
}
/* Responsive styles */
@media only screen and (max-width: 1024px) {
  .k-webkit .k-pager-numbers,
  .k-ff .k-pager-numbers,
  .k-ie11 .k-pager-numbers,
  .k-safari .k-pager-numbers,
  .k-webkit .k-grid .k-pager-numbers,
  .k-ff .k-grid .k-pager-numbers,
  .k-ie11 .k-grid .k-pager-numbers,
  .k-safari .k-grid .k-pager-numbers {
    -ms-transform: translatey(-100%);
        transform: translatey(-100%);
    -webkit-transform: translatey(-100%);
  }
  .k-webkit .k-pager-numbers .k-current-page,
  .k-ff .k-pager-numbers .k-current-page,
  .k-ie11 .k-pager-numbers .k-current-page,
  .k-safari .k-pager-numbers .k-current-page,
  .k-webkit .k-grid .k-pager-numbers .k-current-page,
  .k-ff .k-grid .k-pager-numbers .k-current-page,
  .k-ie11 .k-grid .k-pager-numbers .k-current-page,
  .k-safari .k-grid .k-pager-numbers .k-current-page {
    -ms-transform: translatey(100%);
        transform: translatey(100%);
    -webkit-transform: translatey(100%);
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-webkit .k-pager-numbers .k-current-page .k-link,
  .k-ff .k-pager-numbers .k-current-page .k-link,
  .k-ie11 .k-pager-numbers .k-current-page .k-link,
  .k-safari .k-pager-numbers .k-current-page .k-link {
    background-image: url('textures/highlight.png');
    background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.45)), to(rgba(255,255,255,0)));
    background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
    background-image: none, linear-gradient(to bottom, rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%);
    background-position: 50% 50%;
    background-color: #f6f6f6;
    border-color: #dedee0;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link,
  .k-ff .k-pager-numbers .k-current-page .k-link,
  .k-ie11 .k-pager-numbers .k-current-page .k-link,
  .k-safari .k-pager-numbers .k-current-page .k-link {
    border-color: #ceced2;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    border-radius: 4px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
    border-radius: 3px 3px 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child,
  .k-safari .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-safari .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
    border-radius: 0 0 3px 3px;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link:hover,
  .k-ff .k-pager-numbers .k-current-page .k-link:hover,
  .k-ie11 .k-pager-numbers .k-current-page .k-link:hover,
  .k-safari .k-pager-numbers .k-current-page .k-link:hover,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    border-color: #bebec3;
    background-image: url('textures/highlight.png');
    background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
    background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
    background-image: none, linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
    background-color: #b6bdca;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link {
    color: #515967;
    min-width: 75px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    color: #263248;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link:after,
  .k-ff .k-pager-numbers .k-current-page .k-link:after,
  .k-ie11 .k-pager-numbers .k-current-page .k-link:after,
  .k-safari .k-pager-numbers .k-current-page .k-link:after,
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 1.333em;
    height: 1.333em;
  }
  .k-webkit .k-pager-numbers.k-state-expanded,
  .k-ff .k-pager-numbers.k-state-expanded,
  .k-ie11 .k-pager-numbers.k-state-expanded,
  .k-safari .k-pager-numbers.k-state-expanded,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #ceced2;
    background-color: #f3f3f4;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px;
    background-image: none;
    border-radius: 4px;
  }
  .k-webkit .k-pager-numbers .k-state-selected,
  .k-ff .k-pager-numbers .k-state-selected,
  .k-ie11 .k-pager-numbers .k-state-selected,
  .k-safari .k-pager-numbers .k-state-selected,
  .k-webkit .k-pager-numbers .k-link,
  .k-ff .k-pager-numbers .k-link,
  .k-ie11 .k-pager-numbers .k-link,
  .k-safari .k-pager-numbers .k-link {
    border-radius: 3px;
  }
  .k-webkit .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-ff .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-ie11 .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-safari .k-widget.k-grid .k-pager-nav + .k-pager-numbers {
    position: absolute;
  }
}
.k-chart .k-mask {
  background-color: #fff;
  filter: alpha(opacity=68);
  opacity: 0.68;
}
.k-chart .k-selection {
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow 0.2s linear, border-color 0.2s linear;
          transition: box-shadow 0.2s linear, border-color 0.2s linear;
}
.k-chart .k-selection:hover {
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);
}
.k-chart .k-handle {
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.k-chart .k-handle:hover {
  background-color: #ffffff;
  border-color: #b8b8b8;
  -webkit-box-shadow: 0 0 0 2px rgba(111, 101, 96, 0.5);
          box-shadow: 0 0 0 2px rgba(111, 101, 96, 0.5);
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  color: #242424;
}
.k-chart .k-navigator-hint .k-scroll {
  background: rgba(25, 132, 200, 0.7);
  height: 4px;
}
/* Map */
.k-map .k-marker {
  background-image: url("Silver/markers.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .k-map .k-marker {
    background-image: url("Silver/markers_2x.png");
  }
}
.k-map .k-attribution {
  color: #666666;
}
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #fff;
}
.k-spreadsheet-top-corner,
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #f3f3f4;
  background-image: none;
  color: #000000;
  border-color: #bebec3;
}
.k-spreadsheet-top-corner {
  border-color: #bebec3;
}
.k-spreadsheet-top-corner:after {
  border-color: transparent #bebec3 #bebec3 transparent;
}
.k-spreadsheet-pane {
  border-color: #bebec3;
}
.k-spreadsheet-pane .k-spreadsheet-vaxis,
.k-spreadsheet-pane .k-spreadsheet-haxis {
  border-color: #d8d8dc;
}
.k-spreadsheet-pane .k-spreadsheet-column-header,
.k-spreadsheet-pane .k-spreadsheet-row-header {
  border-color: #bebec3;
}
.k-spreadsheet-pane .k-spreadsheet-merged-cell {
  background-color: #fff;
}
.k-spreadsheet-pane .k-selection-partial,
.k-spreadsheet-pane .k-selection-full {
  border-color: rgba(25, 132, 200, 0.2);
  background-color: rgba(25, 132, 200, 0.2);
}
.k-spreadsheet-pane .k-filter-range {
  border-color: #1984c8;
}
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full {
  border-bottom-color: #1984c8;
}
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full {
  border-right-color: #1984c8;
}
.k-auto-fill,
.k-spreadsheet-selection {
  border-color: #1984c8;
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #1984c8;
          box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #1984c8;
}
.k-spreadsheet-selection {
  background-color: rgba(25, 132, 200, 0.2);
}
.k-spreadsheet-active-cell {
  border-color: #1984c8 !important;
  background-color: #fff;
}
.k-spreadsheet-active-cell.k-single {
  background-color: #fff;
}
.k-spreadsheet > .k-spreadsheet-formula-bar {
  background-color: #fff;
  border-color: #f3f3f4 #f3f3f4 #bebec3;
}
.k-spreadsheet > .k-spreadsheet-formula-bar:before {
  border-color: #bebec3;
}
.k-spreadsheet > .k-spreadsheet-formula-bar:after {
  border-color: #f3f3f4;
}
.k-spreadsheet .k-spreadsheet-formula-input {
  background-color: #fff;
  color: #515967;
}
.k-spreadsheet .k-resize-handle,
.k-spreadsheet .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-marker {
  background-color: #1984c8;
}
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
  background-color: #1984c8;
}
.k-spreadsheet .k-single-selection::after {
  background-color: #1984c8;
  border-color: #fff;
}
.k-spreadsheet .k-auto-fill-punch {
  background-color: rgba(255, 255, 255, 0.5);
}
.k-spreadsheet .k-single-selection.k-dim-auto-fill-handle::after {
  background-color: rgba(25, 132, 200, 0.5);
}
.k-spreadsheet-format-cells .k-spreadsheet-preview {
  border-color: #dedee0;
}
.k-spreadsheet-filter {
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #d8d8dc;
          box-shadow: inset 0 0 0 1px #d8d8dc;
}
.k-spreadsheet-filter.k-state-active {
  color: #fff;
  background-color: #1984c8;
}
.k-spreadsheet-filter:hover {
  color: #263248;
  background: #b6bdca;
  border-color: #9ea8b9;
}
.k-action-window .k-action-buttons {
  border-color: #dedee0;
}
.k-spreadsheet-sample {
  color: #9ea6b3;
}
.k-state-selected .k-spreadsheet-sample {
  color: inherit;
}
.k-spreadsheet-window .k-list-wrapper,
.k-spreadsheet-window .k-list {
  border-color: #dedee0;
  border-radius: 4px;
}
.k-spreadsheet-window .export-config,
.k-spreadsheet-window .k-edit-field > .k-orientation-label {
  border-color: #dedee0;
}
.k-spreadsheet-window .k-edit-field > input[type="radio"]:checked + .k-orientation-label {
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,.2)));
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  background-color: #1984c8;
  color: #ffffff;
}
.k-spreadsheet-window .k-page-orientation {
  border-color: #ceced2;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.k-spreadsheet-window .k-page-orientation:before {
  background: #fff;
  border-color: transparent;
  border-bottom-color: #ceced2;
  border-left-color: #ceced2;
}
.k-spreadsheet-window .k-margins-horizontal,
.k-spreadsheet-window .k-margins-vertical {
  background: transparent;
  border-color: #dedee0;
}
.k-spreadsheet-toolbar.k-toolbar .k-button-group .k-button {
  border-radius: 4px;
}
.k-spreadsheet-toolbar > .k-widget,
.k-spreadsheet-toolbar > .k-button,
.k-spreadsheet-toolbar > .k-button-group {
  border-radius: 4px;
}
.k-spreadsheet-toolbar > .k-separator {
  border-color: #dedee0;
}
.k-spreadsheet-toolbar .k-overflow-anchor {
  border-radius: 0;
}
.k-spreadsheet-popup {
  border-radius: 4px;
}
.k-spreadsheet-popup .k-separator {
  background-color: #dedee0;
}
.k-spreadsheet-popup .k-button {
  background-color: transparent;
}
.k-spreadsheet-popup .k-button:hover {
  background-color: #b6bdca;
}
.k-spreadsheet-popup .k-state-active {
  background-color: #1984c8;
  color: #000000;
}
.k-spreadsheet-popup .k-state-active:hover {
  background-color: #13669b;
}
.k-spreadsheet-filter-menu .k-details {
  border-color: #dedee0;
}
.k-spreadsheet-filter-menu .k-details-content .k-space-right {
  background-color: #fff;
}
.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper {
  background-color: #fff;
  border-color: #dedee0;
  border-radius: 4px 0 0 4px;
}
.k-syntax-ref {
  color: #ff8822;
}
.k-syntax-num {
  color: #0099ff;
}
.k-syntax-func {
  font-weight: bold;
}
.k-syntax-str {
  color: #38b714;
}
.k-syntax-error {
  color: red;
}
.k-syntax-bool {
  color: #a9169c;
}
.k-syntax-startexp {
  font-weight: bold;
}
.k-syntax-paren-match {
  background-color: #caf200;
}
.k-series-a {
  border-color: #007bc3;
  background-color: rgba(0, 123, 195, 0.15);
}
.k-series-b {
  border-color: #76b800;
  background-color: rgba(118, 184, 0, 0.15);
}
.k-series-c {
  border-color: #ffae00;
  background-color: rgba(255, 174, 0, 0.15);
}
.k-series-d {
  border-color: #ef4c00;
  background-color: rgba(239, 76, 0, 0.15);
}
.k-series-e {
  border-color: #a419b7;
  background-color: rgba(164, 25, 183, 0.15);
}
.k-series-f {
  border-color: #430B62;
  background-color: rgba(67, 11, 98, 0.15);
}
.k-spreadsheet-sheets-remove:hover .k-icon {
  color: #cc2222;
}
.k-spreadsheet-formula-list .k-state-focused {
  background-color: #1984c8;
  color: #fff;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .k-icon.k-font-icon {
    background-image: none;
  }
}
.k-spreadsheet .k-widget[data-property='fontSize'] {
  width: 60px;
}
.k-spreadsheet .k-widget[data-property='format'] {
  width: 100px;
}
.k-spreadsheet .k-widget[data-property='fontFamily'] {
  width: 130px;
}
.k-spreadsheet-toolbar .k-combobox .k-input {
  color: #515967;
}
.k-spreadsheet-toolbar .k-combobox .k-state-hover .k-input,
.k-spreadsheet-toolbar .k-combobox .k-state-active .k-input,
.k-spreadsheet-toolbar .k-combobox .k-state-focused .k-input {
  color: #515967;
}
