/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@input-height: 1.714em;
@input-indent: .571em;
@editor-icon-size: 2em;
@menu-link-padding: .5em 1.1em .4em;
@button-padding: 2px 7px 2px;
@treeview-inner-padding: 1px 0.3333em 1px 0.25em;
@treeview-inner-margin: 1px 0 1px 0.16666em;
@scheduler-link-padding: 0 1.1em;
@grid-header-padding: .22em .2em .28em;
@icon-positioning: "material";

@import "common/all.less";

@checkbox-size: 1.357em;
@checkbox-check-size: 1em;

.k-checkbox:indeterminate + .k-checkbox-label:after {
    margin-left: 0;
    top: 5px;
    left: 5px;
    transform: none;
}

.k-grid .k-header,
.k-gantt .k-grid-header,
.k-calendar .k-header,
.k-calendar .k-content thead,
.k-calendar .k-footer,
.k-tabstrip-items,
.k-scheduler-header .k-scheduler-table {
    text-transform: uppercase;
}

.k-scheduler-table th {
    font-weight: normal;
}

.k-scheduler-header th {
    text-align: left;
}

.k-event-actions .k-icon:first-child {
    margin-left: 4px;
}

.k-scheduler .k-scheduler-toolbar .k-nav-current {
    vertical-align: middle;
}

.k-scheduler-toolbar .k-i-calendar
{
    display: none;
}

.k-scheduler-toolbar .k-scheduler-views,
.k-scheduler-toolbar .k-nav-today,
.k-gantt-toolbar .k-gantt-views {
    text-transform: lowercase;
}

.k-webkit .k-combobox .k-dropdown-wrap:before,
.k-webkit .k-picker-wrap:before,
.k-webkit .k-numeric-wrap:before
{
    padding-bottom: 0.3em;
}

.k-button {
    line-height: 1.143em;
    padding: .429em .714em;
}

.k-filter-row .k-button {
    line-height: 1.14em;
}

.k-textbox > input,
span.k-autocomplete .k-input,
span.k-picker-wrap .k-input,
span.k-numeric-wrap .k-input,
span.k-dropdown-wrap .k-input,
span.k-selectbox .k-input {
    padding: 0.143em 0;;
}

.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-dropdown-wrap .k-select
{
    line-height: (@input-height + .214em);
}

input.k-textbox
{
    height: (@input-height + 0.429em);
}

.k-multiselect-wrap {
    min-height: 2em;
}

.k-multiselect-wrap > ul {
    padding-top: 1px;
}

.k-multiselect-wrap li {
    font-size: .857em;
    line-height: 1.333em;
    padding: .167em 1.8em .167em .5em;
    margin: 2px 0 2px 2px;
}

.k-popup.k-list-container,
.k-popup.k-calendar-container {
    padding: 0;
}

.k-popup .k-list .k-item,
.k-fieldselector .k-list .k-item {
    min-height: 2em;
    line-height: 2em;
}

.k-popup .k-list .k-item,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel, .k-popup > .k-static-header {
    padding: 1px 7px 1px 7px;
}

.k-overflow-container .k-state-hover,
.k-overflow-container .k-state-focused,
.k-overflow-container .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel.k-state-focused,
.k-list-optionlabel.k-state-selected {
    padding: 0 6px;
}

.k-notification-wrap {
    padding: 1.75em;
}

.k-notification-time {
    padding: 1.250em;
}

.k-calendar .k-content {
    height: 19.36em;
}

.k-calendar {
    width: 20em;
}

.k-calendar th {
    padding: .5em .75em .5em .45em;
}

.k-calendar td {
    padding: .08333em .286em;
}

.k-calendar .k-content .k-link {
    min-height: 2.714em;
    line-height: 2.714em;
    padding: 0 .857em 0 .714em;
}

.k-calendar .k-meta-view .k-link {
    padding: .357em .857em .357em .714em;
}

.k-widget.k-calendar .k-nav-fast {
    height: 2.429em;
    line-height: 2.429em;
    margin: 0.214em -0.08333em 0.357em 0;
}

.k-calendar .k-header .k-link.k-nav-prev, 
.k-calendar .k-header .k-link.k-nav-next {
    height: 2.429em;
    line-height: 2.429em;
    width: 2.429em;
    top: 0.214em;
}

.k-calendar .k-footer {
    border-top-width: 1px;
    border-top-style: solid;
}

.k-calendar .k-footer .k-nav-today {
    padding: .8em 0 .7em;
}

.k-numerictextbox .k-link .k-i-arrow-n {
    vertical-align: bottom;
}

.k-numerictextbox .k-link .k-i-arrow-s {
    vertical-align: top;
}

.k-treeview .k-in {
    line-height: 1.143em;
    padding: .429em .571em;
}

.k-treeview .k-checkbox {
    margin-top: .5em;
}

div.k-tooltip {
    border-radius: 3px;
    padding: 1.167em;
}

span.k-tooltip {
    padding: .643em 1.214em;
}

.k-tooltip .k-callout {
    display: none;
}

.k-ghost-splitbar-vertical,
.k-splitbar-vertical {
    height: 6px;
}

.k-splitter .k-ghost-splitbar-horizontal,
.k-splitter .k-splitbar-horizontal {
    width: 6px;
}

.k-grouping-header,
.k-grid-toolbar {
    padding: 0.429em;
}

.k-header > .k-grid-filter,
.k-header > .k-header-column-menu {
    margin: -0.5em -0.4em -0.4em;
    padding: .4em .2em .5em;
}

.k-grouping-header {
    line-height: 2.6;
}

.k-grouping-header .k-group-indicator {
    padding: .21em .357em .21em .643em;
    line-height: 1.58em;
    margin: 0;
} 

.k-grid-header th.k-header
{
    padding-left: 1.286em;
}

.k-grid .k-grouping-row td {
    padding: .6em .6em 0.643em;
    font-weight: normal;
    font-size: 1.143em;
}

.k-grouping-row .k-icon {
    margin: -3px 14px 0 6px;
}

.k-grouping-header a,
.k-grouping-header .k-button
{
    vertical-align: baseline;
}

.k-grid-header th.k-header > .k-link
{
    padding: 0;
    margin: 0;
    min-height: 16px;
    line-height: 1.143em;
}

.k-grid td {
    padding: .286em 1.286em;
}

.k-grid tr td
{
    border-width: 0 0 0 1px;
    border-style: solid;
}

.k-grid > table tr:first-child td,
.k-grid-content table tr:first-child td,
.k-grid-content-locked table tr:first-child td {
    border-top: 0;
}

.k-pager-wrap {
    padding: 0.357em 0 0.357em 0.250em;
}

.k-pager-numbers .k-link {
    border-width: 2px 0 0;
}

.k-pager-numbers .k-state-selected {
    margin-top: -0.35em;
    padding-top: .35em;
    border-width: 2px 0 0;
}

.k-filter-menu {
    padding: 6px 15px 15px;
}

.k-filter-help-text,
.k-filter-menu .k-widget,
.k-filter-menu .k-textbox {
    margin: 0.429em 0 0;
}

.k-filter-menu .k-button {
    margin: .5em 0 0;
}

.k-filter-menu .k-primary {
    float: right;
}

.k-fieldselector .k-list li.k-item {
    line-height: 1.231em;
    padding: .192em 3.9em .192em 0;
}

.k-pivot-toolbar .k-button {
    padding: .5em 5em .5em .308em;
}

.k-pivot-layout > tbody > tr:first-child > td:first-child {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.k-field-actions {
    right: 4px;
    top: 6px;
}

.k-pivot-configurator-settings .k-field-actions {
    right: 2px;
    top: 2px;
}

.k-gantt-toolbar {
    line-height: 2.071em;
    padding: .357em
}

.k-gantt-timeline .k-grid-header tr {
    height: 2.143em;
}

.k-gantt-treelist .k-grid-header tr {
    height: 4.286em;
}

.k-gantt {
    .k-task {
        border-width: 0;
    }

    .k-task-template {
        padding: .357em 1.4em .357em .6em;
    }

    .k-task-milestone {
        width: 17px;
        height: 17px;
    }

    .k-task-draghandle {
        border-width: 6px;
        border-radius: 0;
        border-style: solid;        
        bottom: -1px;
    }

    .k-gantt-timeline th {
        text-align: left;
    }
}

.k-tabstrip.k-header {
    border: 0;
}

.k-tabstrip .k-tabstrip-items {
    padding: 0;
}

.k-tabstrip > .k-content {
    margin: 0;
}

.k-panelbar .k-tabstrip-items .k-link {
    padding: .5em .786em;
}

.k-tabstrip-items .k-link {
    font-size: .857em;
    padding: .667em .786em;
}

.k-panel > .k-item > .k-link {
    font-size: 1em;
    line-height: 3.5em;    
}

.k-panelbar > .k-item > .k-link.k-header {
    font-size: 1.429em;
    line-height: 2.5em;
}

.k-panelbar-expand,
.k-panelbar-collapse {
    right: 14px;
}

.k-panelbar .k-image {
    margin-top: .6em;
}

.k-menu .k-item > .k-link {
    padding: .786em 1.071em .786em 1.714em;
}

.k-menu .k-item > .k-link > .k-icon {
    margin-left: 5px;
}

.k-menu {
    .k-state-selected {
        .k-i-arrow-s {
            background-position: 0 -32px;
        }
    }

    .k-state-hover {
        .k-state-active {
            .k-i-arrow-s {
                background-position: -16px -32px;
            }

            .k-i-arrow-e {
               background-position: -16px -16px;
            }
        }
    }

    .k-state-active {
        .k-i-arrow-s {
            background-position: -16px -32px;
        }

        .k-i-arrow-e {
            background-position: -16px -16px;
        }
    }
}

.k-context-menu.k-menu-vertical > .k-item > .k-link,
.k-menu .k-menu-group .k-item > .k-link {
    padding: .786em 4.929em .786em 1.714em;
}

.k-menu .k-item > .k-link > .k-i-arrow-e {
    right: .7rem;
}

.k-toolbar, 
.k-editor-toolbar {
    line-height: 2.86em;
}

.k-toolbar .k-button {
    padding: .143em 1em;
}

.k-toolbar .k-split-button-arrow {
    padding: .143em .4em;
}

.k-toolbar .k-overflow-anchor {
    width: 2.143em;    
    height: 2.143em;
    border-width: 1px;
    padding: 0;
    margin: 5px;
    line-height: inherit;
}

.k-toolbar .k-button-group .k-button {
    padding: .143em;
    margin-right: 0.143em;
}

.k-toolbar .k-button .k-icon {
    margin-top: -10px;
    margin-bottom: -4px;
}

.k-toolbar .k-split-button-arrow .k-i-arrow-s {
    margin-top: -7px;
}

.k-toolbar .k-overflow-anchor .k-icon {
    margin-top: -15px;
    margin-bottom: 0;
}

table.k-editor {
    border-spacing: 0;
}

.k-editor .k-editor-toolbar-wrap,
.k-editor .k-editable-area {
    border-width: 1px 0 0;
}

.k-editor .k-editor-toolbar-wrap {
    padding-left: 4px;
}

.k-editor .k-editable-area {
    padding-left: 25px;
}

.k-progressbar,
.k-progressbar-horizontal > .k-state-selected,
.k-rtl .k-progressbar-horizontal.k-progressbar-reverse > .k-state-selected,
.k-progressbar > .k-reset,
.k-progressbar-horizontal .k-first,
.k-rtl .k-progressbar-horizontal .k-last,
.k-rtl .k-progressbar-horizontal.k-progressbar-reverse .k-last,
.k-progressbar-horizontal .k-last,
.k-rtl .k-progressbar-horizontal .k-first,
.k-progressbar-vertical .k-last,
.k-progressbar > .k-state-selected,
.k-progressbar-vertical .k-first,
.k-progressbar > .k-state-selected.k-complete,
.k-rtl .k-progressbar > .k-state-selected.k-complete {
    border-radius: 0;
}

.k-rtl .k-dropdown-wrap,
.k-rtl .k-picker-wrap,
.k-rtl .k-numeric-wrap {
  padding-left: 2em;
}

.k-progressbar-horizontal {
    height: 1em; 
}

.k-progressbar-vertical {
    width: 1em;
}

.k-progress-status-wrap {
    line-height: 1em;
}

.k-slider-track {
    border-width: 0;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection {
    height: 2px;
    margin-top: -1px;
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection {
    width: 2px;
    margin-left: -1px;
}

.k-slider-horizontal .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle
{
    width: 6px;
    height: 18px;
    top: -9px;
}

.k-flatcolorpicker .k-hue-slider .k-draghandle {
    width: 2px;
    height: 14px;
    top: -7px;
    border-width: 2px;
}

.k-flatcolorpicker .k-hue-slider .k-draghandle:hover,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:hover,
.k-flatcolorpicker .k-hue-slider .k-draghandle:focus,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:focus {
    padding: 0;
}

.k-flatcolorpicker .k-selected-color input.k-color-value {
    border-left-width: 1px;
    border-left-style: solid;
}

.k-flatcolorpicker .k-hsv-rectangle {
    border-top-width: 1px;
    border-top-style: solid;
}

.k-slider-vertical .k-draghandle
{
    width: 18px;
    height: 6px;
    left: -9px;
}

.k-widget.k-slider .k-slider-buttons .k-button
{
    border-width: 0;
    background: transparent;
}

.k-slider .k-button .k-icon
{
    margin-top: 4px;
}

.k-widget.k-flatcolorpicker .k-hue-slider .k-draghandle {
    margin-top: -1px;
    box-shadow: none;
}

.k-window-titlebar {
    padding: .857em 0;
}

div.k-window-content {
    padding: .231em .857em;
}

.editorToolbarWindow {
    padding: 3px .857em;
}

.k-editortoolbar-dragHandle {
    line-height: 2em;
}

.k-window-title {
    left: .857em;
}

.k-window-titlebar .k-window-actions {
    padding-top: .7em;
    right: .857em;
}

.k-nav-current>.k-link span+span {
    font-size: 1.786em;
}

.k-scheduler-table td,
.k-scheduler-table th {
    height: 1.286em;
}

.k-scheduler-toolbar,
.k-scheduler-footer {
    line-height: 2.357em;
}

.k-scheduler-toolbar .k-link,
.k-scheduler-footer .k-link {
    padding: 0 .36em;
}

.k-scheduler-times th {
    text-align: left;
}

.k-scheduler-footer .k-i-clock {
    display: none;
}

.k-upload-sync .k-upload-button,
.k-ie8 .k-upload-button,
.k-ie9 .k-upload-button {
    margin: .36em;
}

.k-file {
    line-height: 1.143em;
    padding: .43em .17em .43em 1.14em;
}

.k-upload-status {
    line-height: 1.29em;
    top: auto;
}

.k-widget.k-state-border-down .k-select .k-i-arrow-s,
.k-widget.k-state-border-up .k-select .k-i-arrow-s  { 
    background-position: -16px 0; 
}

.k-widget.k-state-border-down .k-select .k-i-calendar,
.k-widget.k-state-border-up .k-select .k-i-calendar {
    background-position: -48px -176px; 
}

.k-widget.k-state-border-down .k-select .k-i-clock,
.k-widget.k-state-border-up .k-select .k-i-clock {
    background-position: -48px -192px; 
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-n,
.k-numerictextbox .k-state-hover .k-link span.k-i-arrow-n {
    background-position: 0 -2px;
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-s,
.k-numerictextbox .k-state-hover .k-link span.k-i-arrow-s {
    background-position: 0 -35px;
}

.k-numerictextbox .k-link.k-state-selected span.k-i-arrow-n {
    background-position: -16px -2px;
}

.k-numerictextbox .k-link.k-state-selected span.k-i-arrow-s {
    background-position: -16px -35px;
}

.k-splitbar-horizontal-hover {
    .k-resize-handle {
        background-position: -165px -6px;
    }

    .k-collapse-next,
    .k-expand-prev {
        background-position: -5px -142px;
    }

    .k-collapse-prev,
    .k-expand-next {
        background-position: -6px -174px;
    }
}

.k-splitbar-vertical-hover {
    .k-resize-handle {
        background-position: -38px -309px;
    }

    .k-collapse-next,
    .k-expand-prev {
        background-position: 2px -165px;
    }

    .k-collapse-prev,
    .k-expand-next {
        background-position: 2px -134px;
    }
}

.k-splitbar-horizontal.k-state-focused {
    .k-resize-handle {
        background-position: -181px -6px;
    }

    .k-collapse-next,
    .k-expand-prev {
        background-position: -21px -142px;
    }

    .k-collapse-prev,
    .k-expand-next {
        background-position: -22px -174px;
    }
}

.k-splitbar-vertical.k-state-focused {
    .k-resize-handle {
        background-position: -70px -309px;
    }

    .k-collapse-next,
    .k-expand-prev {
        background-position: -14px -165px;
    }

    .k-collapse-prev,
    .k-expand-next {
        background-position: -14px -134px;
    }
}


.k-multiselect {
    .k-delete,
    .k-state-hover .k-delete,
    .k-button:not(.k-state-disabled):hover > .k-delete {
        background-position: -160px -80px;
    }

    &.k-state-focused.k-state-border-up,
    &.k-state-focused.k-state-border-down {
        .k-delete,
         .k-state-hover .k-delete,
         .k-button:not(.k-state-disabled):hover > .k-delete {
            background-position: -176px -80px;
        }
    }
}

.k-window-titlebar {
    .k-state-hover > .k-i-custom,
    .k-link:not(.k-state-disabled):hover > .k-i-custom {
        background-position: -115px -113px;
    }
}

.k-calendar {
    .k-i-arrow-w,
    .k-link:not(.k-state-disabled):hover > .k-i-arrow-w {
        background-position: 0 -240px;
    }

    .k-i-arrow-e,
    .k-link:not(.k-state-disabled):hover > .k-i-arrow-e {
        background-position: 0 -208px;
    }
}

.k-panelbar,
.k-pivot {
    .k-i-arrow-n,
    .k-link:not(.k-state-disabled):hover > .k-i-arrow-n { 
        background-position: 0 -192px;
    }

    .k-item > .k-link .k-i-arrow-s,    
    .k-link:not(.k-state-disabled):hover > .k-i-arrow-s { 
        background-position: 0 -224px; 
    }

    .k-item > .k-link .k-i-arrow-e,
    .k-link.k-state-selected .k-i-arrow-e,
    .k-link:not(.k-state-disabled):hover > .k-i-arrow-e { 
        background-position: 0 -192px; 
    }
}

.k-panelbar li .k-link.k-state-selected .k-i-arrow-s,
.k-panelbar li .k-link.k-state-selected.k-state-hover .k-i-arrow-s {
    background-position: 0px -224px; 
}

.k-panelbar > li > .k-link.k-state-selected .k-i-arrow-s,
.k-panelbar > li > .k-link.k-state-selected.k-state-hover .k-i-arrow-s {
    background-position: -16px -224px; 
}

.k-panelbar li .k-link.k-state-selected .k-i-arrow-n,
.k-panelbar li .k-link.k-state-selected.k-state-hover .k-i-arrow-n {
    background-position: 0 -192px; 
}

.k-panelbar > li > .k-link.k-state-selected .k-i-arrow-n,
.k-panelbar > li > .k-link.k-state-selected.k-state-hover .k-i-arrow-n {
    background-position: -16px -192px; 
}

.k-pivot-toolbar {
    .k-button:active {
        .k-i-sort-asc {
            background-position: -128px -240px;
        }

        .k-i-sort-desc {
            background-position: -128px -256px;
        }

        .k-setting-fieldmenu {
            background-position: -16px -288px;
        }

        .k-setting-delete {
            background-position: -176px -80px;
        }       
    }
}

.k-treeview {
    .k-minus {
        background-position: 0 -32px;
    }

    .k-plus {
        background-position: 0 -16px;
    }

	.k-loading {
        background-position: 50%;
	}
}

.k-header > .k-link > .k-i-arrow-n,
.k-header > .k-link > .k-link:not(.k-state-disabled):hover > .k-i-arrow-n,
.k-grid-header th > .k-link:hover span.k-i-arrow-n {
    background-position: 0 -256px;
}

.k-header > .k-link > .k-i-arrow-s,
.k-header > .k-link > .k-link:not(.k-state-disabled):hover > .k-i-arrow-s,
.k-grid-header th > .k-link:hover span.k-i-arrow-s {
    background-position: 0 -288px;
}

.k-grid-header .k-header-column-menu .k-i-arrowhead-s {
    background-position: -64px -32px;
}

.k-edit-form-container {
    .k-update,
    .k-button:not(.k-state-disabled):hover .k-update {
        background-position: -48px -32px;
    }

    .k-button:active .k-cancel {
        background-position: -48px -48px;
    }
}

.k-primary .k-update,
.k-primary:not(.k-state-disabled):hover .k-update,
.k-button:active:hover .k-update {
    background-position: -48px -32px;
}

.k-button:active,
.k-button:active:hover {
    .k-add {
        background-position: -48px -64px;  
    }

    .k-edit {
        background-position: -48px 0px;
    }

    .k-cancel {
        background-position: -48px -48px;
    }

    .k-delete {
        background-position: -48px -16px;
    }

    .k-i-excel {
        background-position: -80px -96px;
    }

    .k-i-pdf {
        background-position: -80px -80px;
    }
} 

.k-button:active:not(.k-state-disabled):hover {
    .k-i-plus {
        background-position: -48px -64px;  
    }

    .k-i-pdf {
        background-position: -80px -80px;
    }
}     

.k-grouping-header {
    .k-si-arrow-n,
    .k-link:hover > .k-icon.k-si-arrow-n {
        background-position: 0 -288px;
    }

    .k-si-arrow-s,
    .k-link:hover > .k-icon.k-si-arrow-s {
        background-position: 0 -256px;
    }
}

.k-pivot {
    .k-i-arrow-n,
    .k-link.k-state-selected .k-i-arrow-n,
    .k-link:not(.k-state-disabled):hover > .k-i-arrow-n { 
        background-position: 0 -192px;
    }

    .k-i-arrow-s,
    .k-link.k-state-selected .k-i-arrow-s,
    .k-link:not(.k-state-disabled):hover > .k-i-arrow-s { 
        background-position: 0 -224px; 
    }
}

.k-gantt {
    .k-link:hover > .k-icon.k-si-arrow-n {
        background-position: -48px -64px;
    }

    .k-i-collapse {
        background-position: 0 -32px;
    }

    .k-i-expand {
        background-position: 0 0;
    }
}

.k-scheduler {
  .k-i-arrow-e,
    .k-state-hover .k-link .k-i-arrow-e {
        background-position: 0 -208px;
    }

    .k-i-arrow-w,
    .k-state-hover .k-link .k-i-arrow-w {
        background-position: 0 -240px;
    }

    .k-si-close,
    .k-link:not(.k-state-disabled):hover > .k-si-close {
        background-position: -176px -80px;
    }
}

.k-toolbar {
    .k-state-active:hover .k-i-more {
        background-position: -80px -32px;
    }

    .k-split-button-arrow.k-state-active .k-i-arrow-s {
        background-position: -16px -32px;
    }

    .k-overflow-anchor.k-state-border-down .k-i-more,
    .k-overflow-anchor.k-state-border-up .k-i-more {
        background-position: -80px -32px;
    }
}

.k-treelist {
    .k-i-collapse {
        background-position: 0px -32px;
    }

    .k-i-expand {
        background-position: 0px 0px;
    }
}

.k-filter-row {
    .k-state-active .k-filter {
        background-position: -48px -80px;
    }

    .k-button:active .k-i-close {
        background-position: -48px -16px;
    }

}

.k-radio-label {
    line-height: normal;
    padding-left: 2em;
}

.k-radio-label:before {
    width: 19px;
    height: 19px;
}

.k-radio:checked + .k-radio-label:after {
    width: 11px;
    height: 11px;
    top: 5px;
    left: 5px;
}

.k-filter-menu:after {
    content: "";
    display: block;
    close: both;
}

//RTL
.k-rtl .k-calendar .k-icon.k-i-arrow-w,
.k-rtl .k-calendar .k-link:not(.k-state-disabled):hover > .k-i-arrow-w,
.k-rtl .k-scheduler .k-i-arrow-w,
.k-rtl .k-scheduler .k-link:not(.k-state-disabled):hover > .k-i-arrow-w,
.k-rtl .k-scheduler .k-state-hover .k-link .k-i-arrow-w {
    background-position: 0 -208px;
}

.k-rtl .k-calendar .k-icon.k-i-arrow-e,
.k-rtl .k-calendar .k-link:not(.k-state-disabled):hover > .k-i-arrow-e,
.k-rtl .k-scheduler .k-i-arrow-e,
.k-rtl .k-scheduler .k-link:not(.k-state-disabled):hover > .k-i-arrow-e,
.k-rtl .k-scheduler .k-state-hover .k-link .k-i-arrow-e {
    background-position: 0 -240px;
}

.k-rtl .k-widget.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 0 2px;
}

.k-rtl .k-widget.k-slider .k-state-hover .k-i-arrow-e,
.k-rtl .k-widget.k-slider .k-button:hover .k-i-arrow-e,
.k-rtl .k-widget.k-slider .k-button:active .k-i-arrow-e,
.k-rtl .k-widget.k-slider .k-button:active .k-i-arrow-e {
    background-position: 0 -48px;
}

.k-rtl .k-widget.k-slider .k-state-hover .k-i-arrow-w,
.k-rtl .k-widget.k-slider .k-button:hover .k-i-arrow-w,
.k-rtl .k-widget.k-slider .k-textbox:hover .k-i-arrow-w,
.k-rtl .k-widget.k-slider .k-button:active .k-i-arrow-w {
    background-position: 0 -16px;   
}

.k-spreadsheet {
    .k-button-group .k-button {
        border-width: 1px;
    }

    .k-spreadsheet-sheets-bar {
        height: 36px;

        .k-button {
            padding: 5px;
        }
    }

    .k-spreadsheet-quick-access-toolbar {
        .k-button {
            margin: 0 2px;
        }
    }

    .k-tabstrip-items  .k-link {
        padding-top: .4em;
    }
}

.k-spreadsheet-window .k-page-landscape {
    top: 25%;
}