/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #ff4350;
@base: #fff;
@background: #fff;

@border-radius: 0;

@normal-background: #fff;
@normal-text-color: #32364c;
@normal-gradient: none;
@hover-background: #f5f6f6;
@hover-text-color: #888e90;
@hover-gradient: none;
@selected-background: #ff4350;
@selected-text-color: #fff;
@selected-gradient: none;

@error: #ffbfc4;
@warning: #ffecc7;
@success: #a5d6a7;
@info: #80deea;

@series-a: #ff4350;
@series-b: #ff9ea5;
@series-c: #00acc1;
@series-d: #80deea;
@series-e: #ffbf46;
@series-f: #ffd78c;

// graphics
@image-folder: "Nova";
@texture: none;
@fallback-texture: none;

@import "type-nova.less";
