/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #f4af03;
@base: #212a33;
@background: #414550;

@border-radius: 2px;

@normal-background: #212a33;
@normal-text-color: #fff;
@normal-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,.1) 100%";
@hover-background: #40444f;
@hover-text-color: #fff;
@hover-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,.1) 100%";
@selected-background: #f4af03;
@selected-text-color: #171e28;
@selected-gradient: "#ee9f05 0%, #f4af03 100%";

@error: #be5138;
@warning: #ea9d07;
@success: #2b893c;
@info: #0c779b;

@series-a: #ffca08;
@series-b: #ff710f;
@series-c: #ed2e24;
@series-d: #ff9f03;
@series-e: #e13c02;
@series-f: #a00201;

// graphics
@image-folder: "Moonlight";
@texture: url("textures/brushed-metal.png");
@fallback-texture: url("textures/brushed-metal.png");

@import "type-default.less";
