/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #13688c;
@base: #daecf4;
@background: #fff;

@border-radius: 4px;

@normal-background: #fff;
@normal-text-color: #003f59;
@normal-gradient: "rgba(255,255,255,.45) 0%, rgba(255,255,255,.0) 100%";
@hover-background: #7bd2f6;
@hover-text-color: #003f59;
@hover-gradient: "rgba(255,255,255,.4) 0%, rgba(255,255,255,.0) 100%";
@selected-background: #13688c;
@selected-text-color: #fff;
@selected-gradient: "rgba(255,255,255,.0) 0%, rgba(255,255,255,.23) 100%";

@error: #ffe0d9;
@warning: #ffe79e;
@success: #eaf7ec;
@info: #e5f5fa;

@series-a: #0069a5;
@series-b: #0098ee;
@series-c: #7bd2f6;
@series-d: #ffb800;
@series-e: #ff8517;
@series-f: #e34a00;

// graphics
@image-folder: "BlueOpal";
@texture: none;
@fallback-texture: url('textures/highlight.png');

@import "type-default.less";
