/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #007cc0;
@base: #f2f2f2;
@background: #fff;

@border-radius: 0;

@normal-background: #fff;
@normal-text-color: #333;
@normal-gradient: none;
@hover-background: #eaeaea;
@hover-text-color: #333;
@hover-gradient: none;
@selected-background: #007cc0;
@selected-text-color: #fff;
@selected-gradient: none;

@error: #ffd7d7;
@warning: #fef1d0;
@success: #cce8d8;
@info: #d1eaff;

@series-a: #008fd3;
@series-b: #99d101;
@series-c: #f39b02;
@series-d: #f05662;
@series-e: #c03c53;
@series-f: #acacac;

// graphics
@image-folder: "Fiori";
@texture: none;
@fallback-texture: none;

@import "type-fiori.less";
