/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #7ea700;
@base: #fff;
@background: #fff;

@border-radius: 0;

@normal-background: #fff;
@normal-text-color: #787878;
@normal-gradient: none;
@hover-background: #8ebc00;
@hover-text-color: #fff;
@hover-gradient: "#8ebc00 0%, #8ebc00 100%";
@selected-background: #7ea700;
@selected-text-color: #fff;
@selected-gradient: none;

@error: #ffded7;
@warning: #ffe44d;
@success: #ddffd0;
@info: #d0f8ff;

@series-a: #8ebc00;
@series-b: #309b46;
@series-c: #25a0da;
@series-d: #ff6900;
@series-e: #e61e26;
@series-f: #d8e404;

// graphics
@image-folder: "Metro";
@texture: none;
@fallback-texture: url('textures/highlight.png');

@import "type-metro.less";
