/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #10c4b2;
@base: #363940;
@background: #fff;

@border-radius: 3px;

@normal-background: #fff;
@normal-text-color: #4c5356;
@normal-gradient: none;
@hover-background: #2eb3a6;
@hover-text-color: #fff;
@hover-gradient: none;
@selected-background: #10c4b2;
@selected-text-color: #fff;
@selected-gradient: none;

@error: #be5138;
@warning: #ffe13a;
@success: #2b893c;
@info: #0c779b;

@series-a: #10c4b2;
@series-b: #ff7663;
@series-c: #ffb74f;
@series-d: #a2df53;
@series-e: #1c9ec4;
@series-f: #ff63a5;

// graphics
@image-folder: "Flat";
@texture: none;
@fallback-texture: url('textures/highlight.png');

@import "type-flat.less";
