/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #1984c8;
@base: #f3f3f4;
@background: #fff;

@border-radius: 4px;

@normal-background: #fff;
@normal-text-color: #515967;
@normal-gradient: "rgba(255,255,255,.45) 0%, rgba(255,255,255,0) 100%";
@hover-background: #b6bdca;
@hover-text-color: #263248;
@hover-gradient: "rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%";
@selected-background: #1984c8;
@selected-text-color: #fff;
@selected-gradient: "rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%";

@error: #ffe0d9;
@warning: #ffe79e;
@success: #eaf7ec;
@info: #e5f5fa;

@series-a: #007bc3;
@series-b: #76b800;
@series-c: #ffae00;
@series-d: #ef4c00;
@series-e: #a419b7;
@series-f: #430B62;

// graphics
@image-folder: "Silver";
@texture: none;
@fallback-texture: url('textures/highlight.png');

@import "type-default.less";
