/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #f35800;
@base: #e9e9e9;
@background: #fff;

@border-radius: 4px;

@normal-background: #fff;
@normal-text-color: #2e2e2e;
@normal-gradient: "rgba(255,255,255,.6) 0%, rgba(255,255,255,.0) 100%";
@hover-background: #bcb4b0;
@hover-text-color: #2e2e2e;
@hover-gradient: "rgba(255,255,255,.4) 0%, rgba(255,255,255,.0) 100%";
@selected-background: #f35800;
@selected-text-color: #fff;
@selected-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,.0) 100%";

@error: #ffe0d9;
@warning: #ffe79e;
@success: #eaf7ec;
@info: #e5f5fa;

@series-a: #ff6800;
@series-b: #a0a700;
@series-c: #ff8d00;
@series-d: #678900;
@series-e: #ffb53c;
@series-f: #396000;

// graphics
@image-folder: "Default";
@texture: none;
@fallback-texture: url('textures/highlight.png');

@import "type-default.less";
