/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@input-height: 2.214em;
@input-indent: .8em;
@editor-icon-size: 36px;
@menu-link-padding: 1.071em;
@button-padding: 10px 14px;
@treeview-inner-padding: 0.429em 0.6667em 0.429em 0.5833em;
@treeview-inner-margin: 1px 0 1px 0.3333em;
@scheduler-link-padding: 0 1.1em;
@grid-header-padding: .429em .2em .429em 1em;
@icon-positioning: "material";

@import "common/core.less";

.k-button {
    line-height: 1.143em;
    padding: 9px 14px;
}

.k-widget.k-tabstrip
{
    background-image: none;
    border-style: none;
    .box-shadow(none);
}

.k-tabstrip .k-tabstrip-items
{
    padding: 0;
}

.k-tabstrip > div.k-content,
.k-panelbar .k-tabstrip > div.k-content
{
    margin: 0;
}

.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link {
    line-height: 3.5em;
}

.k-panelbar .k-image {
    margin-top: 12px;
}

.k-panelbar .k-sprite {
    margin-top: 16px;
}

.k-tabstrip > .k-tabstrip-items > .k-item {
    text-transform: uppercase;
    border-width: 0;
    border-style: solid;
    padding: 0;
}

.k-tabstrip-left > .k-tabstrip-items .k-loading,
.k-tabstrip-right > .k-tabstrip-items .k-loading
{
    display: none;
}

.k-tabstrip-top > .k-tabstrip-items .k-tab-on-top,
.k-tabstrip-top > .k-tabstrip-items .k-state-active {
    margin-bottom: -1px;
}

.k-tabstrip-top > .k-tabstrip-items > .k-item {
    border-bottom-width: 2px;
}

.k-tabstrip-left > .k-tabstrip-items .k-tab-on-top,
.k-tabstrip-left > .k-tabstrip-items .k-state-active {
    margin-right: -2px;
}

.k-tabstrip-left > .k-tabstrip-items > .k-item {
    border-right-width: 2px;
}

.k-tabstrip-right > .k-tabstrip-items > .k-item {
    border-left-width: 2px;
}

.k-tabstrip-bottom > .k-tabstrip-items > .k-item {
    border-top-width: 2px;
}

.k-tabstrip-items .k-link {
    padding: 1.071em;
}

.k-slider-track
{
    border-width: 1px;
    border-style: solid;
}

.k-pager-numbers .k-state-selected {
    line-height: 2.429em;;
    cursor: pointer;
}

.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
    border-width: 2px 0 0;
    padding-top: .7em;
}

.k-pager-wrap {
    line-height: 1.286em;
    padding: .429em 0 .429em .25em;
}

.k-pager-wrap > .k-link,
.k-pager-numbers .k-link {
    height: 2.429em;
    line-height: 2.429em;
}

.k-pager-wrap .k-link,
.k-pager-sizes {
    padding: 0;
    min-width: 2.429em;
}

.k-pager-wrap .k-pager-numbers .k-state-selected {
    margin-top: -.4em;
    padding-top: .35em;
    min-width: 2.429em;
}

.k-pager-wrap input.k-textbox {
    height: 2.571em;
}

.k-pager-info {
    padding: .714em 1.333em .643em 1.333em;
}

.k-pager-wrap .k-pager-refresh {
    margin-right: 1.214em;
}

.k-pager-wrap .k-dropdown {
    width: 5.2em;
}

.k-autocomplete .k-loading,
.k-multiselect .k-loading
{
    bottom: 10px;
}

.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap {
    padding: 0 2.571em 0 0;  
}

.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-dropdown-wrap .k-select
{
    width: 2.571em;
}

.k-datetimepicker {
    width: 19.5em;
}

.k-datetimepicker .k-select {
    width: 5em;
}

.k-datetimepicker .k-picker-wrap {
    padding-right: 5em;
}

.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 0 6px;
}

.k-calendar {
    width: 19em;
}

.k-calendar .k-header {
    margin: 0 -5px;
}

.k-calendar td {
    padding: 0;
    border-width: 1px;
    border-style: solid;
}

.k-calendar .k-content .k-link {
    min-height: 2.429em;
    line-height: 2.429em;
    padding: 0;
    text-align: center;
}

.k-calendar th {
    border-bottom-width: 0;
    padding: .714em .45em .714em 0;
}

.k-calendar .k-footer {
    border-top-width: 1px;
    border-top-style: solid;
    margin: 0 -5px;
}

.k-popup.k-list-container {
    padding: 0.286em 0;
}

.k-popup.k-calendar-containe {
	padding: 0;
}

.k-popup .k-list .k-item,
.k-fieldselector .k-list .k-item {
    min-height: 2.143em;
    line-height: 2.143em;
}

.k-popup .k-list .k-item {
    padding: 1px 11px;
}

.k-list-filter {
    margin: 0 .29em .29em;
}

.k-button,
.k-calendar .k-header .k-link,
.k-calendar .k-footer {
    text-transform: uppercase;
}

.k-widget.k-calendar .k-nav-fast
{
    width: 65%;
    height: 2.571em;
    line-height: 2.571em;
    margin: 0.429em -0.08333em 0.429em 0;
}

.k-calendar .k-header .k-icon
{
    vertical-align: middle;
}

.k-widget.k-calendar .k-nav-prev,
.k-widget.k-calendar .k-nav-next
{
    position: absolute;
    top: 0.429em;
    line-height: 2.571em;
    height: 2.571em;
}

.k-calendar .k-header .k-link.k-nav-prev,
.k-calendar .k-header .k-link.k-nav-next
{
    height: 2.571em;
    width: 2.571em;
}

.k-widget.k-calendar .k-nav-prev {
    left: 0.429em;
}

.k-widget.k-calendar .k-nav-next {
    right: 0.429em;
}

.k-calendar .k-footer .k-nav-today,
.k-calendar .k-footer > .k-state-disabled
{
    padding: 1.143em 0 1.071em;
}

.k-popup.k-calendar-container {
 	padding: 0;
}

.k-multiselect-wrap .k-input {
    height: @input-height;
}

.k-multiselect-wrap li {
    border-radius: 1.071em;
    margin: 3px 0 3px 3px;
    padding: 0 1.6em 0 .857em;
    line-height: 1.86em;
}

.k-multiselect-wrap li span {
    margin-right: .4em;   
}

.k-multiselect-wrap .k-select
{
    padding-top: 0;
}

.k-numeric-wrap .k-select {
    vertical-align: baseline;
}

.k-numerictextbox .k-link {
    height: (@input-height + 0.354em) / 2;
    line-height: 1.357em;
}

.k-numerictextbox .k-link .k-i-arrow-n {
    vertical-align: bottom;
}

.k-numerictextbox .k-link .k-i-arrow-s {
    vertical-align: top;
}

.k-menu.k-header,
.k-menu .k-item,
.k-widget.k-menu-horizontal > .k-item {
    border-width: 0;
}

.k-popup.k-context-menu {
    border-width: 1px;
    border-style: solid;
}

.k-context-menu.k-menu-vertical > .k-item > .k-link,
.k-menu .k-menu-group .k-item > .k-link
{
    padding: 0.5em 4.929em 0.5em 1.714em;
}

.k-menu .k-item > .k-link > .k-i-arrow-e {
    right: 2.143rem;
}

.k-menu .k-animation-container .k-menu-group {
    padding: 1.143em 0;
}

.k-toolbar {
    line-height: 45px;
}

.k-toolbar {
    .k-button-group,
    .k-button-group .k-button {
        line-height: inherit;
    }

    .k-button-group .k-button {
        padding: 0 11px;
    }

    .k-button,
    .k-split-button,
    .k-widget,
    .k-textbox,
    label,
    .k-separator {
        line-height: 1.143em;
    }

    .k-button {    
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .k-input {
        height: @input-height;
        line-height: @input-height;
        padding: 0.11em 0;
        text-indent: @input-indent;
        border: 0;
        margin: 0;
    }

    .k-overflow-anchor {
        width: 3.357em;
        border-left-width: 1px;
        padding-top: 2px; 
        line-height: inherit;
        height: 100%;
        padding-bottom: 0;
    }
    
    .k-separator {
        line-height: 47px;
    }

    .k-button-group {
        border-width: 0 1px;
        border-style: solid;
    }

    .k-overflow-anchor + .k-button-group,
    .k-separator + .k-button-group,
    .k-button-group + .k-button-group {
        border-left: none;
    }
}

.k-button-group .k-tool {
	margin: 6px 0;
}

.k-toolbar .k-button-group .k-tool-icon {
    width: 24px;
    height: 24px;
}

.k-filebrowser {
    .k-filebrowser-toolbar {
        line-height: 3.5em;
    }

    .k-filebrowser-toolbar .k-upload {
        margin-top: 3px;
    }

    .k-filebrowser-toolbar .k-button-icon {
        margin-top: -3px;
    }

    .k-upload .k-upload-button {
        vertical-align: bottom;
    }

    .k-search-wrap .k-search {
        top: 25%;
        right: 4px;
    }

    .k-search-wrap {
        padding: 2px .3em;
    }

    .k-tiles-arrange .k-dropdown {
        width: 80px;
    }
}

.k-draghandle
{
    border-width: 2px;
}

span.k-tooltip
{
    padding: 9px 17px;
}

.k-block > .k-header, 
.k-window-titlebar {
    padding: 0.49em 0;
    height: 2.362em;
    border-width: 0;
}

.k-widget.k-tooltip-validation {
    padding: 11px 20px 9px;
}

.k-tooltip-validation .k-warning {
    margin-right: 10px;
}

.k-window-titlebar .k-window-actions {
	right: 0.929em;
}

div.k-window {
	border-width: 0;
}

.k-window-title {
    right: 1.143em;
    left: 1.143em;
}

div.k-window-content {
    padding: 1.333em;
}

.k-file {
    padding: 0.357em .167em 0.357em .8em;
}

.k-notification-wrap {
    padding: 1.786em;
}

.k-notification-wrap > .k-i-close {
    top: 21px;
}

.k-slider-track {
    border-width: 0;
}

.k-slider .k-button .k-icon {
    margin-top: 5px;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection {
    height: 2px;
    margin-top: -1px;
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection {
    width: 2px;
    margin-left: -1px;
}

.k-slider-horizontal .k-draghandle,
.k-slider-vertical .k-draghandle,
.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle {
    width: 6px;
    height: 6px;
}

.k-flatcolorpicker .k-hue-slider .k-draghandle {
    margin-top: -1px;
}

.k-colorpicker {
    .k-picker-wrap {
        line-height: @input-height;
    }

    .k-selected-color {
        width: @input-height;
        height: @input-height;
        padding: .179em .23em;
    }      
}

.k-draghandle.k-state-selected,
.k-draghandle.k-state-selected:link,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-selected,
.k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-selected
{
    width: 10px;
    height: 10px;
}

.k-draghandle.k-state-focused.k-state-selected {
	margin-left: -2px;
}

.k-slider-horizontal .k-draghandle.k-state-selected,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-selected {
    top: -6px;
}

.k-slider-vertical .k-draghandle.k-state-selected {
    left: -4px;
}

/* PanelBar */
.k-panelbar-expand,
.k-panelbar-collapse {
    right: 16px;
}

// Icons
.k-state-border-down .k-select .k-i-arrow-s { 
    background-position: 0 0; 
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-n,
.k-grid-header .k-numerictextbox .k-select .k-link span.k-i-arrow-n {
     background-position: 0 -3px;
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-s,
.k-grid-header .k-numerictextbox .k-select .k-link span.k-i-arrow-s {
     background-position: 0 -35px;
}

.k-picker-wrap.k-state-active .k-i-calendar {
    background-position: -48px -176px;
}

.k-picker-wrap.k-state-active .k-i-clock {
    background-position: -48px -192px;
}

.k-i-close,
.k-delete,
.k-group-delete {
	background-position: -32px -16px;
}

.k-multiselect {
    .k-delete {
        margin-top: -2px;
    } 

    .k-button:not(.k-state-disabled):hover .k-delete {
        background-position: -160px -80px;
    }
}

.k-window-titlebar {
    .k-i-maximize,
    .k-link:not(.k-state-disabled):hover > .k-i-maximize {
        background-position: -48px -144px;
    }

    .k-i-minimize,
    .k-link:not(.k-state-disabled):hover > .k-i-minimize {
        background-position: -80px -288px;
    }

    .k-i-pin,
    .k-link:not(.k-state-disabled):hover > .k-i-pin {
        background-position: -176px -256px;
    }

    .k-i-custom,
    .k-link:not(.k-state-disabled):hover > .k-i-custom {
        background-position: -141px -113px;
    }

    .k-i-refresh,
    .k-link:not(.k-state-disabled):hover > .k-i-refresh {
        background-position: -48px -112px;
    }

    .k-i-close,
    .k-link:not(.k-state-disabled):hover > .k-i-close {
        background-position: -48px -16px;
    }

    .k-i-restore,
    .k-link:not(.k-state-disabled):hover > .k-i-restore {
        background-position: -48px -128px;
    }
}

.k-calendar .k-icon.k-i-arrow-w,
.k-calendar .k-state-hover .k-icon.k-i-arrow-w {
     background-position: -16px -48px;
     opacity: 1;
}

.k-calendar .k-icon.k-i-arrow-e,
.k-calendar .k-state-hover .k-icon.k-i-arrow-e {
     background-position: -16px -16px;
     opacity: 1;
}

.k-splitbar-horizontal-hover {
	.k-resize-handle {
		background-position: -165px -6px;
	}

	.k-collapse-next {
		background-position: -5px -142px;
	}

	.k-collapse-prev {
		background-position: -6px -174px;
	}
}

.k-splitbar-vertical-hover {
	.k-resize-handle {
		background-position: -38px -309px;
	}

	.k-collapse-next {
		background-position: 2px -165px;
	}

	.k-collapse-prev {
		background-position: 2px -134px;
	}
}

.k-splitbar-horizontal.k-state-focused {
	.k-resize-handle {
		background-position: -181px -6px;
	}

	.k-collapse-next {
		background-position: -21px -142px;
	}

	.k-collapse-prev {
		background-position: -22px -174px;
	}
}

.k-splitbar-vertical.k-state-focused {
	.k-resize-handle {
		background-position: -70px -309px;
	}

	.k-collapse-next {
		background-position: -14px -165px;
	}

	.k-collapse-prev {
		background-position: -14px -134px;
	}
}

.k-header {
    .k-i-pdf,
    .k-button:hover > .k-i-pdf {
        background-position: -80px -80px;
    }

    .k-i-excel,
    .k-button:hover > .k-i-excel {
        background-position: -80px -96px;
    } 
}

.k-i-arrowhead-s {
    background-position: 0 -288px;
}

.k-item.k-state-hover .k-i-arrowhead-s,
.k-button:hover .k-i-arrowhead-s {
    background-position: -16px -288px;
}

.k-si-close,
.k-item.k-state-hover .k-si-close,
.k-button:hover .k-si-close {
    background-position: -176px -80px;
}

.k-panelbar {
    .k-link > k-i-arrow-n,
    .k-link.k-state-selected .k-i-arrow-n,
    .k-link:not(.k-state-disabled):hover > .k-i-arrow-n { 
        background-position: 0 -192px;
    }

    .k-link > .k-i-arrow-s,
    .k-link.k-state-selected .k-i-arrow-s,
    .k-link:not(.k-state-disabled):hover > .k-i-arrow-s { 
        background-position: 0 -224px; 
    }

    .k-link > .k-i-arrow-e,
    .k-link.k-state-selected .k-i-arrow-e,
    .k-link:not(.k-state-disabled):hover > .k-i-arrow-e { 
        background-position: 0 -190px; 
    }
}

.k-notification .k-i-note {
    background-position: -176px -240px;
}

.k-radio:checked + .k-radio-label:after {
  top: 4px; 
  left: 4px
}

//RTL
.k-rtl .k-widget .k-dropdown-wrap,
.k-rtl .k-widget .k-picker-wrap,
.k-rtl .k-widget .k-numeric-wrap {
    padding-left: 2.5em;
}

.k-rtl .k-widget.k-datetimepicker .k-picker-wrap {
    padding-left: 5em;
}

.k-rtl .k-widget.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 0 6px;
}

.k-webkit .k-rtl .k-widget .k-dropdown-wrap .k-input,
.k-webkit .k-rtl .k-widget .k-numeric-wrap .k-input {
    margin-right: 0;
}

.k-rtl .k-calendar .k-icon.k-i-arrow-w,
.k-rtl .k-calendar .k-link:not(.k-state-disabled):hover > .k-i-arrow-w,
.k-rtl .k-scheduler .k-i-arrow-w,
.k-rtl .k-scheduler .k-link:not(.k-state-disabled):hover > .k-i-arrow-w,
.k-rtl .k-scheduler .k-state-hover .k-link .k-i-arrow-w {
    background-position: -16px -16px;
}

.k-rtl .k-calendar .k-icon.k-i-arrow-e,
.k-rtl .k-calendar .k-link:not(.k-state-disabled):hover > .k-i-arrow-e,
.k-rtl .k-scheduler .k-i-arrow-e,
.k-rtl .k-scheduler .k-link:not(.k-state-disabled):hover > .k-i-arrow-e,
.k-rtl .k-scheduler .k-state-hover .k-link .k-i-arrow-e {
    background-position: -16px -48px;
}

.km-pane-wrapper .k-pager-numbers .k-link,
.km-pane-wrapper .k-pager-numbers .k-state-selected,
.km-pane-wrapper .k-pager-wrap>.k-link {
    border-radius: 0;
}

.km-pane-wrapper .k-pager-numbers .k-link,
.km-pane-wrapper .k-pager-wrap >.k-link,
.km-pane-wrapper .k-pager-wrap> .k-pager-info {
    padding: .571em .86em;
}

.km-pane-wrapper .k-pager-numbers .k-state-selected {
    padding: .971em .86em .571em;
}
