/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@sprite-image: url('@{image-folder}/sprite.png');
@theme-type: "Bootstrap";
@tooltip-texture: none;
@widget-text-color: @normal-text-color;
@inverse-text-color: @background;
@widget-gradient: none;
@widget-background-color: @background;
@widget-border-color: darken(@base, 12%);
@widget-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
@input-background-color: @background;
@input-text-color: @normal-text-color;
@link-text-color: @accent;
@header-text-color: @normal-text-color;
@header-background-color: lighten(@base, 4%);
@button-text-color: @normal-text-color;
@button-background-color: @background;
@group-background-color: lighten(@base, 4%);
@group-border-color: rgba(0, 0, 0, 0.2);
@content-background-color: @background;
@hover-background-color: @base;
@hover-border-color: darken(@base, 24%);
@hover-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
@select-background-color: @base;
@select-border-color: darken(@base, 24%);
@select-hover-background-color: @base;
@select-group-background-color: @background;
@selected-background-color: @accent;
@selected-border-color: @accent;
@selected-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
@focused-border-color: lighten(@accent, 13%);
@focused-shadow: 0 0 7px 0 lighten(@accent, 13%);
@focused-item-shadow: inset 0 0 7px 0 lighten(@accent, 13%);
@focused-active-item-shadow: inset 0 0 10px 3px darken(@accent, 8%);
@active-text-color: @normal-text-color;
@active-gradient: none;
@active-background-color: @background;
@active-border-color: darken(@base, 12%);
@active-shadow: none;
@error-text-color: lighten(@normal-text-color, 22%);
@error-background-color: darken(@base, 3%);
@error-border-color: darken(@background, 14%);
@disabled-text-color: darken(@base, 29%);
@notification-info-background-color: @info;
@notification-info-text-color: darken(@info, 50%);
@notification-info-border-color: darken(@info, 10%);
@notification-success-background-color: @success;
@notification-success-text-color: darken(@success, 50%);
@notification-success-border-color: darken(@success, 10%);
@notification-warning-background-color: @warning;
@notification-warning-text-color: darken(@warning, 50%);
@notification-warning-border-color: darken(@warning, 10%);
@notification-error-background-color: @error;
@notification-error-text-color: darken(@error, 50%);
@notification-error-border-color: darken(@error, 10%);
@tooltip-text-color: @background;
@tooltip-background-color: contrast(@base);
@tooltip-border-color: contrast(@base);
@validation-text-color: contrast(@validation-background-color, lighten(@warning, 80%), darken(@warning, 60%), 0.5);
@validation-background-color: @warning;
@validation-border-color: @warning;
@splitbar-background-color: lighten(@base, 4%);
@draghandle-border-radius: 13px;
@draghandle-border-color: @background;
@draghandle-background-color: @background;
@draghandle-shadow: 0 0 0 1px darken(@background, 23%);
@draghandle-hover-border-color: darken(@base, 24%);
@draghandle-hover-background-color: @base;
@draghandle-hover-shadow: none;
@alt-background-color: lighten(@base, 4%);
@nested-alt-background-color: darken(@alt-background-color, 8%);
@cell-border-color: darken(@base, 1%);
@column-highlight-background-color: darken(@base, 1%);
@active-filter-background-color: @background;
@scheduler-background-color: @background;
@current-time-color: darken(@background, 14%);
@event-background-color: darken(@accent, 9%);
@event-text-color: @background;
@event-inverse-text-color: @normal-text-color;
@scheduler-nonwork-background-color: lighten(@base, 4%);
@resize-background-color: @background;
@upload-progress-background-color: saturate(@info, 10%);
@upload-progress-text-color: contrast(@info);
@upload-success-background-color: saturate(@success, 10%);
@upload-success-text-color: contrast(@success);
@upload-error-background-color: saturate(@error, 10%);
@upload-error-text-color: contrast(@error);
@task-summary-color: lighten(@widget-text-color, 25%);
@task-summary-selected-color: lighten(@selected-background-color, 25%);
@loading-panel-color: @background;
@shadow-color: rgba(0, 0, 0, .2);
@shadow-inset-color: darken(@base, 12%);
@main-border-radius: @border-radius;
@list-border-radius: @main-border-radius - 1;
@inner-border-radius: @main-border-radius - 1;
@slider-border-radius: 13px;
@default-icon-opacity: 1;
@calendar-border-radius: @border-radius;
@calendar-content-text-color: @normal-text-color;
@calendar-footer-background: lighten(@base, 4%);
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: underline;
@calendar-footer-hover-background: @background;
@calendar-header-hover-text-decoration: none;
@calendar-header-hover-background: @base;
@calendar-footer-active-background: @background;
@calendar-group-background-color: lighten(@base, 4%);
@button-border-color: darken(@base, 12%);
@menu-border-color: darken(@base, 12%);
@tabstrip-items-border: transparent;
@tabstrip-active-background: @background;
@tabstrip-tabs-color: @accent;
@form-widget-color: @normal-text-color;
@drop-down-border-color: darken(@base, 12%);
@drop-down-hover-border-color: darken(@base, 24%);
@drop-down-focused-border-color: lighten(@accent, 13%);
@drop-down-background: @background;
@drop-down-text-color: @normal-text-color;
@secondary-border-color: darken(@base, 12%);
@secondary-text-color: @normal-text-color;
@numeric-selected-background: @base;
@panelbar-items-border: darken(@base, 12%);
@panelbar-content-background: @background;
@panelbar-content-color: @normal-text-color;
@window-shadow-style: 1px 1px 7px 1px;
@filter-menu-content-background: @background;
@icon-background-color: transparent;
@disabled-background-color: @background;
@disabled-border-color: darken(@base, 12%);
@disabled-gradient: none;
@treeview-text-color: @accent;
@treeview-hover-text-color: @accent;
@tabstrip-tabs-hover-color: @accent;
@pager-hover-color: @accent;
@multiselect-buttons-border-color: darken(@accent, 5%);
@multiselect-buttons-color: @background;
@multiselect-buttons-background: @accent;
@multiselect-buttons-hover-background: darken(@accent, 8%);
@multiselect-buttons-hover-border-color: darken(@accent, 17%);
@slider-selection-background-color: @base;
@form-widgets-border-color: darken(@base, 12%);
@pager-text-color: darken(@base, 27%);
@draghandle-selected-background: darken(@base, 12%);
@upload-status-color: @normal-text-color;
@form-widgets-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
@menu-active-background: darken(@base, 1%);
@concave-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
@primary-button-text-color: @background;
@primary-button-background-color: @accent;
@primary-button-border-color: darken(@accent, 5%);
@primary-gradient: none;
@primary-shadow: none;
@primary-hover-text-color: @background;
@primary-hover-background-color: darken(@accent, 8%);
@primary-hover-border-color: darken(@accent, 17%);
@primary-hover-gradient: none;
@primary-hover-shadow: none;
@primary-focused-color: @background;
@primary-focused-border-color: lighten(@info, 2%);
@primary-focused-gradient: none;
@primary-focused-active-item-shadow: 0 0 8px 0 darken(@info, 6%);
@primary-active-text-color: @background;
@primary-active-background-color: darken(@accent, 8%);
@primary-active-gradient: none;
@primary-active-border-color: darken(@accent, 17%);
@primary-active-shadow: inset 0 0 8px 0 lighten(@accent, 13%);
@primary-disabled-text-color: @background;
@primary-disabled-background-color: lighten(@accent, 16%);
@primary-disabled-border-color: lighten(@accent, 14%);
@primary-disabled-gradient: none;
@button-hover-text-color: @normal-text-color;
@button-hover-background-color: @base;
@button-hover-border-color: darken(@base, 24%);
@button-active-background: @base;
@button-active-border-color: @accent;
@button-focused-border-color: lighten(@accent, 13%);
@button-focused-shadow: 0 0 7px 0 lighten(@accent, 13%);
@button-focused-active-shadow: inset 0 0 5px 3px darken(@base, 9%);

/* Kendo skin */

@theme-name: ~"bootstrap";

@import "common/mixins.less";
@import "themes/type.less";

.k-in,
.k-item,
.k-window-action
{
    border-color: transparent;
}

/* main colors */
.k-block,
.k-widget
{
    background-color: @widget-background-color;
}

.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-colorpicker .k-i-arrow-s,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files
{
    border-color: @widget-border-color;
}

.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-calendar th,
.k-dropzone-hovered,
.k-widget.k-popup
{
    background-color: @group-background-color;
}

.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner
{
    background-color: @header-background-color;
}

.k-list-container
{
    border-color: @group-border-color;
    background-color: @select-group-background-color;
}

.k-content,
.k-editable-area,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles
{
    background-color: @content-background-color;
}

.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child
{
    background-color: @alt-background-color;
}

.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt
{
    background-color: @nested-alt-background-color;
}

.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active
{
    border-color: @widget-border-color;
    background-color: @select-background-color;
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input
{
    border-color: @widget-border-color;
}

input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input
{
    background: none;
}

.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap
{
    background-color: @input-background-color;
    color: @input-text-color;
}

// Bootstrap readonly input styling has more specificity than ours.
.k-input[readonly]
{
    background-color: @input-background-color;
    color: @input-text-color;
}

.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input
{
    color: @widget-text-color;
}

.k-inverse
{
    color: @inverse-text-color;
}

.k-block
{
    color: @header-text-color;
}

.k-link:link,
.k-link:visited,
.k-nav-current.k-state-hover .k-link
{
    color: @link-text-color;
}

.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link
{
    color: @widget-text-color;
}

.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link
{
    color: @header-text-color;
}

.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-button,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.km-pane-wrapper > .km-pane > .km-view > .km-content
{
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @header-background-color;
}

.k-widget.k-tooltip
{
    background-image: @tooltip-texture;
}

.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-button,
.k-draghandle,
.k-treemap-tile,
html .km-pane-wrapper .k-header
{
    background-color: @header-background-color;
}

/* icons */
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite,
.k-pager-numbers .k-current-page .k-link:hover:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after
{
    opacity:1;
}

.k-icon,
.k-state-disabled .k-icon,
.k-column-menu .k-sprite,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after
{
    opacity: @default-icon-opacity;
}

.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked
{
    opacity: @default-icon-opacity;
}

.k-tool
{
    border-color: transparent;
}

.k-icon,
.k-tool-icon,
.k-grouping-dropclue,
.k-drop-hint,
.k-column-menu .k-sprite,
.k-grid-mobile .k-resize-handle-inner:before,
.k-grid-mobile .k-resize-handle-inner:after,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after,
.k-gantt-views > .k-current-view > .k-link:after
{
    background-image: @sprite-image;
    border-color: transparent;
}


/* IE will ignore the above selectors if these are added too */
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked
{
    background-image: @sprite-image;
    border-color: transparent;
}

.k-loading,
.k-state-hover .k-loading
{
    background-image: url('@{image-folder}/loading.gif');
    background-position: 50% 50%;
}

.k-loading-image { background-image: url('@{image-folder}/loading-image.gif'); }
.k-loading-color { background-color: @loading-panel-color; }

.k-button
{
    color: @button-text-color;
    border-color: @button-border-color;
    background-color: @button-background-color;
}

.k-draghandle
{
    border-color: @draghandle-border-color;
    background-color: @draghandle-background-color;
    .box-shadow(@draghandle-shadow);
}

.k-draghandle:hover
{
    border-color: @draghandle-hover-border-color;
    background-color: @draghandle-hover-background-color;
    .box-shadow(@draghandle-hover-shadow);
}

/* Scheduler */

.k-scheduler
{
    color: @event-text-color;
    background-color: @scheduler-background-color;
}

.k-scheduler-layout
{
    color: @widget-text-color;
}

.k-scheduler-datecolumn,
.k-scheduler-groupcolumn
{
    background-color: @scheduler-background-color;
    color: @widget-text-color;
}

.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times
{
    border-color: @cell-border-color;
}

.k-nonwork-hour
{
    background-color: @scheduler-nonwork-background-color;
}

.k-gantt .k-nonwork-hour
{
    background-color: rgba(0,0,0, .02);
}

.k-gantt .k-header.k-nonwork-hour
{
    background-color: rgba(0,0,0, .2);
}

.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn
{
    background-color: @column-highlight-background-color;
}

.k-scheduler-now-arrow
{
    border-left-color: @current-time-color;
}

.k-scheduler-now-line
{
    background-color: @current-time-color;
}

.k-event,
.k-task-complete
{
    border-color: @event-background-color;
    background: @event-background-color 0 -257px @tooltip-texture repeat-x;
    color: @event-text-color;
}

.k-event-inverse {
    color: @event-inverse-text-color;
}

.k-event.k-state-selected
{
    background-position: 0 0;
    .box-shadow(0 0 0 2px @normal-text-color);
}

.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after
{
    background-color: @resize-background-color;
}

.k-scheduler-marquee:before,
.k-scheduler-marquee:after
{
    border-color: @selected-background-color;
}

.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item
{
    background-color: @panelbar-content-background;
    color: @panelbar-content-color;
    border-color: @secondary-border-color;
}

.k-panelbar > li > .k-link
{
    color: @panelbar-content-color;
}

.k-panelbar > .k-item > .k-link
{
    border-color: @secondary-border-color;
}

.k-panel > li.k-item
{
    background-color: @panelbar-content-background;
}

/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter,
.k-tabstrip .k-state-active
{
    background-color: @active-background-color;
    border-color: @active-border-color;
    color: @active-text-color;
}

.k-fieldselector .k-list-container
{
    background-color: @active-background-color;
}

.k-button:focus,
.k-button.k-state-focused
{
    border-color: @button-focused-border-color;
}

.k-button:hover,
.k-button.k-state-hover
{
    color: @button-hover-text-color;
    border-color: @button-hover-border-color;
    background-color: @button-hover-background-color;
}

.k-button:active,
.k-button.k-state-active
{
    color: @selected-text-color;
    background-color: @button-active-background;
    border-color: @button-active-border-color;
}

.k-button:active:hover,
.k-button.k-state-active:hover
{
    color: @primary-hover-text-color;
    border-color: @primary-hover-border-color;
    background-color: @primary-hover-background-color;
}

.k-button:focus:not(.k-state-disabled):not([disabled])
{
    .box-shadow(@button-focused-shadow);
}

.k-button:focus:active:not(.k-state-disabled):not([disabled])
{
    .box-shadow(@button-focused-active-shadow);
}

.k-menu .k-state-hover>.k-state-active
{
    background-color: transparent;
}

.k-state-highlight
{
    background: @active-background-color;
    color: @active-text-color;
}

.k-state-focused,
.k-grouping-row .k-state-focused
{
    border-color: @focused-border-color;
}

.k-calendar {
    .k-link {
        color: @calendar-content-text-color;
    }

    .k-footer {
        padding: 0;
    }

    .k-footer .k-nav-today {
        color: @form-widget-color;
        text-decoration: @calendar-footer-text-decoration;
        background-color: @calendar-footer-background;
    }

    .k-footer .k-nav-today:hover,
    .k-footer .k-nav-today.k-state-hover {
        background-color: @calendar-footer-hover-background;
        text-decoration: @calendar-footer-hover-text-decoration;
    }

    .k-footer .k-nav-today:active {
        background-color: @calendar-footer-active-background;
    }

    .k-link.k-nav-fast {
        color: @form-widget-color;
    }

    .k-nav-fast.k-state-hover {
        text-decoration: @calendar-header-hover-text-decoration;
        background-color: @calendar-header-hover-background;
        color: @hover-text-color;
    }

    .k-link.k-state-hover {
        border-radius: @calendar-border-radius;
    }

    .k-state-focused.k-state-hover {
        background-color: lighten(@selected-background-color, 37%);
    }

    .k-state-selected.k-state-hover {
        background-color: darken(@selected-background, 8%);
    }

    .k-state-selected.k-state-hover .k-link {
        color: @selected-text-color;
    }

    td.k-state-focused.k-state-selected.k-state-hover {
        box-shadow: inset 0 0 7px 0 darken(@selected-background, 25%); 
    }

    .k-today {
        background-color: @base;
    }

    .k-today.k-state-selected {
        background-color: @selected-background-color;
    }

    .k-today.k-state-hover {
        background-color: darken(@base, 7%);
    }

    .k-today.k-state-focused.k-state-hover {
        background-color: lighten(@selected-background-color, 37%);
    }

    .k-today.k-state-selected.k-state-hover {
        background-color: darken(@selected-background, 8%);
    }

    .k-footer .k-link {
        border-radius: 0;
    }

    th {
        background-color: @calendar-group-background-color;
    }
}

.k-window-titlebar .k-link {
    border-radius: @calendar-border-radius;
}

 .k-calendar-container.k-group {
    border-color: @group-border-color;
}

.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-list>.k-state-selected,
.k-list>.k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color
{
    color: @selected-text-color;
    background-color: @selected-background-color;
    border-color: @selected-border-color;
}

.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first
{
    border-top-color: @hover-border-color;
}

.k-group-header + div > .k-list > .k-item.k-first:before {
    border-top-color: @hover-border-color;
}

.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header
{
    background: @hover-border-color;
    color: @selected-text-color;
}

.k-popup .k-list .k-item > .k-group
{
    background: @hover-border-color;
    color: @selected-text-color;
    border-bottom-left-radius: @inner-border-radius;
}

.k-marquee-text
{
    color: @selected-text-color;
}

.k-state-focused,
.k-list>.k-state-focused,
.k-listview>.k-state-focused,
.k-grid-header th.k-state-focused,
td.k-state-focused,
.k-button.k-state-focused
{
    .box-shadow(@focused-item-shadow);
}

.k-state-focused.k-state-selected,
.k-list>.k-state-focused.k-state-selected,
.k-listview>.k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected
{
    .box-shadow(@focused-active-item-shadow);
}

.k-ie8 .k-panelbar span.k-state-focused,
.k-ie8 .k-menu li.k-state-focused,
.k-ie8 .k-listview>.k-state-focused,
.k-ie8 .k-grid-header th.k-state-focused,
.k-ie8 td.k-state-focused,
.k-ie8 .k-tool.k-state-hover,
.k-ie8 .k-button:focus,
.k-ie8 .k-button.k-state-focused
{
    background-color: @hover-background-color;
}

.k-list>.k-state-selected.k-state-focused,
.k-list-optionlabel.k-state-selected.k-state-focused
{
    .box-shadow(none);
}

.k-state-selected>.k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar>li.k-state-default>.k-link.k-state-selected
{
    color: @selected-text-color;
}

.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list>.k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-mobile-list .k-item > .k-link:active,
.k-mobile-list .k-item > .k-label:active,
.k-mobile-list .k-edit-label.k-check:active,
.k-mobile-list .k-recur-view .k-check:active
{
    color: @hover-text-color;
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

/* this selector should be used separately, otherwise old IEs ignore the whole rule */
.k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active
{
    color: @hover-text-color;
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

.k-ie8 .k-window-titlebar .k-state-hover
{
    border-color: @hover-border-color;
}

.k-state-hover > .k-select,
.k-state-focused > .k-select
{
    border-color: @hover-border-color;
}

.k-button:hover,
.k-button.k-state-hover,
.k-button:focus,
.k-button.k-state-focused,
.k-textbox:hover,
.k-state-hover,
.k-state-hover:hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover
{
    .composite-background(@hover-gradient);
}

.k-pager-wrap
{
    background-color: @header-background-color;
    color: @header-text-color;
}

.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active>.k-link,
.k-button:active,
.k-panelbar>.k-item>.k-state-focused
{
    .composite-background(@active-gradient);
}

.k-state-selected,
.k-button:active,
.k-button.k-state-active,
.k-draghandle.k-state-selected:hover
{
    .composite-background(@selected-gradient);
}

.k-button:active,
.k-button.k-state-active,
.k-draghandle.k-state-selected:hover
{
    background-position: 50% 50%;
}

.k-tool-icon
{
    background-image: @sprite-image;
}

.k-state-hover>.k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em
{
    color: @hover-text-color;
}

.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @select-border-color;
}

.km-pane-wrapper .k-mobile-list input:not([type="checkbox"]):not([type="radio"]),
.km-pane-wrapper .km-pane .k-mobile-list select:not([multiple]),
.km-pane-wrapper .k-mobile-list textarea,
.k-dropdown .k-state-focused .k-input
{
    color: @widget-text-color;
}

.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu {
    .k-space-right {
        .composite-background(@widget-gradient);
        background-position: 50% 50%;
        background: @base;
        border-color: @base;

        > input {
            background: @background;
            border-color: @widget-border-color;
        }

        > input:focus {
            border-color: lighten(@accent, 13%);
            .box-shadow(@focused-shadow);
        }
    }
}

.k-dropdown .k-state-hover .k-input
{
    color: @hover-text-color;
}

.k-state-error
{
    border-color: @error-border-color;
    background-color: @error-background-color;
    color: @error-text-color;
}

.k-state-disabled
{
    opacity: .7;
}

.k-ie8 .k-state-disabled
{
    filter: alpha(opacity=70);
}

.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
    border-width: 0;
    background-image: none;
    background-color: transparent;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-dropzone .k-upload-status,
.k-tile-empty strong,
.k-slider .k-draghandle
{
    color: @disabled-text-color;
}

/* Progressbar */

.k-progressbar-indeterminate
{
    background: url('@{image-folder}/indeterminate.gif');
}

.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected
{
    display: none;
}

/* Slider */
.k-slider-track
{
    background-color: @widget-border-color;
}

.k-slider-selection
{
    background-color: @selected-background-color;
}

.k-slider-horizontal .k-tick
{
    background-image: url('@{image-folder}/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image: url('@{image-folder}/slider-v.gif');
}

/* Tooltip */
.k-widget.k-tooltip
{
    border-color: @tooltip-border-color;
    background-color: @tooltip-background-color;
    color: @tooltip-text-color;
}

.k-widget.k-tooltip-validation
{
    border-color: @validation-border-color;
    background-color: @validation-background-color;
    color: @validation-text-color;
}

/* Bootstrap theme fix */
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation
{
    font-size: 12px;
    position: relative;
    top: 3px;
}

.k-callout-n
{
    border-bottom-color: @tooltip-border-color;
}

.k-callout-w
{
    border-right-color: @tooltip-border-color;
}

.k-callout-s
{
    border-top-color: @tooltip-border-color;
}

.k-callout-e
{
    border-left-color: @tooltip-border-color;
}

.k-tooltip-validation .k-callout-n
{
    border-bottom-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-w
{
    border-right-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-s
{
    border-top-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-e
{
    border-left-color: @validation-border-color;
}

/* Splitter */
.k-splitbar
{
    background-color: @splitbar-background-color;
}

.k-restricted-size-vertical,
.k-restricted-size-horizontal
{
    background-color: @error-text-color;
}

/* Upload */

.k-file
{
    background-color: @active-background-color;
    border-color: @cell-border-color;
}

.k-file-progress
{
    color: @upload-progress-text-color;
}

.k-file-progress .k-progress
{
    background-color: @upload-progress-background-color;
}

.k-file-success
{
    color: @upload-success-text-color;
}

.k-file-success .k-progress
{
    background-color: @upload-success-background-color;
}

.k-file-error
{
    color: @upload-error-text-color;
}

.k-file-error .k-progress
{
    background-color: @upload-error-background-color;
}

/* ImageBrowser */

.k-tile
{
    border-color: @content-background-color;
}

.k-textbox:hover,
.k-tiles li.k-state-hover
{
    border-color: @hover-border-color;
}

.k-tiles li.k-state-selected
{
    border-color: @selected-border-color;
}

.k-filebrowser .k-tile .k-folder,
.k-filebrowser .k-tile .k-file
{
    background-image: url('@{image-folder}/imagebrowser.png');
    background-size: auto auto;
}

/* TreeMap */

.k-leaf,
.k-leaf.k-state-hover:hover
{
    color: #fff;
}

.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover:hover
{
    color: #000;
}

/* Shadows */
.k-widget,
.k-button
{
    .box-shadow(@widget-shadow);
}

.k-slider,
.k-treeview,
.k-upload
{
    .box-shadow(none);
}

.k-state-hover
{
    .box-shadow(@hover-shadow);
}

.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused
{
    .box-shadow(@focused-shadow);
}

.k-state-selected
{
    .box-shadow(@selected-shadow);
}

.k-state-active
{
    .box-shadow(@active-shadow);
}

.k-grid td.k-state-selected.k-state-focused
{
    background-color: lighten(@selected-background-color, 3%);
}

.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip
{
    .box-shadow(0 2px 2px 0 @shadow-color);
}

.k-treemap-tile.k-state-hover
{
    .box-shadow(inset 0 0 0 3px @widget-border-color);
}

/* Window */

.k-window
{
    .window-shadow(@shadow-color);
    background-color: @widget-background-color;
}

.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content
{
    border-radius: 0;
}

.k-shadow
{
    .box-shadow(0 1px 2px 0 @shadow-color);
}

.k-inset
{
    .box-shadow(inset 0 1px 1px @shadow-color);
}

/* Selection */
.k-editor-inline {
    .selection(@selected-border-color);
}

/* Notification */

.k-widget.k-notification.k-notification-info
{
    background-color: @notification-info-background-color;
    color: @notification-info-text-color;
    border-color: @notification-info-border-color;
}

.k-widget.k-notification.k-notification-success
{
    background-color: @notification-success-background-color;
    color: @notification-success-text-color;
    border-color: @notification-success-border-color;
}

.k-widget.k-notification.k-notification-warning
{
    background-color: @notification-warning-background-color;
    color: @notification-warning-text-color;
    border-color: @notification-warning-border-color;
}

.k-widget.k-notification.k-notification-error
{
    background-color: @notification-error-background-color;
    color: @notification-error-text-color;
    border-color: @notification-error-border-color;
}

/* Gantt */

.k-gantt .k-treelist
{
    background: @alt-background-color;
}

.k-gantt .k-treelist .k-alt
{
    background-color: darken(@alt-background-color, 10%);
}

.k-gantt .k-treelist tr:hover {
    background-color: @hover-background;
}

.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td
{
    background-color: @selected-background-color;
}

.k-task-dot:after
{
    background-color: @widget-text-color;
    border-color: @widget-text-color;
}

.k-task-dot:hover:after
{
    background-color: @active-background-color;
}

.k-task-summary
{
    border-color: @task-summary-color;
    background: @task-summary-color;
}

.k-task-milestone,
.k-task-summary-complete
{
    border-color: @widget-text-color;
    background: @widget-text-color;
}

.k-state-selected.k-task-summary
{
    border-color: @task-summary-selected-color;
    background: @task-summary-selected-color;
}

.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete
{
    border-color: @selected-background-color;
    background: @selected-background-color;
}

.k-task-single
{
    background-color: lighten(@event-background-color, 7%);
    border-color: @event-background-color;
    color: @event-text-color;
}

.k-state-selected.k-task-single
{
    border-color: @selected-border-color;
}

.k-line
{
    background-color: @widget-text-color;
    color: @widget-text-color;
}

.k-state-selected.k-line
{
    background-color: @selected-background-color;
    color: @selected-background-color;
}

.k-resource
{
    background-color: @widget-background-color;
}

/* PivotGrid */

.k-i-kpi-decrease,
.k-i-kpi-denied,
.k-i-kpi-equal,
.k-i-kpi-hold,
.k-i-kpi-increase,
.k-i-kpi-open
{
    background-image: url('@{image-folder}/sprite_kpi.png');
}

/* Border radius */
.k-block,
.k-button,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-notification,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-colorpicker,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload,
.k-split-button
{
    border-radius: @main-border-radius;
}

.k-tool {
    text-align: center;
    vertical-align: middle;
}

.k-tool.k-group-start,
.k-toolbar .k-split-button .k-button,
.k-toolbar .k-button-group .k-group-start
{
    border-radius: @main-border-radius 0 0 @main-border-radius;
}

.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-split-button .k-button,
.k-rtl .k-toolbar .k-button-group .k-group-start
{
    border-radius: 0 @main-border-radius @main-border-radius 0;
}

.k-toolbar .k-button-group > .k-group-end {
    border-radius: @main-border-radius;
}

.k-tool.k-group-end,
.k-toolbar .k-button-group .k-button + .k-group-end,
.k-toolbar .k-split-button .k-split-button-arrow
{
    border-radius: 0 @main-border-radius @main-border-radius 0;
}

.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow
{
    border-radius: @main-border-radius 0 0 @main-border-radius;
}

.k-toolbar:not(.k-spreadsheet-toolbar) .k-button-group {
    .k-button {
        border-left-color: transparent;
    }

    .k-group-start {
        border-left-color: @button-border-color;
    }

    .k-button:focus {
        border-left-color: @button-focused-border-color;
    }
}

.k-group-start.k-group-end.k-tool
{
    border-radius: @main-border-radius;
}

.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu
{
    border-radius: 0 0 @main-border-radius @main-border-radius;
}

.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input
{
    border-radius: 0 0 0 @main-border-radius;
}

.k-multiselect.k-state-border-up .k-multiselect-wrap
{
    border-radius: 0 0 @main-border-radius @main-border-radius;
}

.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down
{
    border-radius: @main-border-radius @main-border-radius 0 0;
}

.k-split-button.k-state-border-down > .k-button
{
    border-radius: @main-border-radius 0 0 0;
}

.k-split-button.k-state-border-up > .k-button
{
    border-radius: 0 0 0 @main-border-radius;
}

.k-split-button.k-state-border-down > .k-split-button-arrow
{
    border-radius: 0 @main-border-radius 0 0;
}

.k-split-button.k-state-border-up > .k-split-button-arrow
{
    border-radius: 0 0 @main-border-radius 0;
}

.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input
{
    border-radius: @inner-border-radius 0 0 @inner-border-radius;
}

.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input
{
    border-radius: 0 @inner-border-radius @inner-border-radius 0;
}

.k-numeric-wrap .k-link
{
    border-radius: 0 @inner-border-radius 0 0;
}

.k-numeric-wrap .k-link + .k-link
{
    border-radius: 0 0 @inner-border-radius 0;
}

.k-colorpicker .k-selected-color
{
    border-radius: @inner-border-radius 0 0 @inner-border-radius;
}

.k-rtl .k-colorpicker .k-selected-color
{
    border-radius: 0 @inner-border-radius @inner-border-radius 0;
}

.k-autocomplete.k-state-border-down .k-input
{
    border-radius: @main-border-radius @main-border-radius 0 0;
}

.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input
{
    border-radius: @main-border-radius 0 0 0;
}

.k-numeric-wrap .k-link.k-state-selected
{
    background-color: @numeric-selected-background;
}

.k-multiselect.k-state-border-down .k-multiselect-wrap
{
    border-radius: @inner-border-radius @inner-border-radius 0 0;
}

.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select+.k-select,
.k-list-container.k-state-border-right
{
    border-radius: 0 @main-border-radius @main-border-radius 0;
}

.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select+.k-select,
.k-rtl .k-list-container.k-state-border-right
{
    border-radius: @main-border-radius 0 0 @main-border-radius;
}

.k-numeric-wrap.k-expand-padding .k-input
{
    .guarded-border-radius(@main-border-radius);
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap
{
    .guarded-border-radius(@inner-border-radius);
}

.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone
{
    .guarded-border-radius(@list-border-radius);
}

.k-slider .k-button,
.k-grid .k-slider .k-button
{
    border-radius: @slider-border-radius;
}

.k-draghandle
{
    border-radius: @draghandle-border-radius;
}

.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link
{
    border-radius: @main-border-radius 0 0 @main-border-radius;
}

.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child .k-link
{
    border-radius: 0 @main-border-radius @main-border-radius 0;
}

.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today,
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today .k-link,
.k-edit-field > .k-scheduler-navigation
{
    border-radius: @main-border-radius;
}

.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link
{
    border-top-right-radius: @main-border-radius;
    border-bottom-right-radius: @main-border-radius;
}

.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link
{
    border-radius: @main-border-radius 0 0 @main-border-radius;
}

.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link
{
    border-radius: @main-border-radius;
}

.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link
{
    border-radius: @inner-border-radius;
}

.k-scheduler-mobile .k-event
{
    border-radius: @inner-border-radius - 1;
}

/* Adaptive Grid */

.k-grid-mobile .k-column-active + th.k-header
{
    border-left-color: @widget-text-color;
}

html .km-pane-wrapper .km-widget,
.k-ie .km-pane-wrapper .k-widget,
.k-ie .km-pane-wrapper .k-group,
.k-ie .km-pane-wrapper .k-content,
.k-ie .km-pane-wrapper .k-header,
.k-ie .km-pane-wrapper .k-popup-edit-form .k-edit-field .k-button,
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-label,
.km-pane-wrapper .k-mobile-list .k-edit-field
{
    color: @widget-text-color;
}

@media screen and (-ms-high-contrast: active)
              and (-ms-high-contrast: none) {
    div.km-pane-wrapper a
    {
        color: @widget-text-color;
    }
}

.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-field,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check
{
    background-color: @widget-background-color;
    border-top: 1px solid @cell-border-color;
}

.km-pane-wrapper .k-mobile-list .k-edit-field textarea
{
    outline-width: 0;
}

.km-pane-wrapper .k-mobile-list .k-item.k-state-selected
{
    background-color: @selected-background-color;
    border-top-color: @selected-border-color;
}

.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check:first-child
{
    border-top-color: transparent;
}

.km-pane-wrapper .k-mobile-list .k-item:last-child
{
    .box-shadow(inset 0 -1px 0 @cell-border-color);
}

.km-pane-wrapper .k-mobile-list > ul > li > .k-link,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-label:nth-child(3),
.km-pane-wrapper #recurrence .km-scroll-container > .k-edit-label:first-child
{
    color: darken(@cell-border-color, 30);
}

.km-pane-wrapper .k-mobile-list > ul > li > .k-link
{
    border-bottom: 1px solid @cell-border-color;
}

.km-pane-wrapper .k-mobile-list .k-edit-field
{
    .box-shadow(0 1px 1px @cell-border-color);
}

.km-actionsheet .k-grid-delete,
.km-actionsheet .k-scheduler-delete,
.km-pane-wrapper .k-scheduler-delete,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]
{
    color: #fff;
    border-color: @error-border-color;
    background-color: red;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.3), rgba(255,255,255,.15));
}

.km-actionsheet .k-grid-delete:active,
.km-actionsheet .k-scheduler-delete:active,
.km-pane-wrapper .k-scheduler-delete:active,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]:active
{
    background-color: darken(red, 20);
}

.km-pane-wrapper .k-pager-numbers .k-link,
.km-pane-wrapper .k-pager-numbers .k-state-selected,
.km-pane-wrapper .k-pager-wrap > .k-link {
    border-radius: 0;
}

.km-pane-wrapper .k-pager-nav.k-pager-first {
    border-radius: 4px 0 0 4px;
}

/* /Column Menu */

.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default
{
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @drop-down-background;
    border-color: @drop-down-border-color;
}

.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-hover-border-color;
}

.k-multiselect.k-header
{
    border-color: @drop-down-border-color;
}

.k-multiselect.k-header.k-state-hover
{
    border-color: @drop-down-hover-border-color;
}

.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-focused-border-color;
    .box-shadow(@focused-shadow);
}

.k-list-container
{
    color: @drop-down-text-color;
}

.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup
{
    color: @drop-down-text-color;
}

.k-state-default > .k-select
{
    border-color: @drop-down-border-color;
}

.k-state-hover > .k-select
{
    border-color: @drop-down-hover-border-color;
}

.k-state-focused > .k-select
{
    border-color: @drop-down-focused-border-color;
}

.k-tabstrip:focus
{
    .box-shadow(@focused-shadow);
}

.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link
{
    color: @tabstrip-tabs-color;
}

.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar > li.k-state-default > .k-link.k-state-hover
{
    color: @hover-text-color;
}

.k-panelbar > .k-state-focused.k-state-hover
{
    background: @hover-background-color;
    .box-shadow(none);
}

.k-tabstrip-items .k-state-default
{
    border-color: @tabstrip-items-border;
}

.k-tabstrip-items .k-state-hover
{
    border-color: @hover-border-color;
}

.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active
{
    background-color: @active-background-color;
    .composite-background(@active-gradient);
    border-color: @active-border-color;
}

.k-tabstrip .k-content.k-state-active
{
    background-color: @tabstrip-active-background;
    color: @widget-text-color;
}

.k-menu.k-header,
.k-menu .k-item
{
    border-color: @menu-border-color;
}

.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group
{
    border-color: @secondary-border-color;
}

.k-overflow-container .k-overflow-group
{
    box-shadow: inset 0 1px 0 lighten(@secondary-border-color, 30%), 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group
{
    box-shadow: 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-toolbar-last-visible.k-overflow-group
{
    box-shadow: inset 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-column-menu .k-separator
{
    border-color: @secondary-border-color;
    background-color: transparent;
}

.k-menu .k-group
{
    border-color: @group-border-color;
}

.k-grid-filter.k-state-active
{
    background-color: @active-filter-background-color;
}

.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td
{
    color: @secondary-text-color;
    border-color: @secondary-border-color;
    font-weight: bold;
}

.k-grouping-header
{
    color: @secondary-text-color;
}

.k-grid tr:hover {
    background-color: @hover-background;
}

.k-pivot-rowheaders .k-grid tr:hover {
    background: none;
}

.k-grid td.k-state-focused
{
    box-shadow: inset 0 0 0 1px @focused-item-shadow;
}

.k-grid tr.k-state-focused:hover td {
    background-color: lighten(@selected-background-color, 37%);
}

.k-grid td.k-state-selected:hover,
.k-grid tr.k-state-selected:hover td {
    background-color: darken(@selected-background-color, 7%);
}

.k-grid tr:hover .k-state-focused.k-state-selected,
.k-grid tr.k-state-selected:hover td.k-state-focused {
    box-shadow: inset 0 0 7px 0 darken(@accent, 30%);
}

.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default
{
    border-color: @secondary-border-color;
}

//Primary buttons
.k-primary,
.k-overflow-container .k-primary
{
    color: @primary-button-text-color;
    border-color: @primary-button-border-color;
    .composite-background(@primary-gradient);
    background-position: 50% 50%;
    background-color: @primary-button-background-color;
    .box-shadow(@primary-shadow);
}

.k-primary:focus,
.k-primary.k-state-focused
{
    color: @primary-focused-color;
    border-color: @primary-focused-border-color;
    .composite-background(@primary-focused-gradient);
    .box-shadow(@primary-focused-active-item-shadow);
}

.k-primary:hover
{
    color: @primary-hover-text-color;
    border-color: @primary-hover-border-color;
    .composite-background(@primary-hover-gradient);
    background-color: @primary-hover-background-color;
    .box-shadow(@primary-hover-shadow);
}

.k-primary:focus:active:not(.k-state-disabled):not([disabled]),
.k-primary:focus:not(.k-state-disabled):not([disabled])
{
    .box-shadow(@primary-focused-active-item-shadow);
}

.k-primary:active
{
    color: @primary-active-text-color;
    border-color: @primary-active-border-color;
    .composite-background(@primary-active-gradient);
    background-color: @primary-active-background-color;
    .box-shadow(@primary-active-shadow);
}

.k-primary.k-state-disabled,
.k-state-disabled .k-primary,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:active,
.k-primary.k-state-disabled:active
{
    color: @primary-disabled-text-color;
    border-color: @primary-disabled-border-color;
    background-color: @primary-disabled-background-color;
    .composite-background(@primary-disabled-gradient);
    .box-shadow(none);
}

// Fix for responsive design
.k-pager-numbers .k-link,
.k-treeview .k-in
{
    border-color: transparent;
}

.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon
{
    background-color: @icon-background-color;
    border-radius: @calendar-border-radius;
}

.k-scheduler-table .k-state-hover .k-icon
{
    background-color: transparent;
}

.k-button:focus,
.k-split-button:focus {
    outline: none;
}

.k-split-button:focus {
    background-color: @button-background-color;
    box-shadow: 0 0 8px 0 lighten(@accent, 13%);
}

.k-split-button:focus > .k-button {
    background: transparent;
    border-color: @button-focused-border-color;
}

.k-editor .k-tool:focus
{
   outline: 0;
   border-color: @button-focused-border-color;
   .box-shadow(@button-focused-shadow);
}

@import "themes/checkbox.less";
@import "themes/radiobutton.less";

// Retina sprite
@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2) {
    .k-icon:not(.k-loading),
    .k-grouping-dropclue,
    .k-drop-hint,
    .k-callout,
    .k-tool-icon,
    .k-state-hover .k-tool-icon,
    .k-state-active .k-tool-icon,
    .k-state-active.k-state-hover .k-tool-icon,
    .k-state-selected .k-tool-icon,
    .k-state-selected.k-state-hover .k-tool-icon,
    .k-column-menu .k-sprite,
    .k-mobile-list .k-check:checked,
    .k-mobile-list .k-edit-field [type=checkbox]:checked,
    .k-mobile-list .k-edit-field [type=radio]:checked {
        background-image: url('@{image-folder}/sprite_2x.png');
        background-size: 340px 336px;
    }
    .k-dropdown-wrap .k-input,
    .k-picker-wrap .k-input,
    .k-numeric-wrap .k-input
    {
        border-radius: @inner-border-radius 0 0 @inner-border-radius;
    }

    .k-i-kpi-decrease,
    .k-i-kpi-denied,
    .k-i-kpi-equal,
    .k-i-kpi-hold,
    .k-i-kpi-increase,
    .k-i-kpi-open
    {
        background-image: url('@{image-folder}/sprite_kpi_2x.png');
        background-size: 96px 16px;
    }
}

// High contrast mode
@media screen and (-ms-high-contrast: active) {
    .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused,
    .k-editor-toolbar-wrap .k-button-group .k-tool:focus {
        border-color: #fff;
    }
}

/* Responsive styles */

@media only screen and (max-width: 1024px) {
    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-safari {   
        
        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
        .k-pager-numbers .k-current-page .k-link
        {
            .composite-background(@widget-gradient);
            background-position: 50% 50%;
            background-color: @drop-down-background;
            border-color: @widget-border-color;
        }
    
        .k-pager-numbers .k-current-page .k-link
        {
            border-color: @secondary-border-color;
        }
        
        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view
        {
            border-radius: @main-border-radius;
        }
        
        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
            border-radius: 0;
        }
        
        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view
        {
            border-radius: @inner-border-radius @inner-border-radius 0 0;
        }
        
        .k-scheduler-toolbar > ul li:first-child, .k-scheduler-toolbar > ul li:first-child .k-link,
        .k-scheduler-toolbar > ul.k-scheduler-views li,
        .k-scheduler-toolbar > ul.k-scheduler-views li .k-link
        {
            border-radius: 0;
        }
        
        .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
        .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link
        {
            border-radius: 0 0 @inner-border-radius @inner-border-radius;
        }
    
        .k-pager-numbers .k-current-page .k-link:hover,
        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover
        {
            border-color: @hover-border-color;
            .composite-background(@hover-gradient);
            background-color: @hover-background-color;
        }
        
        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link
        {
            color: @widget-text-color;
            min-width: 75px;
        }
        
        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link
        {
            color: @hover-text-color;
        }
        
        .k-pager-numbers .k-current-page .k-link:after,
        .k-scheduler-views > li.k-state-selected > .k-link:after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            right: 0.333em;
            width: 1.333em;
            height: 1.333em;
        }
        
        .k-pager-numbers.k-state-expanded,
        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded
        {
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: @secondary-border-color;
            background-color: @header-background-color;
            border-radius: @main-border-radius @main-border-radius 0 0;
            .box-shadow(0 2px 2px 0 @shadow-color);
        }
        
        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded
        {
            border-width: 1px;
            background-image: none;
            border-radius: @main-border-radius;
        }
        
        .k-pager-numbers .k-state-selected,
        .k-pager-numbers .k-link
        {
            .guarded-border-radius(@list-border-radius);
        }

        .k-widget.k-grid .k-pager-nav + .k-pager-numbers
        {
            position: absolute;
        }
    }
}


.k-grid,
.k-scheduler,
.k-menu,
.k-editor
{
    border-radius: @main-border-radius;
}

.k-grid > .k-grouping-header,
.k-grid-header:first-child,
.k-grid-toolbar:first-child,
.k-scheduler > .k-scheduler-toolbar:first-child
{
    border-radius: @inner-border-radius @inner-border-radius 0 0;
}
 
.k-grid-header:first-child th.k-header:first-child,
thead.k-grid-header th.k-header:first-child,
.k-rtl thead.k-grid-header th.k-header:last-child
{
    border-radius: @inner-border-radius 0 0 0;
}
 
.k-rtl .k-grid-header:first-child th.k-header:first-child,
.k-rtl thead.k-grid-header th.k-header:first-child,
thead.k-grid-header th.k-header:last-child
{
    border-radius: 0 @inner-border-radius 0 0;
}
 
.k-grid-pager,
.k-scheduler-footer
{
    border-radius: 0 0 @inner-border-radius @inner-border-radius;
}

.k-menu > .k-first
{
    border-radius: @inner-border-radius 0 0 @inner-border-radius;
}

.k-rtl .k-menu > .k-first
{
    border-radius: 0 @inner-border-radius @inner-border-radius 0;
}

.k-widget.k-treeview
{
    color: @treeview-text-color;
}

.k-treeview .k-in.k-state-hover
{
    color: @treeview-hover-text-color;
}

.k-treeview .k-state-selected,
.k-draghandle.k-state-selected
{
    .box-shadow(none);
}

.k-tabstrip-items .k-state-hover .k-link
{
    color: @tabstrip-tabs-hover-color;
}

.k-tabstrip-items .k-state-active .k-link
{
    color: @active-text-color;
}

.k-tabstrip-items .k-state-active .k-link
{
    color: @active-text-color;
}

.k-tabstrip-items .k-item
{
    background: transparent;
}

.k-tabstrip-items .k-item.k-state-active
{
    background: @widget-background-color;
}

.k-tabstrip-items .k-item.k-state-hover
{
    background: @hover-background-color;
}

.k-tabstrip-items .k-state-focused
{
    border-color: @focused-border-color;
    .box-shadow(@focused-shadow);
}

.k-tabstrip-items .k-state-default.k-state-hover
{
    border-color: @hover-background-color;
}

.k-multiselect .k-button
{
    color: @multiselect-buttons-color;
    border-color: @multiselect-buttons-border-color;
    background-color: @multiselect-buttons-background;
}

.k-multiselect .k-button.k-state-hover
{
    border-color: @multiselect-buttons-hover-border-color;
    background-color: @multiselect-buttons-hover-background;
}

.k-multiselect .k-button:active
{
    color: @multiselect-buttons-color;
    .box-shadow(@focused-active-item-shadow);
}

.k-list > .k-state-hover
{
   border-color: @hover-background-color;
}

.k-scheduler-toolbar > ul > li
{
    background-color: @drop-down-background;
    border-color: @secondary-border-color;
}

.k-menu .k-group
{
    background: @widget-background-color;
}

.k-menu .k-state-default .k-state-border-down
{
    background-color: @menu-active-background;
    .box-shadow(@concave-shadow);
}

.k-menu .k-item > .k-state-border-right,
.k-menu .k-item > .k-state-border-left
{
    background-color: @selected-background-color;
    color: @selected-text-color;
}

.k-menu {
    .k-state-selected > .k-link {
        color: @selected-text-color;
        background-color: @selected-background-color;
        border-color: @selected-border-color;
        .composite-background(@selected-gradient);
    }

    .k-link.k-state-active,
    .k-state-hover > .k-link {
        color: @hover-text-color;
        background-color: @hover-background-color;
        border-color: @hover-border-color;
        .composite-background(@hover-gradient);
    }

    .k-state-hover .k-link.k-state-active {
        background-color: darken(@hover-background-color, 7%);
    }
}

/* Slider */
.k-slider-track
{
    background-color: @widget-background-color;
    border-color: @form-widgets-border-color;
    border-radius: 0;
}

.k-slider-selection
{
    background-color: @slider-selection-background-color;
    border-radius: 0;
}

.k-slider-horizontal .k-tick
{
    background-image: url('@{image-folder}/slider-h.gif');
}

.k-draghandle.k-state-selected,
.k-draghandle.k-state-selected:link,
.k-draghandle.k-state-selected:hover
{
   background-color: @draghandle-selected-background;
   border-color: @draghandle-selected-background;
}

.k-draghandle.k-state-focused,
.k-draghandle.k-state-focused:link,
.k-slider-buttons .k-button:focus,
.k-slider-buttons .k-button:active
{
    .box-shadow(@focused-shadow);
    border-color: @drop-down-focused-border-color;
    background-color: @widget-background-color;
}

.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default,
.k-multiselect.k-header
{
    border-color: @form-widgets-border-color;
}

.k-widget.k-autocomplete,
.k-widget.k-combobox,
.k-widget.k-dropdown,
.k-widget.k-datepicker,
.k-widget.k-datetimepicker,
.k-widget.k-timepicker,
.k-widget.k-numerictextbox,
.k-widget.k-multiselect,
.k-widget.k-menu,
.k-widget.k-progressbar,
.k-progressbar > .k-state-selected
{
    .box-shadow(none);
}

.k-autocomplete.k-state-default .k-input,
.k-combobox .k-state-default .k-input,
.k-picker-wrap.k-state-default .k-input,
.k-numeric-wrap.k-state-default .k-input,
.k-multiselect-wrap,
.k-slider-track,
.k-slider-selection,
.k-progress-status-wrap
{
    .box-shadow(@form-widgets-shadow)
}

.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused
{
    background-color: @widget-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-focused-border-color;
    .box-shadow(@focused-shadow);
}

.k-textbox:hover,
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-hover-border-color;
}

.k-autocomplete.k-state-border-down,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-pager-numbers.k-state-expanded .k-current-page .k-link
{
    border-color: @form-widgets-border-color;
    background-color: @select-background-color;
}

.k-grid-filter.k-state-active
{
    border-color: @hover-border-color;
    background-color: @select-background-color;
    .box-shadow(@selected-shadow);
}

.k-picker-wrap.k-state-active.k-state-border-down,
.k-dropdown-wrap.k-state-active.k-state-border-down,
.k-numeric-wrap .k-link.k-state-selected,
.k-pager-numbers.k-state-expanded .k-current-page .k-link
{
    .box-shadow(@concave-shadow);
}

.k-picker-wrap.k-state-focused > .k-select,
.k-picker-wrap.k-state-active > .k-select,
.k-dropdown-wrap.k-state-focused > .k-select,
.k-dropdown-wrap.k-state-active > .k-select
{
    border-color: @form-widgets-border-color;
}

.k-panelbar > .k-item > .k-link
{
    border-color: @widget-border-color;
}

.k-panelbar > li.k-state-default > .k-link
{
    color: @widget-text-color;
}

.k-panelbar > .k-state-focused
{
    .box-shadow(inset @focused-shadow);
}

.k-toolbar .k-button.k-state-active:hover,
.k-split-container .k-button.k-state-active:hover,
.k-overflow-container .k-button.k-state-active:hover,
.k-panelbar > li > .k-link.k-state-selected
{
    color: @selected-text-color;
}

.k-toolbar .k-button.k-state-active,
.k-split-container .k-button.k-state-active,
.k-overflow-container .k-button.k-state-active,
.k-panelbar .k-link.k-state-selected.k-state-hover
{
    color: @hover-text-color;
}

td.k-state-focused.k-state-selected,
.k-state-selected td.k-state-focused,
.k-listview>.k-state-focused.k-state-selected
{
    .box-shadow(@focused-active-item-shadow);
}

.k-panelbar > .k-state-focused.k-state-hover
{
    background: @hover-background-color;
    .box-shadow(none);
}

.k-panelbar > li .k-state-selected.k-state-hover {
    .box-shadow(none);
}

.k-pager-wrap
{
    color: @pager-text-color;
}

.k-pager-wrap>.k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected
{
    border-radius: 0;
}

.k-grid tr td
{
    border-style: solid;
    border-color: @widget-border-color;
}

.k-pager-wrap .k-link
{
    background: @button-background-color;
    border-color: @secondary-border-color;
    border-right: none;
}

.k-pager-wrap .k-pager-refresh
{
    background: @header-background-color;
}

.k-pager-wrap .k-link:hover
{
    color: @pager-hover-color;
    border-color: @secondary-border-color;
    background: @hover-background-color;
}

.k-grid-header .k-link:link,
.k-grid-header .k-link:visited,
.k-grid-header .k-nav-current.k-state-hover .k-link,
.k-grouping-header .k-link
{
    color: @widget-text-color;
}

.k-pager-wrap .k-pager-nav.k-pager-last
{
    border-radius: 0 4px 4px 0;
    border-right-color: @secondary-border-color;
}

.k-rtl .k-pager-wrap .k-pager-nav.k-pager-last
{
    border-radius: 4px 0 0 4px;
    border-right-width: 0;
}

.k-pager-nav.k-pager-first
{
    border-radius: 4px 0 0 4px;
}

.k-rtl .k-pager-nav.k-pager-first
{
    border-radius: 0 4px 4px 0;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: @secondary-border-color;
    margin-right: 6px;
}

.k-dropzone .k-upload-status
{
    color: @upload-status-color;
}

.k-menu .k-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip
{
    .box-shadow(none);
}

.k-window
{
    border-color: @widget-border-color;
}

.k-state-focused,
.k-button:focus,
.k-button.k-state-focused,
.k-button:focus:active
{
    .box-shadow(@focused-shadow);
}

.k-list>.k-state-focused
{
    .box-shadow(none);
}

.k-button
{
    .box-shadow(none);
}

.k-popup
{
    .box-shadow(0 5px 10px @group-border-color);
}

.k-tooltip
{
    .box-shadow(none);
}

.k-list-container
{
    border-color: @form-widgets-border-color;
}

.k-flatcolorpicker .k-hue-slider .k-draghandle {
    .box-shadow(@draghandle-shadow);
    background: transparent;
    border: 5px solid @draghandle-border-color;
    &:hover, &:focus {
        border-color: @draghandle-border-color;
        .box-shadow(0 0 8px 0 rgba(102,175,233,0.75));
        border-width: 5px;
        padding: 0;
    }
}


// Pager
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected
{
    margin-right: 0;
}

.k-grid .k-pager-numbers,
.k-pager-wrap > .k-link
{
    margin: 0;
}

.k-pager-wrap .k-link
{
    border-right: none;
}

.k-pager-wrap .k-link.k-pager-last
{
    border-right-width: 1px;
    border-right-style: solid;
}

.k-state-disabled .k-button,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active
{
    .box-shadow(none);
}

.k-primary:active
{
    color: @primary-active-text-color;
    border-color: @primary-active-border-color;
    .composite-background(@primary-active-gradient);
    background-color: @primary-active-background-color;
    .box-shadow(@primary-active-shadow);
}

.k-editor-toolbar .k-tool
{
    color: @secondary-text-color;
    background-color: @button-background-color;
    border-color: @secondary-border-color;
}

.k-editor-toolbar .k-tool.k-state-hover
{
    color: @hover-text-color;
    border-color: @hover-border-color;
    background-color: @hover-background-color;
}

.k-editor-toolbar .k-state-selected
{
    .box-shadow(@concave-shadow);
    background-color: @select-background-color;
    border-color: @hover-border-color;
}

.k-editor-toolbar .k-button-group .k-tool-icon
{
    border-color: @secondary-border-color;
}

.k-splitbar,
.k-splitbar:hover
{
    border-color: transparent;
}

.k-button:active
{
    color: @button-text-color;
    background-color:@button-active-background;
    border-color: @hover-border-color;
}

.k-button:active:hover,
.k-button.k-state-active:hover
{
    color: @widget-text-color;
    border-color: @hover-border-color;
    background-color: @hover-background-color;
}

.k-button[disabled],
.k-button.k-state-disabled,
.k-state-disabled .k-button,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active,
.k-button.k-state-disabled:active:hover
{
    color: @disabled-text-color;
    border-color: @disabled-border-color;
    background-color: @disabled-background-color;
    .composite-background(@disabled-gradient);
}

/* Responsive styles  */
 
@media only screen and (max-width: 1024px) {
    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-safari {    
        .k-pager-wrap .k-pager-nav,
        .k-pager-input
        {
            display: inline-block;
            vertical-align: top;
        }
        
        .k-pager-numbers,
        .k-grid .k-pager-numbers
        {
            position: relative;
            display: inline-flex;
            flex-direction: column-reverse;
            margin-left: .3em;
            overflow: visible;
            height: auto;
            transform: translatey(-100%);
            -webkit-transform: translatey(-100%);
        }
        
        .km-pane-wrapper .k-pager-numbers .k-link,
        .km-pane-wrapper .k-pager-numbers .k-state-selected,
        .km-pane-wrapper .k-pager-wrap > .k-link,
        .km-pane-wrapper .k-pager-wrap > .k-pager-info {
            padding-top: 0;
            padding-bottom: 0;
        }
        
        .km-pane-wrapper .k-pager-wrap .k-pager-numbers + .k-pager-nav,
        .km-pane-wrapper .k-pager-nav:first-child + .k-pager-nav + .k-pager-nav
        {
            right: 2.7em;
        }
        
        .k-rtl .k-pager-numbers,
        .k-rtl .k-grid .k-pager-numbers
        {
            right: 5.18em;
            width: 4.45em;
        }
        
        
        .k-pager-numbers .k-current-page,
        .k-grid .k-pager-numbers .k-current-page
        {
            display: block;
            border-left: 0;
            transform: translatey(100%);
            -webkit-transform: translatey(100%);
        }
        
        .k-pager-numbers li:not(.k-current-page)
        {
            display: none;
        }   
        
        .k-pager-numbers .k-current-page .k-link
        {
            width: 3.2em;
            padding: 0 .429em 0 .714em;
            border-radius: @main-border-radius;
            border-right: 1px solid @secondary-border-color;
            color: @widget-text-color;
            background-color: @widget-background-color;
        }
        
        .k-pager-numbers .k-link {
            color: @widget-text-color;
        }
        
        .k-pager-nav.k-pager-first + .k-link {
            border-right: 1px solid @secondary-border-color;
            border-radius: 0 @main-border-radius @main-border-radius 0;
        }
        
        .k-pager-nav.k-pager-first,
        .k-rtl .k-pager-nav.k-pager-first + .k-link {
            border-right: 0;
            border-radius: @main-border-radius 0 0 @main-border-radius;
        }
        
        .k-pager-numbers + .k-link {
            margin-left: 5.6em;
            border-radius: @main-border-radius 0 0 @main-border-radius;
        }
        
        .k-rtl .k-pager-numbers + .k-link {
            margin-right: 5.6em;
            margin-left: 0;
            border-radius: 0 @main-border-radius @main-border-radius 0;
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: @widget-border-color;
        }
        
        .k-pager-numbers .k-state-selected,
        .k-pager-numbers .k-link
        {
            display: block;
            margin-right: 0;
            padding: 1px 5px 1px 5px;
            text-align: left;
        }
        
        .k-pager-numbers.k-state-expanded
        {
            box-sizing: border-box;
            padding: 2px 2px 0;
            background-color: @widget-background-color;
        }
        
        .k-pager-numbers.k-state-expanded .k-current-page
        {
            margin: -2em -3px 0;
            padding: 0;
        }
        
        .k-pager-numbers.k-state-expanded .k-current-page .k-link
        {
            border-radius: 0 0 @main-border-radius @main-border-radius;
        }
        
        .k-pager-numbers.k-state-expanded li
        {
            display: inline-block;
        }
        .k-pager-numbers.k-state-expanded li:not(.k-current-page) .k-link
        {
            border: 0;
            background-color: @widget-background-color;
            border-radius: @inner-border-radius;
        }
        
        .k-pager-numbers .k-state-selected
        {
            border-radius: @inner-border-radius;
        }
        .k-pager-numbers.k-state-expanded li:not(.k-current-page) .k-link:hover
        {
            color: @hover-text-color;
            background-color: @hover-background-color;
        }
    }
}

@media only screen and (max-width: 640px) {
    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-safari {
        .k-pager-info {
            display: none;
        }
    }    
}

@media only screen and (max-width: 480px) {
    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-safari {
        .k-pager-sizes {
            display: none;
        }
    }    
}

.k-chart .k-selection {
    border-color: #cccccc;
    transition: box-shadow .2s linear, border-color .2s linear;
}

.k-chart .k-selection:hover {
    border-color: #9e9e9e;
}

.k-chart .k-handle {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);
    border-radius: 10px;
}

.k-chart .k-handle:hover {
    background-color: #ffffff;
    border-color: #cccccc;
    box-shadow: 0 0 0 2px rgba(0,0,0,.3);
}

.k-chart .k-leftHandle {
    left: -8px;
}

.k-chart .k-rightHandle {
    right: -8px;
}

.k-chart .k-navigator-hint .k-tooltip {
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    background: #ffffff;
    color: #676767;
}

.k-chart .k-navigator-hint .k-scroll {
    background: rgba(0,124,204,.7);
    height: 4px;
}

.k-chart .k-tooltip,
.k-sparkline .k-tooltip {
  background-image: none;
}

/* Map */

.k-map .k-marker {
    background-image: url("@{image-folder}/markers.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .k-map .k-marker {
        background-image: url("@{image-folder}/markers_2x.png");
    }
}
@import "themes/spreadsheet.less";

.k-spreadsheet {
    .k-widget {
        &[data-property='fontSize'] { width: 70px; }
        &[data-property='format'] { width: 100px; }
        &[data-property='fontFamily'] { width: 130px; }
    }
}
